@table-enabled: true;

/*
 * Table Cell
 */

/* Layout */

// Horizontal Right

@table-cell-content-margin-horizontal: 6px;
@table-cell-content-margin-horizontal-screen-small: null;
@table-cell-content-margin-horizontal-screen-medium: null;
@table-cell-content-margin-horizontal-screen-large: null;
@table-cell-content-margin-horizontal-screen-jumbo: null;

/*
 * Table Cell Caret
 */

/* Caret Styling */

// Default

@table-cell-caret-color: @grey-dark;

// Inverse

@table-cell-inverse-caret-color: @grey-light;

/* Caret Layout */

// Caret Width

@table-cell-caret-width: 8px;
@table-cell-caret-width-screen-small: null;
@table-cell-caret-width-screen-medium: null;
@table-cell-caret-width-screen-large: null;
@table-cell-caret-width-screen-jumbo: null;

// Caret Height

@table-cell-caret-height: 5px;
@table-cell-caret-height-screen-small: null;
@table-cell-caret-height-screen-medium: null;
@table-cell-caret-height-screen-large: null;
@table-cell-caret-height-screen-jumbo: null;

/*
 * Table Cell Link Styling
 */

/* Default */

// Normal

@table-cell-link-color: @grey-dark;
@table-cell-link-font-family: null;
@table-cell-link-font-style: null;
@table-cell-link-font-weight: null;
@table-cell-link-text-transform: null;
@table-cell-link-text-shadow: null;
@table-cell-link-text-decoration: none;
@table-cell-link-text-rendering: null;

// Hover

@table-cell-link-hover-color: null;
@table-cell-link-hover-font-family: null;
@table-cell-link-hover-font-style: null;
@table-cell-link-hover-font-weight: null;
@table-cell-link-hover-text-transform: null;
@table-cell-link-hover-text-shadow: null;
@table-cell-link-hover-text-decoration: null;
@table-cell-link-hover-text-rendering: null;

// Disabled

@table-cell-link-disabled-color: null;
@table-cell-link-disabled-font-family: null;
@table-cell-link-disabled-font-style: null;
@table-cell-link-disabled-font-weight: null;
@table-cell-link-disabled-text-transform: null;
@table-cell-link-disabled-text-shadow: null;
@table-cell-link-disabled-text-decoration: null;
@table-cell-link-disabled-text-rendering: null;

/* Active */

// Normal

@table-cell-link-active-color: null;
@table-cell-link-active-font-family: null;
@table-cell-link-active-font-style: null;
@table-cell-link-active-font-weight: null;
@table-cell-link-active-text-transform: null;
@table-cell-link-active-text-shadow: null;
@table-cell-link-active-text-decoration: null;
@table-cell-link-active-text-rendering: null;

// Hover

@table-cell-link-active-hover-color: null;
@table-cell-link-active-hover-font-family: null;
@table-cell-link-active-hover-font-style: null;
@table-cell-link-active-hover-font-weight: null;
@table-cell-link-active-hover-text-transform: null;
@table-cell-link-active-hover-text-shadow: null;
@table-cell-link-active-hover-text-decoration: null;
@table-cell-link-active-hover-text-rendering: null;

// Disabled

@table-cell-link-active-disabled-color: null;
@table-cell-link-active-disabled-font-family: null;
@table-cell-link-active-disabled-font-style: null;
@table-cell-link-active-disabled-font-weight: null;
@table-cell-link-active-disabled-text-transform: null;
@table-cell-link-active-disabled-text-shadow: null;
@table-cell-link-active-disabled-text-decoration: null;
@table-cell-link-active-disabled-text-rendering: null;
