@fill-enabled: true;

/*
 * Styling
 */

/* Light */

@fill-light-background-color: color-lighten(@neutral, 95);
@fill-light-background-gradient-color-top: null;
@fill-light-background-gradient-color-bottom: null;
@fill-light-border-width: null;
@fill-light-border-color: null;
@fill-light-border-style: null;
@fill-light-border-top-width: null;
@fill-light-border-top-color: null;
@fill-light-border-top-style: null;
@fill-light-border-right-width: null;
@fill-light-border-right-color: null;
@fill-light-border-right-style: null;
@fill-light-border-bottom-width: null;
@fill-light-border-bottom-color: null;
@fill-light-border-bottom-style: null;
@fill-light-border-left-width: null;
@fill-light-border-left-color: null;
@fill-light-border-left-style: null;
@fill-light-shadow: null;

/* Dark */

@fill-dark-background-color: color-lighten(@neutral, -25);
@fill-dark-background-gradient-color-top: null;
@fill-dark-background-gradient-color-bottom: null;
@fill-dark-border-width: null;
@fill-dark-border-color: null;
@fill-dark-border-style: null;
@fill-dark-border-top-width: null;
@fill-dark-border-top-color: null;
@fill-dark-border-top-style: null;
@fill-dark-border-right-width: null;
@fill-dark-border-right-color: null;
@fill-dark-border-right-style: null;
@fill-dark-border-bottom-width: null;
@fill-dark-border-bottom-color: null;
@fill-dark-border-bottom-style: null;
@fill-dark-border-left-width: null;
@fill-dark-border-left-color: null;
@fill-dark-border-left-style: null;
@fill-dark-shadow: null;
