.deployments-table {

  td {
    vertical-align: top;
  }

  .deployment-services-list,
  .deployment-start-time,
  .deployment-step,
  .deployment-status-list,
  .deployment-rollback {
    font-size: @body-text-font-size;
  }

  .deployment-id {
    margin-bottom: 8px;
    .text-overflow;
  }

  .deployment-service-icon {
    margin: 0 8px;
    flex-shrink: 0;
  }

  .deployment-service-name {
    .text-overflow;
  }

  .deployment-location-list {
    padding-top: 25px;
  }

  .deployment-location-list li,
  .deployment-status-list li {
    margin-bottom: 0;
  }

  .deployment-breadcrumb {
    .deployment-breadcrumb-service-id {
      display: none;
    }
    .deployment-breadcrumb-crumb {
      line-height: 32px;
      font-size: @body-text-font-size;
    }
  }

  .deployment-step {
    display: inline-block;
    margin-bottom: 8px;
  }
  .deployment-status-list {
    li {
      line-height: 32px;
    }
  }

}
