

// TODO: Remove Me
.tooltip {
  display:none;
}

html,
body {

  height: 100%;
  margin: 0px;
  overflow: hidden;
  width: 100%;

}

#application > div {

  height: 100%;

}

#application,
.canvas {

  height: 100%;
  overflow: hidden;

}

::selection {

  background: color-lighten(@purple, 0);

}

.clickable {

  cursor: pointer;

}

.default-cursor {

  cursor: auto;

}

.clear {

  clear: both;

}

.hidden {

  display: none !important;

}

.allow-overflow {

  overflow: visible;

}

.no-overflow {

  overflow: hidden;

}

.no-overflow-horizontal {

  overflow-x: hidden;

}

.highlight {

  background-color: color-lighten(@yellow, 60);
  color: @neutral;

  &.selected {

    background-color: @yellow;

  }

}

.fade-in-on-hover {

  opacity: 0.2;

  &:hover {

    opacity: 0.6;

  }

}

.container-scrollable {

  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  & > .gm-scrollbar-container {

    height: 100%;

  }

}

& when (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

  }

}

& when (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

  }

}

& when (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

  }

}

& when (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

  }

}
