/*
 * Layout Breakpoints
 */

@layout-screen-small-min-height: 600px;
@layout-screen-small-max-height: 699px;

@layout-screen-medium-min-height: 700px;
@layout-screen-medium-max-height: 799px;

@layout-screen-large-min-height: 800px;
@layout-screen-large-max-height: 999px;

@layout-screen-jumbo-min-height: 1000px;
@layout-screen-jumbo-max-height: null;
