& when (@alert-enabled) {

  .message {

    // Make message content the same color by default
    a,
    p,
    ul,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: inherit;
    }

    // Remove top margin from the first child so we're not reliant on flush-top
    > :first-child {
      margin-top: 0;
    }

    // Remove bottom margin from the last child so we're not reliant on flush-bottom
    > :last-child {
      margin-bottom: 0;
    }
  }
}
