/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Breadcrumbs

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.breadcrumbs {

  .icon {
    opacity: 0.3;
    margin-right: @base-spacing-unit * 0.5;
    margin-left: @base-spacing-unit * 0.5;
  }

}
