/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Breadcrumbs

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.breadcrumbs {

  &.inverse {

    a {
      color: inherit;

      &:hover {
        color: color-lighten(@neutral, 20);
        text-decoration: none;
      }

      &:active {
        color: color-lighten(@neutral, 30);
      }
    }
  }

  .icon {
    opacity: 0.3;
    margin-right: @base-spacing-unit * 0.5;
    margin-left: @base-spacing-unit * 0.5;
  }

}

.breadcrumb {
  display: flex;
  flex: 0 0;
  font-size: @base-spacing-unit * .65;
  line-height: @base-spacing-unit;
  list-style: none !important;
  padding-top: 8px; // this + container-pod-short-top = 32px;
  padding-bottom: 32px;
  margin: 0;

  li {
    display: flex;
    margin: 0;

    + li::before {
      display: none; /* override Bootstrap */
    }

    &:last-child {

      a {
        color: color-lighten(@neutral, 20);
        cursor: default;
        margin: 0;

        &::before {
          content: "";
        }
      }
    }

    a {
      color: @neutral;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        color: color-lighten(@neutral, 10);
      }
    }

    .icon {
      height: @base-spacing-unit;
      margin-right: @base-spacing-unit * 0.5;
      margin-left: @base-spacing-unit * 0.5;
      opacity: 0.5;
      width: 14px;
    }
  }

  &.inverse {

    a {
      color: color-lighten(@neutral, 30);

      &:hover {
        color: color-lighten(@neutral, 60);
      }
    }

    li:last-child {

      a {
        color: color-lighten(@neutral, 90);
        text-decoration: none;

        &:hover {
          color: color-lighten(@neutral, 90);
        }
      }
    }
  }

  &.collapsed {

    a {
      width: 0.75em;

      &::before {
        content: "...";
        display: inline-block;
        width: 0.75em;
      }
    }

    li:first-child,
    li:last-child {
      a {
        width: auto;

        &::before {
          content: "";
          width: auto;
        }

      }
    }

    li:last-child {
      flex: 1;
      // min-width is necessary to resolve Firefox flexbox bug
      // (https://bugzilla.mozilla.org/show_bug.cgi?id=823483)
      min-width: 0;

      a {
        text-overflow: ellipsis;
      }
    }
  }
}
