/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

components/buttons.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@button-enabled) {

  .go-to-bottom-button {
    bottom: 32px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .button {

    &-enter, &-appear {
      opacity: 0.01;
      transform: translate(-50%, -100%);
      transition: transform 350ms ease-in, opacity 350ms ease-in;

      &.button {

        &-enter-active, &-appear-active {
          opacity: 1;
          transform: translate(-50%, 0);
        }
      }
    }

    &.button-short {
      height: auto;
      padding-bottom: 4px;
      padding-top: 4px;
    }

    &.button-fixed-width {

      &.button-fixed-width-small {
        width: @base-spacing-unit * 3;
      }
    }

    &-up-arrow,
    &-down-arrow {
      &:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        content: '';
        display: inline-block;
        vertical-align: middle;
      }
    }

    &-up-arrow {
      &:after {
        border-bottom: 6px solid color-lighten(@neutral, 10);
      }
    }

    &-down-arrow {
      &:after {
        border-top: 6px solid color-lighten(@neutral, 10);
      }
    }
  }

  .button-leave {
    opacity: 1;
    transform: translate(-50%, 0);

    &.button-leave-active {
      opacity: 0.01;
      transform: translate(-50%, -100%);
      transition: transform 350ms ease-in, opacity 350ms ease-in;
    }
  }

  .button-collection {

    & > .dropdown {
      margin-right: @button-collection-spacing;
      margin-bottom: @button-collection-spacing;
      vertical-align: middle;
    }

    &.button-collection-stacked {

      .button {
        margin-right: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Button Group

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .button-group {

    margin-bottom: @base-spacing-unit * 0.5;

    .dot {

      margin-right: @base-spacing-unit * 0.25;

    }

    .badge {

      margin-left: @base-spacing-unit * 0.25;

    }

    &-directions {

      white-space: nowrap;

      .button {

        background: color-lighten(@neutral, 90);
        display: inline-block;
        float: none;

      }

    }

  }

  .button-align-content {

    align-items: center;
    display: flex;
    flex-flow: row nowrap;

  }

  .button-split-content {

    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

  }

  .button-inverse .badge {

    background-color: @white;

  }

}






& when (@button-enabled) and (@screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Mini (@screen-mini) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {

    .button-collection {

      & > .dropdown {
        margin-right: @button-collection-spacing-screen-mini;
        margin-bottom: @button-collection-spacing-screen-mini;
      }
    }

  }

}






& when (@button-enabled) and (@screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Small (@screen-small) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {

    .button-collection {

      & > .dropdown {
        margin-right: @button-collection-spacing-screen-small;
        margin-bottom: @button-collection-spacing-screen-small;
      }
    }

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Button Group

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .button-group {

      .dot {

        margin-right: @base-spacing-unit-screen-small * 0.15;

      }

      .badge {

        margin-left: @base-spacing-unit-screen-small * 0.15;

      }

    }

  }

}






& when (@button-enabled) and (@screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Medium (@screen-medium) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {

    .button-collection {

      & > .dropdown {
        margin-right: @button-collection-spacing-screen-medium;
        margin-bottom: @button-collection-spacing-screen-medium;
      }
    }

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Button Group

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .button-group {

      .dot {

        margin-right: @base-spacing-unit-screen-medium * 0.15;

      }

      .badge {

        margin-left: @base-spacing-unit-screen-medium * 0.15;

      }

    }

  }

}






& when (@button-enabled) and (@screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Large (@screen-large) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {

    .button-collection {

      & > .dropdown {
        margin-right: @button-collection-spacing-screen-large;
        margin-bottom: @button-collection-spacing-screen-large;
      }
    }

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Button Group

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .button-group {

      .dot {

        margin-right: @base-spacing-unit-screen-large * 0.15;

      }

      .badge {

        margin-left: @base-spacing-unit-screen-large * 0.15;

      }

    }

  }

}
