/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

base/forms.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@multiple-form-modal-column-padding-horizontal: @base-spacing-unit * 1/4;





& when (@form-enabled) {

  .lb-port-input-field-disabled {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Inline Form Elements

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */
  .form-element-inline {
    display: inline-block;

    & + .form-element-inline {
      margin-left: @base-spacing-unit;
    }
  }

  .horizontal-center {

    .form-element-inline {
      border-radius: 0;

      .form-element-inline-text {
        flex: none;
      }

      .form-element-inline-icon {
        flex: none;
      }

    }

    .form-row-read {

      .form-element-inline-text {
        // The 16px offsets the width of the inline edit icon
        margin-left: @base-spacing-unit * 1/2 + 16px;
      }

    }

  }

  .permission-form {
    min-height: 325px;
  }

  .review-config,
  .multiple-form {
    height: 462px;
  }

  .multiple-form-modal,
  .permission-form-modal,
  .review-config {

    .button-collection {
      display: flex;
      justify-content: space-between;

      .button {

        &:first-child {
          align-self: flex-start;
        }

        &:last-child {
          align-self: flex-end;
        }
      }

      &:after, &:before {
        display: none;
      }
    }
  }

  .multiple-form-modal {

    .form-row-element {

      &.checkbox {
        align-items: flex-end;
        display: flex;

        .form-element-checkbox {
          padding-bottom: 6px;
        }
      }
    }

    .form-header {
      color: @neutral;
    }

    .form {
      margin-bottom: @base-spacing-unit;

      &:last-child {
        margin-bottom: 0;
      }

      .icon.icon-error {
        transform: rotate(180deg);
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      .checkbox .form-group label {
        padding-left: 0;
      }
    }

    dl {
      margin: 0;
      margin-bottom: @base-spacing-unit * 0.4;
    }

    .multiple-form {
      display: flex;
      flex-direction: column;

      .form-row-element {
        padding-bottom: @base-spacing-unit * 2/3;

        &.hidden-form-element {
          display: none;
        }
      }

      .duplicable-row-title-wrapper {

        .form-row-remove-button {
          padding-bottom: 0;
        }
      }

      .media-object-item {
        padding-bottom: 0;
      }

      .multiple-form-left-column {
        flex: 0 0 auto;
        height: auto;
        max-height: 300px;
        overflow: auto;
        padding-right: 0;

        &:first-child {
          border-bottom: 1px solid color-lighten(@neutral, 80);
        }

      }

      .multiple-form-right-column {
        // Make right column scroll
        flex: 1 1;
        padding: @base-spacing-unit 0;
      }

    }

    .form-panel {
      padding-left: @base-spacing-unit;
      padding-right: @base-spacing-unit;

      > .form > *:last-child {
        padding-bottom: @base-spacing-unit;
      }

      > .form > .healthChecks {
        flex-direction: column;

        .form-row-element {
          padding-left: 0px;
          padding-right: 0px;
          width: auto;
        }
      }
    }

    // Override column padding.
    [class*="column-"] {
      padding-left: @multiple-form-modal-column-padding-horizontal;
      padding-right: @multiple-form-modal-column-padding-horizontal;
    }

  }

  .duplicable-row-title-wrapper {
    display: flex;

    .duplicable-row-title-container {
      align-self: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .duplicable-row-title {
        align-self: flex-start;
        color: @heading-h3-text-color;
        font-size: @form-label-font-size * @form-label-font-size-scale-screen-small * 1.2;
      }
    }
  }

  .modal-form {

    .error-field {
      background: color-lighten(@red, 60);
      border-bottom: @red 1px solid;
      padding: (@base-spacing-unit / 2) @base-spacing-unit;

      li:before {
        background-color: currentColor;
      }
    }

    label {
      white-space: nowrap;
    }

    .modal-header {
      background: @white;

      .header-flex {
        display: flex;
        flex-wrap: wrap-reverse;
        width: 100%;

        .header-left, .header-right {
          display: inline-flex;
          flex: 0 0 auto;
          flex-wrap: wrap;
          max-width: 100%;
          width: auto;
        }

        .header-right {
          margin-left: auto;
          padding-right: 0;
        }
      }
    }

    .modal-header-title {
      color: @heading-h3-text-color;
      font-size: @form-label-font-size * @form-label-font-size-scale-screen-small;
      line-height: @form-label-line-height * @form-label-line-height-scale-screen-small;
    }

    .modal-form-title-label {
      color: currentColor;
      font-weight: 300;
    }

  }

}

& when (@screen-small-enabled) {

  @media (min-width: @screen-small) {

    .multiple-form-modal {

      .multiple-form {
        flex-direction: row;

        .multiple-form-left-column {
          border-right: 1px solid color-lighten(@neutral, 80);
          // Take up full height of container to
          height: 100%;
          max-height: 100%;
          // Override gemini width styles
          width: 33%;

          &:first-child {
            border-bottom: none;
          }

        }

        .multiple-form-right-column {
          // Override gemini width styles
          width: 67%;
        }

      }

    }

  }

}
