@keyframes candy-stripe {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 16px 0;
  }
}

.progress-bar {
  background-color: @neutral;
  border-radius: @table-header-border-radius;
  display: inline-block;
  height: @progress-bar-height;
  line-height: @body-text-line-height;
  overflow: hidden;
  width: @progress-bar-width;

  .bar {
    box-shadow: 1px 0px 0px 0px @body-background-color;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 600ms;
    width: 100%;

    &.color-1 {
      background-color: @purple;
    }

    &.color-2 {
      background-color: @pink;
    }

    &.color-3 {
      background-color: @blue;
    }

    &.color-4, &.healthy {
      background-color: @green;
    }

    &.color-5, &.unhealthy {
      background-color: @red;
    }

    &.color-6, &.staged {
      background-color: @yellow;
    }
  }
}

.spread-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: @base-spacing-unit * 0.5;
}

.segmented-progress-bar {

  .segmented-progress-bar-segments {
    display: flex;

    .progress-bar-fill-wrapper {
      background: color-lighten(@neutral, 85);
      margin: 0;
      width: 100%;
    }

    .stacked-progress-bar {
      flex: 1 0 auto;
      margin-right: 0;
      padding-right: @base-spacing-unit * 1/8;
      width: auto;

      .progress-bar-fill-wrapper,
      .progress-bar-fill {
        border-radius: 0;
      }

      &:first-child {

        .progress-bar-fill-wrapper,
        .progress-bar-fill {
          border-radius: 10px 0 0 10px;
        }
      }

      &:last-child {
        padding-right: 0;

        .progress-bar-fill-wrapper,
        .progress-bar-fill {
          border-radius: 0 10px 10px 0;
        }
      }

      &.is-ongoing {

        .progress-bar-fill {
          box-shadow: 0 0 5px @green;
        }
      }
    }
  }

  .segmented-progress-bar-title {
    margin-bottom: @base-spacing-unit * 1/6;

    a {
      color: @neutral;
      text-decoration: underline;

      &:hover {
        color: @neutral;
      }
    }
  }
}
