@keyframes candy-stripe {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 16px 0;
  }
}

.progress-bar {
  background-color: @neutral;
  border-radius: @table-header-border-radius;
  display: inline-block;
  height: @progress-bar-height;
  line-height: @body-text-line-height;
  overflow: hidden;
  width: @progress-bar-width;

  .bar {
    box-shadow: 1px 0px 0px 0px @body-background-color;
    height: 100%;
    transition: width 600ms;

    &.color-1 {
      background-color: @purple;
    }

    &.color-2 {
      background-color: @pink;
    }

    &.color-3 {
      background-color: @blue;
    }

    &.color-4, &.healthy {
      background-color: @green;
    }

    &.color-5, &.unhealthy {
      background-color: @red;
    }

    &.color-6, &.staged {
      background-color: @yellow;
    }

  }
}

.spread-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: @base-spacing-unit * 0.5;
}

.upgrade-progress-bar {
  display: block;
  margin-right: @base-spacing-unit * 2/3;

  &.is-ongoing,
  &.is-waiting {

    .progress-bar-label {
      color: @green;
    }

    .progress-bar-fill {
      .candy-stripe(color-lighten(@green, 10), color-lighten(@green, -10));
      animation: candy-stripe 1s linear infinite;
      background-size: 16px 16px;
    }
  }

  &.is-waiting {

    .progress-bar-label {
      color: @white;
    }
  }

  &.is-paused {

    .progress-bar-fill {
      background: color-lighten(@neutral, 40);
    }
  }

  .progress-bar-label {
    font-weight: 600;
  }

  .progress-bar-fill-wrapper,
  .progress-bar-fill {
    height: 7px;
  }

  .progress-bar-fill-wrapper {
    background: @neutral;
    border-radius: 10px;
    display: inline-block;
    margin: 0 @base-spacing-unit * 1/4;
    overflow: hidden;
    width: 150px;
  }

  .progress-bar-fill {
    transition: width 600ms;
  }

  .progress-bar-label-action {

    a {
      color: @white;
      text-decoration: underline;
    }
  }
}
