& when (@table-enabled) {

  .service-table {
    table-layout: fixed;

    .status-bar-column {

      width: 138px;

    }

    .status-bar-text {
      display: none;
    }

  }

  @media (min-width: 1400px) {

    .service-table {

      .status-bar-column {

        width: 300px;

      }

      .status-bar-text {
        display: inline;
      }
    }

  }

}
