.sidebar-filters {
  width: 100%;
  margin-right: @base-spacing-unit * 2.0;
  margin-bottom: @base-spacing-unit;

  .column-12 {
    padding: 0;
  }

  .filter-label {
    .form-element-checkbox-label {
      flex-grow: 1;
    }

    .badge {
      width: @base-spacing-unit;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}

& when (@screen-mini-enabled) {

  @media (min-width: @screen-mini) {

    .sidebar-filters {
      width: 165px;
    }

  }
}
