.sidebar-filters {
  width: 100%;
  margin-right: @base-spacing-unit * 2.0;
  margin-bottom: @base-spacing-unit;

  /*
    TODO (@aldipower and @kennyt):
      Remove this from here once the checkbox becomes flexible enough
      and this becomes obsolete.
  */
  .filter-label {
    .form-element-checkbox-label {
      flex-grow: 1;
    }
  }
}

& when (@screen-mini-enabled) {

  @media (min-width: @screen-mini) {

    .sidebar-filters {
      width: 165px;
    }

  }
}
