& when (@table-enabled) {

  .service-table {
    table-layout: fixed;

    // We don't want the status bar to increase the height of the table row
    // when it wraps to two lines.
    .status-bar-wrapper {
      line-height: 1;
    }

    .status-bar-column {
      width: @base-spacing-unit * 4;
    }

    .status-bar-indicator {
      margin-right: @base-spacing-unit * 1/2;
    }

    .status-bar-text {
      white-space: nowrap;
    }

    .status-bar-count {
      display: none;
    }

  }

  & when (@screen-mini-enabled) {

    @media (min-width: @screen-mini) {

      .service-table {

        .status-bar-column {
          width: @base-spacing-unit * 7;
        }
      }

    }

  }

  & when (@screen-small-enabled) {

    @media (min-width: @screen-small) {

      .service-table {

        .status-bar-column {
          width: @base-spacing-unit * 10;
        }

        .status-bar-wrapper {
          white-space: nowrap;
        }
      }

    }

  }

  & when (@screen-x-large-enabled) {

    @media (min-width: @screen-x-large) {

      .health-bar-tooltip-instances-total {
        display: none;
      }

      .service-table {

        .status-bar-column {
          width: @base-spacing-unit * 15;
        }

        .status-bar-count {
          display: inline;
        }
      }

    }

  }

}
