.sidebar-filters {
  .form-row-element {
    .filter-active {
      color: color-lighten(@neutral, 75);
    }

    .filter-checked, &:hover {
      color: @white;
    }
  }

  .form-element-checkbox-label {
    flex-grow: 1;
  }
}
