.sidebar-tabs {

  padding-top: @base-spacing-unit * 0.5;
  padding-left: @base-spacing-unit;

  /* -----------------------------------------------------------------------------
  Sidebar Menu Item
  ----------------------------------------------------------------------------- */

  .sidebar-menu-item {
    color: color-lighten(@neutral, 50);
    padding-right: @base-spacing-unit * 0.5;
    margin-bottom: @base-spacing-unit * 0.15;
    position: relative;

    &:after {
      bottom: 0;
      content: '';
      height: 1px;
      left: @grid-container-fluid-narrow-gutter-width;
      position: absolute;
      right: @grid-container-fluid-narrow-gutter-width;
    }

    &:last-child {

      &:after {
        display: none;
      }

    }

    a {
      color: color-lighten(@neutral, 50);
      display: block;
      padding-bottom: (@base-spacing-unit * 0.3);
      padding-right: @base-spacing-unit;
      padding-top: (@base-spacing-unit * 0.3);

      &:hover {
        color: color-lighten(@neutral, 30);
        text-decoration: none;
      }

      &:active {
        color: color-lighten(@neutral, 50);
        text-decoration: none;
      }

    }

    &.selection-header {

      a {
        color: @purple;
      }

    }

  }

}

@media (max-width: @screen-mini-max) {

  .sidebar-tabs {

    .sidebar-menu-item {
      .text-styling(
        @heading-h3-text-color,
        @heading-h3-text-font-family,
        @heading-h3-text-font-size,
        @heading-h3-text-font-style,
        @heading-h3-text-font-weight,
        @heading-h3-text-line-height,
        @heading-h3-text-transform,
        @heading-h3-text-shadow
      );
    }

  }
}

@media (min-width: @screen-small) {

  .sidebar-tabs {

  }

}

@media (min-width: @screen-small) {

  .sidebar-tabs {

    .sidebar-menu-item {

      &.selected {
        border-right: 3px solid @purple;

        a {
          color: @purple;
        }

      }

    }

  }

}
