/* -----------------------------------------------------------------------------
  Status Bar component
  ----------------------------------------------------------------------------- */

.status-bar {
  border-radius: 10rem;
  rect {
    fill: currentColor;
    transition: all .3s;
  }
}
