@keyframes active-upgrade-block-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@upgrade-block-heading-color: @neutral;
@upgrade-block-heading-margin: @base-spacing-unit * 1/4;
@upgrade-block-heading-font-size: @body-text-font-size;
@upgrade-block-subheading-color: color-lighten(@neutral, 50);
@upgrade-block-subheading-margin: @base-spacing-unit * 1/2;

@upgrade-block-active-color: color-lighten(@green, 50);
@upgrade-block-upcoming-color: color-lighten(@neutral, 80);
@upgrade-block-complete-color: @green;

@upgrade-block-active-color-hover: color-lighten(@green, -20);
@upgrade-block-upcoming-color-hover: color-lighten(@neutral, 60);
@upgrade-block-complete-color-hover: color-lighten(@green, -20);

@upgrade-block-active-color-selected: @green;
@upgrade-block-upcoming-color-selected: @neutral;
@upgrade-block-complete-color-selected: color-lighten(@green, -50);

@upgrade-block-label-margin: @base-spacing-unit * 1/4;
@upgrade-block-padding: 1px;
@upgrade-block-tooltip-font-size: @body-text-font-size;

.upgrade-package-modal {

  .container {
    width: 100%;
  }

  .segmented-progress-bar {
    text-align: left;
    width: 100%;
  }
}

.upgrade-package-modal-details-button {
  position: relative;

  &.is-expanded {

    &:after {
      transform: scaleX(1);
    }
  }

  &:after {
    background: @upgrade-block-upcoming-color;
    content: '';
    height: 1px;
    left: -24px;
    position: absolute;
    right: -24px;
    top: 50%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s;
    width: auto;
    z-index: 1;
  }

  .button {
    background: @white;
    position: relative;
    z-index: 2;

    &:hover {
      background: color-lighten(@white, -2);
    }
  }
}

.upgrade-package-modal-details-heading,
.upgrade-package-modal-details-subheading {
  display: block;
  font-size: @upgrade-block-heading-font-size;
}

.upgrade-package-modal-details-heading {
  margin-bottom: @upgrade-block-heading-margin;

  &,
  strong {
    color: @upgrade-block-heading-color;
  }
}

.upgrade-package-modal-details-subheading {
  color: @upgrade-block-subheading-color;
  margin-bottom: @upgrade-block-subheading-margin;
}

.upgrade-package-modal-details-blocks {
  line-height: 0;
  margin: 0;
  text-align: left;
}

.upgrade-package-modal-details-block {
  cursor: pointer;
  display: inline-block;

  .upgrade-package-modal-details-block-content {
    height: 12px;
    padding: @upgrade-block-padding;
    width: 12px;
  }

  .icon {
    fill: @upgrade-block-upcoming-color;
  }

  &:hover {

    .icon {
      fill: @upgrade-block-upcoming-color-hover;
    }
  }

  &.is-selected {

    .icon {
      fill: @upgrade-block-upcoming-color-selected;
    }
  }

  .tooltip {
    font-size: @upgrade-block-tooltip-font-size;
  }

  &.is-complete {

    .icon {
      fill: @green;
    }

    &:hover {

      .icon {
        fill: @upgrade-block-complete-color-hover;
      }
    }

    &.is-selected {

      .icon {
        fill: @upgrade-block-complete-color-selected;
      }
    }
  }

  &.is-active {

    .icon {
      animation: active-upgrade-block-pulse 1.5s linear infinite;
      fill: @upgrade-block-active-color;
    }

    &:hover {

      .icon {
        fill: @upgrade-block-active-color-hover;
      }
    }

    &.is-selected {

      .icon {
        fill: @upgrade-block-active-color-selected;
      }
    }
  }

}

.upgrade-package-modal-details-block-label {
  display: inline-block;
  margin-right: @upgrade-block-label-margin;

  strong {
    color: @white;
    font-size: inherit;
  }

  a {
    display: inline-block;
    margin-right: @upgrade-block-label-margin;
  }
}

.upgrade-package-modal-details-block-tooltip {

  a {
    display: inline-block;
    margin-right: @upgrade-block-label-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}

.upgrade-package-modal-footer {

  .upgrade-package-modal-footer-heading {
    color: color-lighten(@neutral, 50);
    font-size: @body-text-font-size * 0.95;
    font-weight: 400;
    text-transform: uppercase;
  }

  .button-collection {
    display: flex;
    justify-content: flex-end;

    .button {
      flex: 0 0 auto;

      &:first-child {
        margin-right: auto;
      }
    }
  }
}

.upgrade-package-modal-status {
  padding-left: @base-spacing-unit * 1.5;
  padding-right: @base-spacing-unit * 1.5;
}

.upgrade-package-modal-error {

  .icon {
    fill: @red;
  }

  .upgrade-package-modal-status-title {
    color: @red;
  }
}

.upgrade-package-modal-success {

  .icon {
    fill: @green;
  }

  .upgrade-package-modal-status-title {
    color: @green;
  }
}
