{
  "plugins": [
    "transform-runtime",
    "macros",
    "syntax-dynamic-import",
    "transform-react-constant-elements"
  ],
  "presets": ["env", "stage-3", "react"],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
