{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "jasmine": true,
    "node": true,
    "es6": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },

  "plugins": [
    "react"
  ],

  "globals": {
    "jest": true,
    "ActiveXObject": true,
    "Dygraph": true
  },

  "extends": "airbnb",

  "rules": {
    "eqeqeq": [2, "smart"],
    "quotes": [2, "single"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "camelcase": [0, {"properties": "never"}],
    // "camelcase": [2, {"properties": "always"}], This causes errors with mixin properties
    "strict": [2, "never"], // <-- fix
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": [2, { "skipBlankLines": false }],
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "PluginSDK"}],
    "no-use-before-define": 0,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "keyword-spacing": [2],
    "semi": [2],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {
      "anonymous": "always", "named": "never"
    }],
    "spaced-comment": [2, "always"],
    // "max-len": [2, 80, 4], TODO: DCOS-914
    "valid-jsdoc": [2, {
      "requireReturn": false,
      "requireParamDescription": false
    }],

    // Airbnb overwrites
    "jsx-quotes": [2, "prefer-double"],
    "comma-dangle":  0,
    "object-shorthand": 0,
    "no-var": 0,
    "no-useless-escape": 0,
    "arrow-body-style": 0,
    "object-curly-spacing": 0,
    "react/jsx-closing-bracket-location": 0,
    "prefer-rest-params": 0,
    "prefer-arrow-callback": 0,
    "no-param-reassign": 0,
    "prefer-const": 0,
    "vars-on-top": 0,
    "prefer-template": 0,
    "no-else-return": 0,
    "space-infix-ops": 0,
    "array-callback-return": 0,
    "consistent-return": 0,
    "quote-props": 0,
    "no-restricted-syntax": 0,
    "padded-blocks": 0,
    "no-multi-spaces": 0,
    "import/no-unresolved": 0,
    "no-dupe-keys": 0,
    "newline-per-chained-call": 0,
    "one-var-declaration-per-line": 0,
    "one-var": 0,
    "no-shadow": 0,
    "key-spacing": 0,
    "no-dupe-class-members": 0,
    "radix": 0,
    "no-throw-literal": 0,
    "wrap-iife": 0,
    "no-extra-semi": 0,
    "yoda": 0,
    "comma-spacing": 0,
    "default-case": 0,
    "global-require": 0,
    "no-case-declarations": 0,
    "max-len": 0,
    "no-useless-constructor": 0,
    "no-return-assign": 0,
    "react/jsx-indent": 0,
    "react/sort-comp": 0,
    "react/prefer-es6-class": 0,
    "react/jsx-boolean-value": 0,
    "arrow-spacing": 0,
    "no-empty": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "semi-spacing": 0,
    "no-new-wrappers": 0,
    "react/jsx-space-before-closing": 0,
    // "react/no-did-mount-set-state": 0,
    "react/jsx-indent-props": 0,
    "jsx-a11y/img-has-alt": 0,
    "space-in-parens": 0,
    "new-cap": 0,
    "import/no-duplicates": 0,
    "no-duplicate-imports": 0,
    "no-extra-label": 0,
    "no-labels": 0,
    "func-names": 0,
    "no-console": 0,
    "no-inner-declarations": 0,
    "dot-notation": 0,
    "react/jsx-equals-spacing": 0,
    "react/no-is-mounted": 0,
    "no-undef": 0,
    "no-floating-decimal": 0,
    "no-unreachable": 0,

    // React plugin
    "react/jsx-quotes": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": [0, {"ignoreCase": true}],
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/prop-types": 0,
    // "react/prop-types": 2, This causes errors with many
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2
  }
}
