.DS_Store
*.iml
.idea/*
!dist/
dist/*
__out/
cypress/*
results/
build/
npm-debug.log
node_modules/
src/js/config/Config.dev.ts
src/js/config/Config.dev.js
serve
tmp/
*.orig
jest/test-results
src/resources/raml
.chrome/
.envrc
.env
locale/_build/
locale/*/messages.js
