{
  "branch": "jg/semantic-release-jira",
  "tagFormat": "test+v${version}",
  "verifyConditions": ["semantic-release-jira"],
  "prepare": [],
  "publish": [
  ],
  "success": [
    {
      "path": "semantic-release-jira",
      "apiURL": "https://jira.mesosphere.com/rest/api/2/issue/${issueKey}",
      "apiJSON": '{ "update": { "labels": [ { "add": "testing-repo:dcos-ui" }, { "add": "testing-tag:test+v${version}" } ] } }'
    }
  ]
}
