& when (@create-services-modal-enabled) {

  .create-service-modal-service-picker {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-options {
      display: flex;
      justify-content: center;
    }

    &-option {
      flex: 0 0 auto;

      .panel-content {
        justify-content: center;
      }
    }
  }

  // TODO: Remove this custom margin and rely on the FormSection component to
  // apply margins for us. DCOS-11803
  .artifacts-section {
    margin-top: @base-spacing-unit * 3/4;
  }

  .create-service-modal-json-only {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    &-introduction {
      flex: 0 0 auto;
      margin-bottom: @create-services-modal-json-editor-introduction-margin-bottom;
    }

    &-editor {
      border-radius: @create-services-modal-json-editor-border-radius;
      overflow: hidden;

      &-container {
        flex: 1 1 auto;
        height: 100%;
      }
    }
  }
}

& when (@create-services-modal-enabled) and (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    .create-service-modal-service-picker {

      &-options {
        max-width: 500px;
      }
    }

    .artifacts-section {
      margin-top: @base-spacing-unit-screen-small * 3/4;
    }

    .create-service-modal-json-only {

      &-introduction {
        margin-bottom: @create-services-modal-json-editor-introduction-margin-bottom-screen-small;
      }
    }
  }
}

& when (@create-services-modal-enabled) and (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    .artifacts-section {
      margin-top: @base-spacing-unit-screen-medium * 3/4;
    }

    .create-service-modal-json-only {

      &-introduction {
        margin-bottom: @create-services-modal-json-editor-introduction-margin-bottom-screen-medium;
      }
    }
  }
}

& when (@create-services-modal-enabled) and (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    .artifacts-section {
      margin-top: @base-spacing-unit-screen-large * 3/4;
    }

    .create-service-modal-json-only {

      &-introduction {
        margin-bottom: @create-services-modal-json-editor-introduction-margin-bottom-screen-large;
      }
    }
  }
}

& when (@create-services-modal-enabled) and (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    .artifacts-section {
      margin-top: @base-spacing-unit-screen-jumbo * 3/4;
    }

    .create-service-modal-json-only {

      &-introduction {
        margin-bottom: @create-services-modal-json-editor-introduction-margin-bottom-screen-jumbo;
      }
    }
  }
}
