& when (@create-services-modal-enabled) {

  .create-service-modal-service-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .create-service-modal-service-picker-options {
    display: flex;
    justify-content: center;
  }

  .create-service-modal-service-picker-option {
    flex: 0 0 auto;
  }
}
