/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
code/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@code-enabled:                                                                  true;
@code-block-prettyprint-enabled:                                                true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Code Block Colors
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@code-block-prettyprint-border-color:                                           color-lighten(@neutral, 10);
@code-block-prettyprint-border-left-color:                                      @code-block-prettyprint-border-color;
@code-block-prettyprint-border-bottom-color:                                    @code-block-prettyprint-border-color;
@code-block-prettyprint-border-top-color:                                       @code-block-prettyprint-border-color;
@code-block-prettyprint-border-right-color:                                     @code-block-prettyprint-border-color;
@code-block-prettyprint-border-width:                                           1px;
@code-block-prettyprint-border-style:                                           solid;
