& when (@form-elements-enabled) {

  textarea {

    &.form-control {
      height: 125px;
    }
  }

  .form-control-group-add-on {
    white-space: nowrap;

    .small {
      display: inline-block;
    }

    a {
      vertical-align: middle;
    }
  }
}
