.filter-bar {

  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;

  &.filter-bar-offset {
    margin-bottom: -@base-spacing-unit * 1/4;
  }

}

.filter-bar-right {

  margin-left: auto;

  &:last-child {

    padding-right: 0;

  }

  .filter-bar-item:last-child {

    // This overrides all of the specificity applied by the classes
    // below.
    padding-right: 0;

  }

}

.filter-bar-left, .filter-bar-right {

  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  max-width: 100%;
  width: auto;

  .filter-bar-item {

    flex: 0 0 auto;
    max-width: 100%;

  }

  &.flex-grow {

    flex-grow: 1;

  }

  &.flex-shrink {

    flex-shrink: 1;

  }

}

.filter-bar-item {

  padding-bottom: @base-spacing-unit * 1/4;
  padding-right: 0;

}

& when (@media-object-enabled) and (@screen-mini-enabled) {

  @media (min-width: @screen-mini) {

    .filter-bar {

      &.filter-bar-offset {
        margin-bottom: -@base-spacing-unit-screen-mini * 1/4;
      }

    }

    .flex-no-wrap-mini {

      flex-wrap: nowrap;

    }

    .filter-bar-item {

      padding-bottom: @base-spacing-unit-screen-mini * 1/4;
      padding-right: @base-spacing-unit-screen-mini * 1/4;

    }

  }

}


& when (@media-object-enabled) and (@screen-small-enabled) {

  @media (min-width: @screen-small) {

    .filter-bar {

      &.filter-bar-offset {
        margin-bottom: -@base-spacing-unit-screen-small * 1/4;
      }

    }

    .filter-bar-item {

      padding-bottom: @base-spacing-unit-screen-small * 1/4;
      padding-right: @base-spacing-unit-screen-small * 1/4;

    }

  }

}


& when (@media-object-enabled) and (@screen-medium-enabled) {

  @media (min-width: @screen-medium) {

    .filter-bar {

      &.filter-bar-offset {
        margin-bottom: -@base-spacing-unit-screen-medium * 1/4;
      }

    }

    .filter-bar-item {

      padding-bottom: @base-spacing-unit-screen-medium * 1/4;
      padding-right: @base-spacing-unit-screen-medium * 1/4;

    }

  }

}


& when (@media-object-enabled) and (@screen-large-enabled) {

  @media (min-width: @screen-large) {

    .filter-bar {

      &.filter-bar-offset {
        margin-bottom: -@base-spacing-unit-screen-large * 1/4;
      }

    }

    .filter-bar-item {

      padding-bottom: @base-spacing-unit-screen-large * 1/4;
      padding-right: @base-spacing-unit-screen-large * 1/4;

    }

  }

}
