@filter-bar-enabled: true;
// Filter Bar Spacing

@filter-bar-item-spacing-vertical: @base-spacing-unit * 1/4;
@filter-bar-item-spacing-horizontal: 0;
@filter-bar-item-spacing-vertical-screen-small: @base-spacing-unit-screen-small * 1/4;
@filter-bar-item-spacing-vertical-screen-medium: @base-spacing-unit-screen-medium * 1/4;
@filter-bar-item-spacing-vertical-screen-large: @base-spacing-unit-screen-large * 1/4;
@filter-bar-item-spacing-vertical-screen-jumbo: @base-spacing-unit-screen-jumbo * 1/4;
