@page-header-breadcrumbs-enabled: @page-header-enabled;

/*
 * Responsive Scaling
 */

@page-header-breadcrumbs-screen-small-enabled: @layout-screen-small-enabled;
@page-header-breadcrumbs-screen-medium-enabled: @layout-screen-medium-enabled;
@page-header-breadcrumbs-screen-large-enabled: @layout-screen-large-enabled;
@page-header-breadcrumbs-screen-jumbo-enabled: @layout-screen-jumbo-enabled;

/*
 * Breadcrumb
 */

/* Styling */

@page-header-breadcrumb-color: @grey-dark;
@page-header-breadcrumb-font-family: null;
@page-header-breadcrumb-font-style: null;
@page-header-breadcrumb-font-weight: 500;
@page-header-breadcrumb-text-transform: null;
@page-header-breadcrumb-text-shadow: null;
@page-header-breadcrumb-text-decoration: null;
@page-header-breadcrumb-text-rendering: null;

/* Text Size */

// Font Size

@page-header-breadcrumb-font-size: 18px;
@page-header-breadcrumb-font-size-screen-small: null;
@page-header-breadcrumb-font-size-screen-medium: null;
@page-header-breadcrumb-font-size-screen-large: null;
@page-header-breadcrumb-font-size-screen-jumbo: null;

// Line Height

@page-header-breadcrumb-line-height: 24px;
@page-header-breadcrumb-line-height-screen-small: null;
@page-header-breadcrumb-line-height-screen-medium: null;
@page-header-breadcrumb-line-height-screen-large: null;
@page-header-breadcrumb-line-height-screen-jumbo: null;

/* Layout */

// Height

@page-header-breadcrumb-height: 36px;
@page-header-breadcrumb-height-screen-small: null;
@page-header-breadcrumb-height-screen-medium: null;
@page-header-breadcrumb-height-screen-large: null;
@page-header-breadcrumb-height-screen-jumbo: null;

// Horizontal Spacing

@page-header-breadcrumb-spacing-horizontal: 8px;
@page-header-breadcrumb-spacing-horizontal-screen-small: null;
@page-header-breadcrumb-spacing-horizontal-screen-medium: null;
@page-header-breadcrumb-spacing-horizontal-screen-large: null;
@page-header-breadcrumb-spacing-horizontal-screen-jumbo: null;

// Horizontal Spacing

@page-header-breadcrumb-content-spacing-horizontal: 8px;
@page-header-breadcrumb-content-spacing-horizontal-screen-small: null;
@page-header-breadcrumb-content-spacing-horizontal-screen-medium: null;
@page-header-breadcrumb-content-spacing-horizontal-screen-large: null;
@page-header-breadcrumb-content-spacing-horizontal-screen-jumbo: null;

/*
 * Breadcrumb Link
 */

/* Styling */

// Normal

@page-header-breadcrumb-link-color: @grey-dark;
@page-header-breadcrumb-link-font-family: null;
@page-header-breadcrumb-link-font-style: null;
@page-header-breadcrumb-link-font-weight: null;
@page-header-breadcrumb-link-text-transform: null;
@page-header-breadcrumb-link-text-shadow: null;
@page-header-breadcrumb-link-text-decoration: none;
@page-header-breadcrumb-link-text-rendering: null;

// Hover

@page-header-breadcrumb-link-hover-color: @grey-dark;
@page-header-breadcrumb-link-hover-font-family: null;
@page-header-breadcrumb-link-hover-font-style: null;
@page-header-breadcrumb-link-hover-font-weight: null;
@page-header-breadcrumb-link-hover-text-transform: null;
@page-header-breadcrumb-link-hover-text-shadow: null;
@page-header-breadcrumb-link-hover-text-decoration: none;
@page-header-breadcrumb-link-hover-text-rendering: null;

// Active

@page-header-breadcrumb-link-active-color: @grey-dark;
@page-header-breadcrumb-link-active-font-family: null;
@page-header-breadcrumb-link-active-font-style: null;
@page-header-breadcrumb-link-active-font-weight: null;
@page-header-breadcrumb-link-active-text-transform: null;
@page-header-breadcrumb-link-active-text-shadow: null;
@page-header-breadcrumb-link-active-text-decoration: none;
@page-header-breadcrumb-link-active-text-rendering: null;
