// override canvas fieldset/legend for json-schema library headings
// todo, use more specific classes rather than override
// or use our own header components
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  color: #000;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
