dl > dd {
  color: @heading-h5-text-inverse-color;
}

.nested-description-list {
  margin-left: @base-spacing-unit*.5;
}

& when (@screen-mini-enabled) {

  @media (min-width: @screen-mini) {

    .nested-description-list {
      margin-left: @base-spacing-unit-screen-mini*.5;
    }

  }

}

& when (@screen-small-enabled) {

  @media (min-width: @screen-small) {

    .nested-description-list {
      margin-left: @base-spacing-unit-screen-small*.5;
    }

  }

}

& when (@screen-medium-enabled) {

  @media (min-width: @screen-medium) {

    .nested-description-list {
      margin-left: @base-spacing-unit-screen-medium*.5;
    }

  }

}

& when (@screen-large-enabled) {

  @media (min-width: @screen-large) {

    .nested-description-list {
      margin-left: @base-spacing-unit-screen-large*.5;
    }

  }

}
