.modal {

  &.login-modal {

    .modal-content {
      height: auto;
      overflow: visible;
      position: relative;

      .container {
        width: 100%;
      }
    }

    .modal-header {
      background: transparent;
      height: 144px;
      padding: 0;

      .container {
        padding: 0;
      }
    }

    .dcos-logo {
      left: 50%;
      position: absolute;
      top: -55px;
      transform: translateX(-50%);
    }

    .login-modal-heading {
      color: @neutral;
    }
  }
}
