@header-enabled: true;

/*
 * Responsive Scaling
 */

@header-screen-small-enabled: @layout-screen-small-enabled;
@header-screen-medium-enabled: @layout-screen-medium-enabled;
@header-screen-large-enabled: @layout-screen-large-enabled;
@header-screen-jumbo-enabled: @layout-screen-jumbo-enabled;

/* Layout */

// Height

@header-height: 84px;
@header-height-screen-small: null;
@header-height-screen-medium: null;
@header-height-screen-large: null;
@header-height-screen-jumbo: 100px;

// Margin Top

@header-margin-top: 0;
@header-margin-top-screen-small: null;
@header-margin-top-screen-medium: null;
@header-margin-top-screen-large: null;
@header-margin-top-screen-jumbo: null;

// Margin Bottom

@header-margin-bottom: 0;
@header-margin-bottom-screen-small: null;
@header-margin-bottom-screen-medium: null;
@header-margin-bottom-screen-large: null;
@header-margin-bottom-screen-jumbo: null;

// Margin Left

@header-margin-left: null;
@header-margin-left-screen-small: null;
@header-margin-left-screen-medium: null;
@header-margin-left-screen-large: null;
@header-margin-left-screen-jumbo: null;

// Margin Right

@header-margin-right: null;
@header-margin-right-screen-small: null;
@header-margin-right-screen-medium: null;
@header-margin-right-screen-large: null;
@header-margin-right-screen-jumbo: null;

// Padding Top

@header-padding-top: null;
@header-padding-top-screen-small: null;
@header-padding-top-screen-medium: null;
@header-padding-top-screen-large: null;
@header-padding-top-screen-jumbo: null;

// Padding Bottom

@header-padding-bottom: null;
@header-padding-bottom-screen-small: null;
@header-padding-bottom-screen-medium: null;
@header-padding-bottom-screen-large: null;
@header-padding-bottom-screen-jumbo: null;

// Padding Left

@header-padding-left: 24px;
@header-padding-left-screen-small: null;
@header-padding-left-screen-medium: null;
@header-padding-left-screen-large: null;
@header-padding-left-screen-jumbo: 32px;

// Padding Right

@header-padding-right: 24px;
@header-padding-right-screen-small: null;
@header-padding-right-screen-medium: null;
@header-padding-right-screen-large: null;
@header-padding-right-screen-jumbo: 32px;

// Header Padding Horizontal

@header-content-padding-horizontal: 12px;
@header-content-padding-horizontal-screen-small: null;
@header-content-padding-horizontal-screen-medium: null;
@header-content-padding-horizontal-screen-large: null;
@header-content-padding-horizontal-screen-jumbo: null;

/*
 * Header Dropdown
 */

/* Styling */

@header-dropdown-background-color: @grey-dark;
@header-dropdown-hover-background-color: @grey-dark-lighten-1;
@header-dropdown-active-background-color: @grey-dark-lighten-1;

/* Layout */

// Margin Top

@header-dropdown-margin-top: 0;
@header-dropdown-margin-top-screen-small: null;
@header-dropdown-margin-top-screen-medium: null;
@header-dropdown-margin-top-screen-large: null;
@header-dropdown-margin-top-screen-jumbo: null;

// Margin Bottom

@header-dropdown-margin-bottom: 0;
@header-dropdown-margin-bottom-screen-small: null;
@header-dropdown-margin-bottom-screen-medium: null;
@header-dropdown-margin-bottom-screen-large: null;
@header-dropdown-margin-bottom-screen-jumbo: null;

// Margin Left

@header-dropdown-margin-left: -24px;
@header-dropdown-margin-left-screen-small: null;
@header-dropdown-margin-left-screen-medium: null;
@header-dropdown-margin-left-screen-large: null;
@header-dropdown-margin-left-screen-jumbo: -32px;

// Margin Right

@header-dropdown-margin-right: -24px;
@header-dropdown-margin-right-screen-small: null;
@header-dropdown-margin-right-screen-medium: null;
@header-dropdown-margin-right-screen-large: null;
@header-dropdown-margin-right-screen-jumbo: -32px;

// Padding Top

@header-dropdown-padding-top: null;
@header-dropdown-padding-top-screen-small: null;
@header-dropdown-padding-top-screen-medium: null;
@header-dropdown-padding-top-screen-large: null;
@header-dropdown-padding-top-screen-jumbo: null;

// Padding Bottom

@header-dropdown-padding-bottom: null;
@header-dropdown-padding-bottom-screen-small: null;
@header-dropdown-padding-bottom-screen-medium: null;
@header-dropdown-padding-bottom-screen-large: null;
@header-dropdown-padding-bottom-screen-jumbo: null;

// Padding Left

@header-dropdown-padding-left: 24px;
@header-dropdown-padding-left-screen-small: null;
@header-dropdown-padding-left-screen-medium: null;
@header-dropdown-padding-left-screen-large: null;
@header-dropdown-padding-left-screen-jumbo: 32px;

// Padding Right

@header-dropdown-padding-right: 24px;
@header-dropdown-padding-right-screen-small: null;
@header-dropdown-padding-right-screen-medium: null;
@header-dropdown-padding-right-screen-large: null;
@header-dropdown-padding-right-screen-jumbo: 32px;

/*
 * Header Content
 */

/* Header Title */

// Style

@header-title-color: @white;
@header-title-font-family: null;
@header-title-font-style: null;
@header-title-font-weight: 500;
@header-title-text-transform: null;
@header-title-text-shadow: null;
@header-title-text-decoration: none;
@header-title-text-rendering: null;

// Font Size

@header-title-font-size: 14px;
@header-title-font-size-screen-small: null;
@header-title-font-size-screen-medium: null;
@header-title-font-size-screen-large: null;
@header-title-font-size-screen-jumbo: null;

// Line Height

@header-title-line-height: 20px;
@header-title-line-height-screen-small: null;
@header-title-line-height-screen-medium: null;
@header-title-line-height-screen-large: null;
@header-title-line-height-screen-jumbo: null;

// Dropdown Caret Width

@header-title-dropdown-caret-width: 10px;
@header-title-dropdown-caret-width-screen-small: null;
@header-title-dropdown-caret-width-screen-medium: null;
@header-title-dropdown-caret-width-screen-large: null;
@header-title-dropdown-caret-width-screen-jumbo: null;

// Dropdown Caret Height

@header-title-dropdown-caret-height: 6px;
@header-title-dropdown-caret-height-screen-small: null;
@header-title-dropdown-caret-height-screen-medium: null;
@header-title-dropdown-caret-height-screen-large: null;
@header-title-dropdown-caret-height-screen-jumbo: null;

/* Header Title */

// Style

@header-subtitle-color: @grey-light-darken-2;
@header-subtitle-font-family: null;
@header-subtitle-font-style: null;
@header-subtitle-font-weight: null;
@header-subtitle-text-transform: null;
@header-subtitle-text-shadow: null;
@header-subtitle-text-decoration: none;
@header-subtitle-text-rendering: null;

// Font Size

@header-subtitle-font-size: 13px;
@header-subtitle-font-size-screen-small: null;
@header-subtitle-font-size-screen-medium: null;
@header-subtitle-font-size-screen-large: null;
@header-subtitle-font-size-screen-jumbo: null;

// Line Height

@header-subtitle-line-height: 18px;
@header-subtitle-line-height-screen-small: null;
@header-subtitle-line-height-screen-medium: null;
@header-subtitle-line-height-screen-large: null;
@header-subtitle-line-height-screen-jumbo: null;
