@toggle-button-enabled: true;

/*
 * Styling
 */

@toggle-checked-color: @green;
@toggle-width: @base-spacing-unit;
@toggle-height: @base-spacing-unit / 1.5;
@toggle-border-width: 1px;
@toggle-transition-speed: 0.5s;
