@panel-enabled: true;

@panel-grid-margin-vertical: @grid-gutter-width;
@panel-grid-margin-vertical-screen-small: @grid-gutter-width-screen-small;
@panel-grid-margin-vertical-screen-medium: @grid-gutter-width-screen-medium;
@panel-grid-margin-vertical-screen-large: @grid-gutter-width-screen-large;
@panel-grid-margin-vertical-screen-jumbo: @grid-gutter-width-screen-jumbo;
