/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
progress-bar/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@progress-bar-enabled:                                                          true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@progress-bar-border-radius:                                                    10px;
@progress-bar-height:                                                           4px;
@progress-bar-width:                                                            @base-spacing-unit * 2;
