@progress-bar-enabled:                                                          true;

@progress-bar-border-radius:                                                    10px;
@progress-bar-height:                                                           4px;
@progress-bar-width:                                                            @base-spacing-unit * 2;
