.quota-details {
  display: flex;
  margin: auto;
  margin-top: @base-spacing-unit * 0.5;
  width: @quota-details-width;

  .quota-card {
    margin: @quota-card-margin;
    text-align: center;
    width: @quota-card-width;

    .quota-card-title {
      margin-bottom: @base-spacing-unit * 2;
    }

    .quota-card-main {
      font-size: @quota-font-size-large;
      margin-bottom: @base-spacing-unit;
    }

    .quota-card-label {
      margin-bottom: @base-spacing-unit * 0.5;
    }

    .quota-progress-bar {
      margin: auto;
      margin-bottom: @base-spacing-unit * 2;
      width: @quota-progress-bar-width;
    }
  }
}
