ul.tabs {
  align-items: stretch;
  display: flex;
  margin-left: 0;
  margin-top: 0;

  &.tall {
    margin-top: @base-spacing-unit;
  }

  .tab-item {
    align-items: stretch;
    display: flex;
    margin: 0px;
    margin-right: @base-spacing-unit * 0.5;

    &:last-child {
      margin-right: 0px;
    }

    &.active {
      .tab-item-label {
        &:after {
          opacity: 1;
        }
      }
    }

    .tab-item-label {
      align-items: stretch;
      color: inherit;
      cursor: pointer;
      display: inline-flex;
      padding-bottom: @container-pod-short-padding-vertical * 0.5;
      position: relative;
      white-space: nowrap;

      &:hover {
        color: color-lighten(@neutral, 20);
        text-decoration: none;
      }

      &:active {
        color: color-lighten(@neutral, 30);
      }

      &:after {
        background: @body-text-link-text-color;
        bottom: -1px;
        content: '';
        display: block;
        height: 3px;
        left: 0px;
        opacity: 0;
        position: absolute;
        width: 100%;
      }

      .badge-container,
      .tab-item-label-text {
        display: inline-block;
      }

      .tab-item-label-text {
        position: relative;
      }

    }

  }

  &.inverse {
    .tab-item {
      color: color-lighten(@neutral, 40);

      .tab-item-label {
        &:hover {
          color: color-lighten(@neutral, 60);
        }

        &:active {
          color: color-lighten(@neutral, 80);
        }
      }

      &.active {
        color: @white;
      }
    }
  }
}

.badge-container .tab-item-label {
  line-height: 1em;
}


/* Screen Size: Small (@screen-small) and above */
& when (@screen-small-enabled) {
  @media (min-width: @screen-small) {

    ul.tabs {
      .tab-item {
        margin-right: @base-spacing-unit-screen-small * 0.5;

        .tab-item-label {
          padding-bottom: @container-pod-short-padding-vertical * 0.5;

          .tab-item-label-text {
            &:after {
              bottom: @container-pod-short-padding-vertical * -0.5 - 1;
            }
          }
        }
      }
    }
  }
}

/* Screen Size: Medium (@screen-medium) and above */
& when (@screen-medium-enabled) {
  @media (min-width: @screen-medium) {

    ul.tabs {
      .tab-item {
        margin-right: @base-spacing-unit-screen-medium * 0.5;

        .tab-item-label {
          padding-bottom: @container-pod-short-padding-vertical-screen-medium * 0.5;
        }
      }
    }
  }
}

/* Screen Size: Large (@screen-large) and above */
& when (@screen-large-enabled) {
  @media (min-width: @screen-large) {

    .tabs {
      .tab-item {
        margin-right: @base-spacing-unit-screen-large * 0.5;

        .tab-item-label {
          padding-bottom: @container-pod-short-padding-vertical-screen-large * 0.5;
        }
      }
    }
  }
}
