/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
example-block/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@example-block-enabled:                                                         true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@example-block-screen-small-enabled:                                            true;
@example-block-screen-medium-enabled:                                           true;
@example-block-screen-large-enabled:                                            true;
@example-block-screen-jumbo-enabled:                                            true;
