@sidebar-enabled: true;

/*
 * Responsive Scaling
 */

@sidebar-screen-small-enabled: @layout-screen-small-enabled;
@sidebar-screen-medium-enabled: @layout-screen-medium-enabled;
@sidebar-screen-large-enabled: @layout-screen-large-enabled;
@sidebar-screen-jumbo-enabled: @layout-screen-jumbo-enabled;

/* Styling */

@sidebar-background-color: @grey-dark;

/* Layout */

// Width

@sidebar-width: 240px;
@sidebar-width-screen-small: 240px;
@sidebar-width-screen-medium: 240px;
@sidebar-width-screen-large: 240px;
@sidebar-width-screen-jumbo: 280px;

/*
 * Sidebar Section
 */

/* Layout */

// Margin Bottom

@sidebar-section-margin-bottom: 12px;
@sidebar-section-margin-bottom-screen-small: null;
@sidebar-section-margin-bottom-screen-medium: null;
@sidebar-section-margin-bottom-screen-large: null;
@sidebar-section-margin-bottom-screen-jumbo: 16px;

/*
 * Sidebar Section Header
 */

/* Styling */

@sidebar-section-header-color: @grey-light-darken-3;
@sidebar-section-header-font-family: null;
@sidebar-section-header-font-style: null;
@sidebar-section-header-font-weight: 500;
@sidebar-section-header-text-transform: null;
@sidebar-section-header-text-shadow: null;
@sidebar-section-header-text-decoration: null;
@sidebar-section-header-text-rendering: null;

/* Text Size */

// Font Size

@sidebar-section-header-font-size: 14px;
@sidebar-section-header-font-size-screen-small: null;
@sidebar-section-header-font-size-screen-medium: null;
@sidebar-section-header-font-size-screen-large: null;
@sidebar-section-header-font-size-screen-jumbo: null;

// Line Height

@sidebar-section-header-line-height: 20px;
@sidebar-section-header-line-height-screen-small: null;
@sidebar-section-header-line-height-screen-medium: null;
@sidebar-section-header-line-height-screen-large: null;
@sidebar-section-header-line-height-screen-jumbo: null;

/* Layout */

// Height

@sidebar-section-header-height: 44px;
@sidebar-section-header-height-screen-small: null;
@sidebar-section-header-height-screen-medium: null;
@sidebar-section-header-height-screen-large: null;
@sidebar-section-header-height-screen-jumbo: null;

// Margin Top

@sidebar-section-header-margin-top: 0;
@sidebar-section-header-margin-top-screen-small: null;
@sidebar-section-header-margin-top-screen-medium: null;
@sidebar-section-header-margin-top-screen-large: null;
@sidebar-section-header-margin-top-screen-jumbo: null;

// Margin Bottom

@sidebar-section-header-margin-bottom: 0;
@sidebar-section-header-margin-bottom-screen-small: null;
@sidebar-section-header-margin-bottom-screen-medium: null;
@sidebar-section-header-margin-bottom-screen-large: null;
@sidebar-section-header-margin-bottom-screen-jumbo: null;

// Margin Left

@sidebar-section-header-margin-left: -24px;
@sidebar-section-header-margin-left-screen-small: null;
@sidebar-section-header-margin-left-screen-medium: null;
@sidebar-section-header-margin-left-screen-large: null;
@sidebar-section-header-margin-left-screen-jumbo: -32px;

// Margin Right

@sidebar-section-header-margin-right: -24px;
@sidebar-section-header-margin-right-screen-small: null;
@sidebar-section-header-margin-right-screen-medium: null;
@sidebar-section-header-margin-right-screen-large: null;
@sidebar-section-header-margin-right-screen-jumbo: -32px;

// Padding Top

@sidebar-section-header-padding-top: null;
@sidebar-section-header-padding-top-screen-small: null;
@sidebar-section-header-padding-top-screen-medium: null;
@sidebar-section-header-padding-top-screen-large: null;
@sidebar-section-header-padding-top-screen-jumbo: null;

// Padding Bottom

@sidebar-section-header-padding-bottom: null;
@sidebar-section-header-padding-bottom-screen-small: null;
@sidebar-section-header-padding-bottom-screen-medium: null;
@sidebar-section-header-padding-bottom-screen-large: null;
@sidebar-section-header-padding-bottom-screen-jumbo: null;

// Padding Left

@sidebar-section-header-padding-left: 24px;
@sidebar-section-header-padding-left-screen-small: null;
@sidebar-section-header-padding-left-screen-medium: null;
@sidebar-section-header-padding-left-screen-large: null;
@sidebar-section-header-padding-left-screen-jumbo: 32px;

// Padding Right

@sidebar-section-header-padding-right: 24px;
@sidebar-section-header-padding-right-screen-small: null;
@sidebar-section-header-padding-right-screen-medium: null;
@sidebar-section-header-padding-right-screen-large: null;
@sidebar-section-header-padding-right-screen-jumbo: 32px;

/*
 * Sidebar Menu
 */

/* Styling */

@sidebar-menu-background-color: null;
@sidebar-menu-background-gradient-color-top: null;
@sidebar-menu-background-gradient-color-bottom: null;
@sidebar-menu-border-width: null;
@sidebar-menu-border-color: null;
@sidebar-menu-border-style: null;
@sidebar-menu-border-top-width: null;
@sidebar-menu-border-top-color: null;
@sidebar-menu-border-top-style: null;
@sidebar-menu-border-right-width: null;
@sidebar-menu-border-right-color: null;
@sidebar-menu-border-right-style: null;
@sidebar-menu-border-bottom-width: null;
@sidebar-menu-border-bottom-color: null;
@sidebar-menu-border-bottom-style: null;
@sidebar-menu-border-left-width: null;
@sidebar-menu-border-left-color: null;
@sidebar-menu-border-left-style: null;
@sidebar-menu-shadow: null;

/* Responsive Scaling */

@sidebar-menu-screen-small-enabled: @layout-screen-small-enabled;
@sidebar-menu-screen-medium-enabled: @layout-screen-medium-enabled;
@sidebar-menu-screen-large-enabled: @layout-screen-large-enabled;
@sidebar-menu-screen-jumbo-enabled: @layout-screen-jumbo-enabled;

/*
 * Sidebar Menu
 */

/*
 * Sidebar Menu Item
 */

/* Styling */

// Default

@sidebar-menu-item-color: @white;
@sidebar-menu-item-font-family: null;
@sidebar-menu-item-font-style: null;
@sidebar-menu-item-font-weight: 500;
@sidebar-menu-item-text-transform: null;
@sidebar-menu-item-text-shadow: null;
@sidebar-menu-item-text-decoration: null;
@sidebar-menu-item-text-rendering: null;
@sidebar-menu-item-background-color: null;
@sidebar-menu-item-background-gradient-color-top: null;
@sidebar-menu-item-background-gradient-color-bottom: null;
@sidebar-menu-item-border-width: null;
@sidebar-menu-item-border-color: null;
@sidebar-menu-item-border-style: null;
@sidebar-menu-item-border-top-width: null;
@sidebar-menu-item-border-top-color: null;
@sidebar-menu-item-border-top-style: null;
@sidebar-menu-item-border-right-width: null;
@sidebar-menu-item-border-right-color: null;
@sidebar-menu-item-border-right-style: null;
@sidebar-menu-item-border-bottom-width: null;
@sidebar-menu-item-border-bottom-color: null;
@sidebar-menu-item-border-bottom-style: null;
@sidebar-menu-item-border-left-width: null;
@sidebar-menu-item-border-left-color: null;
@sidebar-menu-item-border-left-style: null;
@sidebar-menu-item-shadow: null;

// Selected

@sidebar-menu-item-selected-color: null;
@sidebar-menu-item-selected-font-family: null;
@sidebar-menu-item-selected-font-style: null;
@sidebar-menu-item-selected-font-weight: null;
@sidebar-menu-item-selected-text-transform: null;
@sidebar-menu-item-selected-text-shadow: null;
@sidebar-menu-item-selected-text-decoration: null;
@sidebar-menu-item-selected-text-rendering: null;
@sidebar-menu-item-selected-background-color: @purple;
@sidebar-menu-item-selected-background-gradient-color-top: null;
@sidebar-menu-item-selected-background-gradient-color-bottom: null;
@sidebar-menu-item-selected-border-width: null;
@sidebar-menu-item-selected-border-color: null;
@sidebar-menu-item-selected-border-style: null;
@sidebar-menu-item-selected-border-top-width: null;
@sidebar-menu-item-selected-border-top-color: null;
@sidebar-menu-item-selected-border-top-style: null;
@sidebar-menu-item-selected-border-right-width: null;
@sidebar-menu-item-selected-border-right-color: null;
@sidebar-menu-item-selected-border-right-style: null;
@sidebar-menu-item-selected-border-bottom-width: null;
@sidebar-menu-item-selected-border-bottom-color: null;
@sidebar-menu-item-selected-border-bottom-style: null;
@sidebar-menu-item-selected-border-left-width: null;
@sidebar-menu-item-selected-border-left-color: null;
@sidebar-menu-item-selected-border-left-style: null;
@sidebar-menu-item-selected-shadow: null;

// Open

@sidebar-menu-item-open-color: null;
@sidebar-menu-item-open-font-family: null;
@sidebar-menu-item-open-font-style: null;
@sidebar-menu-item-open-font-weight: null;
@sidebar-menu-item-open-text-transform: null;
@sidebar-menu-item-open-text-shadow: null;
@sidebar-menu-item-open-text-decoration: null;
@sidebar-menu-item-open-text-rendering: null;
@sidebar-menu-item-open-background-color: null;
@sidebar-menu-item-open-background-gradient-color-top: null;
@sidebar-menu-item-open-background-gradient-color-bottom: null;
@sidebar-menu-item-open-border-width: null;
@sidebar-menu-item-open-border-color: null;
@sidebar-menu-item-open-border-style: null;
@sidebar-menu-item-open-border-top-width: null;
@sidebar-menu-item-open-border-top-color: null;
@sidebar-menu-item-open-border-top-style: null;
@sidebar-menu-item-open-border-right-width: null;
@sidebar-menu-item-open-border-right-color: null;
@sidebar-menu-item-open-border-right-style: null;
@sidebar-menu-item-open-border-bottom-width: null;
@sidebar-menu-item-open-border-bottom-color: null;
@sidebar-menu-item-open-border-bottom-style: null;
@sidebar-menu-item-open-border-left-width: null;
@sidebar-menu-item-open-border-left-color: null;
@sidebar-menu-item-open-border-left-style: null;
@sidebar-menu-item-open-shadow: null;

/* Text Size */

// Font Size

@sidebar-menu-item-font-size: 14px;
@sidebar-menu-item-font-size-screen-small: null;
@sidebar-menu-item-font-size-screen-medium: null;
@sidebar-menu-item-font-size-screen-large: null;
@sidebar-menu-item-font-size-screen-jumbo: null;

// Line Height

@sidebar-menu-item-line-height: 20px;
@sidebar-menu-item-line-height-screen-small: null;
@sidebar-menu-item-line-height-screen-medium: null;
@sidebar-menu-item-line-height-screen-large: null;
@sidebar-menu-item-line-height-screen-jumbo: null;

/* Layout */

// Height

@sidebar-menu-item-height: 44px;
@sidebar-menu-item-height-screen-small: null;
@sidebar-menu-item-height-screen-medium: null;
@sidebar-menu-item-height-screen-large: null;
@sidebar-menu-item-height-screen-jumbo: null;

// Margin Top

@sidebar-menu-item-margin-top: 0;
@sidebar-menu-item-margin-top-screen-small: null;
@sidebar-menu-item-margin-top-screen-medium: null;
@sidebar-menu-item-margin-top-screen-large: null;
@sidebar-menu-item-margin-top-screen-jumbo: null;

// Margin Bottom

@sidebar-menu-item-margin-bottom: 0;
@sidebar-menu-item-margin-bottom-screen-small: null;
@sidebar-menu-item-margin-bottom-screen-medium: null;
@sidebar-menu-item-margin-bottom-screen-large: null;
@sidebar-menu-item-margin-bottom-screen-jumbo: null;

// Margin Left

@sidebar-menu-item-margin-left: -24px;
@sidebar-menu-item-margin-left-screen-small: null;
@sidebar-menu-item-margin-left-screen-medium: null;
@sidebar-menu-item-margin-left-screen-large: null;
@sidebar-menu-item-margin-left-screen-jumbo: -32px;

// Margin Right

@sidebar-menu-item-margin-right: -24px;
@sidebar-menu-item-margin-right-screen-small: null;
@sidebar-menu-item-margin-right-screen-medium: null;
@sidebar-menu-item-margin-right-screen-large: null;
@sidebar-menu-item-margin-right-screen-jumbo: -32px;

// Padding Top

@sidebar-menu-item-padding-top: null;
@sidebar-menu-item-padding-top-screen-small: null;
@sidebar-menu-item-padding-top-screen-medium: null;
@sidebar-menu-item-padding-top-screen-large: null;
@sidebar-menu-item-padding-top-screen-jumbo: null;

// Padding Bottom

@sidebar-menu-item-padding-bottom: null;
@sidebar-menu-item-padding-bottom-screen-small: null;
@sidebar-menu-item-padding-bottom-screen-medium: null;
@sidebar-menu-item-padding-bottom-screen-large: null;
@sidebar-menu-item-padding-bottom-screen-jumbo: null;

// Padding Left

@sidebar-menu-item-padding-left: 24px;
@sidebar-menu-item-padding-left-screen-small: null;
@sidebar-menu-item-padding-left-screen-medium: null;
@sidebar-menu-item-padding-left-screen-large: null;
@sidebar-menu-item-padding-left-screen-jumbo: 32px;

// Padding Right

@sidebar-menu-item-padding-right: 24px;
@sidebar-menu-item-padding-right-screen-small: null;
@sidebar-menu-item-padding-right-screen-medium: null;
@sidebar-menu-item-padding-right-screen-large: null;
@sidebar-menu-item-padding-right-screen-jumbo: 32px;

// Dropdown Caret Width

@sidebar-menu-item-dropdown-caret-width: 6px;
@sidebar-menu-item-dropdown-caret-width-screen-small: null;
@sidebar-menu-item-dropdown-caret-width-screen-medium: null;
@sidebar-menu-item-dropdown-caret-width-screen-large: null;
@sidebar-menu-item-dropdown-caret-width-screen-jumbo: null;

// Dropdown Caret Height

@sidebar-menu-item-dropdown-caret-height: 10px;
@sidebar-menu-item-dropdown-caret-height-screen-small: null;
@sidebar-menu-item-dropdown-caret-height-screen-medium: null;
@sidebar-menu-item-dropdown-caret-height-screen-large: null;
@sidebar-menu-item-dropdown-caret-height-screen-jumbo: null;

// Dropdown Caret Top Position

@sidebar-menu-item-dropdown-caret-top: 17px;
@sidebar-menu-item-dropdown-caret-top-screen-small: null;
@sidebar-menu-item-dropdown-caret-top-screen-medium: null;
@sidebar-menu-item-dropdown-caret-top-screen-large: null;
@sidebar-menu-item-dropdown-caret-top-screen-jumbo: null;

// Dropdown Caret Right Position

@sidebar-menu-item-dropdown-caret-right: 9px;
@sidebar-menu-item-dropdown-caret-right-screen-small: null;
@sidebar-menu-item-dropdown-caret-right-screen-medium: null;
@sidebar-menu-item-dropdown-caret-right-screen-large: null;
@sidebar-menu-item-dropdown-caret-right-screen-jumbo: 13px;

// Button Content Padding Horizontal

@sidebar-menu-item-content-padding-horizontal: 12px;
@sidebar-menu-item-content-padding-horizontal-screen-small: null;
@sidebar-menu-item-content-padding-horizontal-screen-medium: null;
@sidebar-menu-item-content-padding-horizontal-screen-large: null;
@sidebar-menu-item-content-padding-horizontal-screen-jumbo: null;

/*
 * Sidebar Menu Item Link
 */

/* Styling */

// Default

@sidebar-menu-item-link-color: @white;
@sidebar-menu-item-link-font-family: null;
@sidebar-menu-item-link-font-style: null;
@sidebar-menu-item-link-font-weight: null;
@sidebar-menu-item-link-text-transform: null;
@sidebar-menu-item-link-text-shadow: null;
@sidebar-menu-item-link-text-decoration: null;
@sidebar-menu-item-link-text-rendering: null;
@sidebar-menu-item-link-background-color: null;
@sidebar-menu-item-link-background-gradient-color-top: null;
@sidebar-menu-item-link-background-gradient-color-bottom: null;
@sidebar-menu-item-link-border-width: null;
@sidebar-menu-item-link-border-color: null;
@sidebar-menu-item-link-border-style: null;
@sidebar-menu-item-link-border-top-width: null;
@sidebar-menu-item-link-border-top-color: null;
@sidebar-menu-item-link-border-top-style: null;
@sidebar-menu-item-link-border-right-width: null;
@sidebar-menu-item-link-border-right-color: null;
@sidebar-menu-item-link-border-right-style: null;
@sidebar-menu-item-link-border-bottom-width: null;
@sidebar-menu-item-link-border-bottom-color: null;
@sidebar-menu-item-link-border-bottom-style: null;
@sidebar-menu-item-link-border-left-width: null;
@sidebar-menu-item-link-border-left-color: null;
@sidebar-menu-item-link-border-left-style: null;
@sidebar-menu-item-link-shadow: null;

// Hover

@sidebar-menu-item-link-hover-color: @white;
@sidebar-menu-item-link-hover-font-family: null;
@sidebar-menu-item-link-hover-font-style: null;
@sidebar-menu-item-link-hover-font-weight: null;
@sidebar-menu-item-link-hover-text-transform: null;
@sidebar-menu-item-link-hover-text-shadow: null;
@sidebar-menu-item-link-hover-text-decoration: null;
@sidebar-menu-item-link-hover-text-rendering: null;
@sidebar-menu-item-link-hover-background-color: @grey-dark-lighten-1;
@sidebar-menu-item-link-hover-background-gradient-color-top: null;
@sidebar-menu-item-link-hover-background-gradient-color-bottom: null;
@sidebar-menu-item-link-hover-border-width: null;
@sidebar-menu-item-link-hover-border-color: null;
@sidebar-menu-item-link-hover-border-style: null;
@sidebar-menu-item-link-hover-border-top-width: null;
@sidebar-menu-item-link-hover-border-top-color: null;
@sidebar-menu-item-link-hover-border-top-style: null;
@sidebar-menu-item-link-hover-border-right-width: null;
@sidebar-menu-item-link-hover-border-right-color: null;
@sidebar-menu-item-link-hover-border-right-style: null;
@sidebar-menu-item-link-hover-border-bottom-width: null;
@sidebar-menu-item-link-hover-border-bottom-color: null;
@sidebar-menu-item-link-hover-border-bottom-style: null;
@sidebar-menu-item-link-hover-border-left-width: null;
@sidebar-menu-item-link-hover-border-left-color: null;
@sidebar-menu-item-link-hover-border-left-style: null;
@sidebar-menu-item-link-hover-shadow: null;

// Active

@sidebar-menu-item-link-active-color: @white;
@sidebar-menu-item-link-active-font-family: null;
@sidebar-menu-item-link-active-font-style: null;
@sidebar-menu-item-link-active-font-weight: null;
@sidebar-menu-item-link-active-text-transform: null;
@sidebar-menu-item-link-active-text-shadow: null;
@sidebar-menu-item-link-active-text-decoration: null;
@sidebar-menu-item-link-active-text-rendering: null;
@sidebar-menu-item-link-active-background-color: @grey-dark-lighten-1;
@sidebar-menu-item-link-active-background-gradient-color-top: null;
@sidebar-menu-item-link-active-background-gradient-color-bottom: null;
@sidebar-menu-item-link-active-border-width: null;
@sidebar-menu-item-link-active-border-color: null;
@sidebar-menu-item-link-active-border-style: null;
@sidebar-menu-item-link-active-border-top-width: null;
@sidebar-menu-item-link-active-border-top-color: null;
@sidebar-menu-item-link-active-border-top-style: null;
@sidebar-menu-item-link-active-border-right-width: null;
@sidebar-menu-item-link-active-border-right-color: null;
@sidebar-menu-item-link-active-border-right-style: null;
@sidebar-menu-item-link-active-border-bottom-width: null;
@sidebar-menu-item-link-active-border-bottom-color: null;
@sidebar-menu-item-link-active-border-bottom-style: null;
@sidebar-menu-item-link-active-border-left-width: null;
@sidebar-menu-item-link-active-border-left-color: null;
@sidebar-menu-item-link-active-border-left-style: null;
@sidebar-menu-item-link-active-shadow: null;

// Selected

@sidebar-menu-item-link-selected-color: null;
@sidebar-menu-item-link-selected-font-family: null;
@sidebar-menu-item-link-selected-font-style: null;
@sidebar-menu-item-link-selected-font-weight: null;
@sidebar-menu-item-link-selected-text-transform: null;
@sidebar-menu-item-link-selected-text-shadow: null;
@sidebar-menu-item-link-selected-text-decoration: null;
@sidebar-menu-item-link-selected-text-rendering: null;
@sidebar-menu-item-link-selected-background-color: @purple;
@sidebar-menu-item-link-selected-background-gradient-color-top: null;
@sidebar-menu-item-link-selected-background-gradient-color-bottom: null;
@sidebar-menu-item-link-selected-border-width: null;
@sidebar-menu-item-link-selected-border-color: null;
@sidebar-menu-item-link-selected-border-style: null;
@sidebar-menu-item-link-selected-border-top-width: null;
@sidebar-menu-item-link-selected-border-top-color: null;
@sidebar-menu-item-link-selected-border-top-style: null;
@sidebar-menu-item-link-selected-border-right-width: null;
@sidebar-menu-item-link-selected-border-right-color: null;
@sidebar-menu-item-link-selected-border-right-style: null;
@sidebar-menu-item-link-selected-border-bottom-width: null;
@sidebar-menu-item-link-selected-border-bottom-color: null;
@sidebar-menu-item-link-selected-border-bottom-style: null;
@sidebar-menu-item-link-selected-border-left-width: null;
@sidebar-menu-item-link-selected-border-left-color: null;
@sidebar-menu-item-link-selected-border-left-style: null;
@sidebar-menu-item-link-selected-shadow: null;

/* Layout */

// Margin Top

@sidebar-menu-item-link-margin-top: null;
@sidebar-menu-item-link-margin-top-screen-small: null;
@sidebar-menu-item-link-margin-top-screen-medium: null;
@sidebar-menu-item-link-margin-top-screen-large: null;
@sidebar-menu-item-link-margin-top-screen-jumbo: null;

// Margin Bottom

@sidebar-menu-item-link-margin-bottom: null;
@sidebar-menu-item-link-margin-bottom-screen-small: null;
@sidebar-menu-item-link-margin-bottom-screen-medium: null;
@sidebar-menu-item-link-margin-bottom-screen-large: null;
@sidebar-menu-item-link-margin-bottom-screen-jumbo: null;

// Margin Left

@sidebar-menu-item-link-margin-left: -24px;
@sidebar-menu-item-link-margin-left-screen-small: null;
@sidebar-menu-item-link-margin-left-screen-medium: null;
@sidebar-menu-item-link-margin-left-screen-large: null;
@sidebar-menu-item-link-margin-left-screen-jumbo: -32px;

// Margin Right

@sidebar-menu-item-link-margin-right: -24px;
@sidebar-menu-item-link-margin-right-screen-small: null;
@sidebar-menu-item-link-margin-right-screen-medium: null;
@sidebar-menu-item-link-margin-right-screen-large: null;
@sidebar-menu-item-link-margin-right-screen-jumbo: -32px;

// Padding Top

@sidebar-menu-item-link-padding-top: null;
@sidebar-menu-item-link-padding-top-screen-small: null;
@sidebar-menu-item-link-padding-top-screen-medium: null;
@sidebar-menu-item-link-padding-top-screen-large: null;
@sidebar-menu-item-link-padding-top-screen-jumbo: null;

// Padding Bottom

@sidebar-menu-item-link-padding-bottom: null;
@sidebar-menu-item-link-padding-bottom-screen-small: null;
@sidebar-menu-item-link-padding-bottom-screen-medium: null;
@sidebar-menu-item-link-padding-bottom-screen-large: null;
@sidebar-menu-item-link-padding-bottom-screen-jumbo: null;

// Padding Left

@sidebar-menu-item-link-padding-left: 24px;
@sidebar-menu-item-link-padding-left-screen-small: null;
@sidebar-menu-item-link-padding-left-screen-medium: null;
@sidebar-menu-item-link-padding-left-screen-large: null;
@sidebar-menu-item-link-padding-left-screen-jumbo: 32px;

// Padding Right

@sidebar-menu-item-link-padding-right: 24px;
@sidebar-menu-item-link-padding-right-screen-small: null;
@sidebar-menu-item-link-padding-right-screen-medium: null;
@sidebar-menu-item-link-padding-right-screen-large: null;
@sidebar-menu-item-link-padding-right-screen-jumbo: 32px;

/*
 * Sidebar Submenu
 */

/* Styling */

@sidebar-submenu-background-color: null;
@sidebar-submenu-background-gradient-color-top: null;
@sidebar-submenu-background-gradient-color-bottom: null;
@sidebar-submenu-border-width: null;
@sidebar-submenu-border-color: null;
@sidebar-submenu-border-style: null;
@sidebar-submenu-border-top-width: null;
@sidebar-submenu-border-top-color: null;
@sidebar-submenu-border-top-style: null;
@sidebar-submenu-border-right-width: null;
@sidebar-submenu-border-right-color: null;
@sidebar-submenu-border-right-style: null;
@sidebar-submenu-border-bottom-width: null;
@sidebar-submenu-border-bottom-color: null;
@sidebar-submenu-border-bottom-style: null;
@sidebar-submenu-border-left-width: null;
@sidebar-submenu-border-left-color: null;
@sidebar-submenu-border-left-style: null;
@sidebar-submenu-shadow: null;

/* Layout */

// Margin Top

@sidebar-submenu-margin-top: 0;
@sidebar-submenu-margin-top-screen-small: null;
@sidebar-submenu-margin-top-screen-medium: null;
@sidebar-submenu-margin-top-screen-large: null;
@sidebar-submenu-margin-top-screen-jumbo: null;

// Margin Bottom

@sidebar-submenu-margin-bottom: 0;
@sidebar-submenu-margin-bottom-screen-small: null;
@sidebar-submenu-margin-bottom-screen-medium: null;
@sidebar-submenu-margin-bottom-screen-large: null;
@sidebar-submenu-margin-bottom-screen-jumbo: null;

// Margin Left

@sidebar-submenu-margin-left: null;
@sidebar-submenu-margin-left-screen-small: null;
@sidebar-submenu-margin-left-screen-medium: null;
@sidebar-submenu-margin-left-screen-large: null;
@sidebar-submenu-margin-left-screen-jumbo: null;

// Margin Right

@sidebar-submenu-margin-right: null;
@sidebar-submenu-margin-right-screen-small: null;
@sidebar-submenu-margin-right-screen-medium: null;
@sidebar-submenu-margin-right-screen-large: null;
@sidebar-submenu-margin-right-screen-jumbo: null;

// Padding Top

@sidebar-submenu-padding-top: 0;
@sidebar-submenu-padding-top-screen-small: null;
@sidebar-submenu-padding-top-screen-medium: null;
@sidebar-submenu-padding-top-screen-large: null;
@sidebar-submenu-padding-top-screen-jumbo: null;

// Padding Bottom

@sidebar-submenu-padding-bottom: 0;
@sidebar-submenu-padding-bottom-screen-small: null;
@sidebar-submenu-padding-bottom-screen-medium: null;
@sidebar-submenu-padding-bottom-screen-large: null;
@sidebar-submenu-padding-bottom-screen-jumbo: null;

// Padding Left

@sidebar-submenu-padding-left: null;
@sidebar-submenu-padding-left-screen-small: null;
@sidebar-submenu-padding-left-screen-medium: null;
@sidebar-submenu-padding-left-screen-large: null;
@sidebar-submenu-padding-left-screen-jumbo: null;

// Padding Right

@sidebar-submenu-padding-right: null;
@sidebar-submenu-padding-right-screen-small: null;
@sidebar-submenu-padding-right-screen-medium: null;
@sidebar-submenu-padding-right-screen-large: null;
@sidebar-submenu-padding-right-screen-jumbo: null;

/*
 * Sidebar Submenu Item
 */

/* Styling */

// Default

@sidebar-submenu-item-color: @grey-light-darken-2;
@sidebar-submenu-item-font-family: null;
@sidebar-submenu-item-font-style: null;
@sidebar-submenu-item-font-weight: 400;
@sidebar-submenu-item-text-transform: none;
@sidebar-submenu-item-text-shadow: null;
@sidebar-submenu-item-text-decoration: null;
@sidebar-submenu-item-text-rendering: null;
@sidebar-submenu-item-background-color: null;
@sidebar-submenu-item-background-gradient-color-top: null;
@sidebar-submenu-item-background-gradient-color-bottom: null;
@sidebar-submenu-item-border-width: null;
@sidebar-submenu-item-border-color: null;
@sidebar-submenu-item-border-style: null;
@sidebar-submenu-item-border-top-width: null;
@sidebar-submenu-item-border-top-color: null;
@sidebar-submenu-item-border-top-style: null;
@sidebar-submenu-item-border-right-width: null;
@sidebar-submenu-item-border-right-color: null;
@sidebar-submenu-item-border-right-style: null;
@sidebar-submenu-item-border-bottom-width: null;
@sidebar-submenu-item-border-bottom-color: null;
@sidebar-submenu-item-border-bottom-style: null;
@sidebar-submenu-item-border-left-width: null;
@sidebar-submenu-item-border-left-color: null;
@sidebar-submenu-item-border-left-style: null;
@sidebar-submenu-item-shadow: null;

// Selected

@sidebar-submenu-item-selected-color: @white;
@sidebar-submenu-item-selected-font-family: null;
@sidebar-submenu-item-selected-font-style: null;
@sidebar-submenu-item-selected-font-weight: null;
@sidebar-submenu-item-selected-text-transform: null;
@sidebar-submenu-item-selected-text-shadow: null;
@sidebar-submenu-item-selected-text-decoration: null;
@sidebar-submenu-item-selected-text-rendering: null;
@sidebar-submenu-item-selected-background-color: null;
@sidebar-submenu-item-selected-background-gradient-color-top: null;
@sidebar-submenu-item-selected-background-gradient-color-bottom: null;
@sidebar-submenu-item-selected-border-width: null;
@sidebar-submenu-item-selected-border-color: null;
@sidebar-submenu-item-selected-border-style: null;
@sidebar-submenu-item-selected-border-top-width: null;
@sidebar-submenu-item-selected-border-top-color: null;
@sidebar-submenu-item-selected-border-top-style: null;
@sidebar-submenu-item-selected-border-right-width: null;
@sidebar-submenu-item-selected-border-right-color: null;
@sidebar-submenu-item-selected-border-right-style: null;
@sidebar-submenu-item-selected-border-bottom-width: null;
@sidebar-submenu-item-selected-border-bottom-color: null;
@sidebar-submenu-item-selected-border-bottom-style: null;
@sidebar-submenu-item-selected-border-left-width: null;
@sidebar-submenu-item-selected-border-left-color: null;
@sidebar-submenu-item-selected-border-left-style: null;
@sidebar-submenu-item-selected-shadow: null;

// Open

@sidebar-submenu-item-open-color: null;
@sidebar-submenu-item-open-font-family: null;
@sidebar-submenu-item-open-font-style: null;
@sidebar-submenu-item-open-font-weight: null;
@sidebar-submenu-item-open-text-transform: null;
@sidebar-submenu-item-open-text-shadow: null;
@sidebar-submenu-item-open-text-decoration: null;
@sidebar-submenu-item-open-text-rendering: null;
@sidebar-submenu-item-open-background-color: null;
@sidebar-submenu-item-open-background-gradient-color-top: null;
@sidebar-submenu-item-open-background-gradient-color-bottom: null;
@sidebar-submenu-item-open-border-width: null;
@sidebar-submenu-item-open-border-color: null;
@sidebar-submenu-item-open-border-style: null;
@sidebar-submenu-item-open-border-top-width: null;
@sidebar-submenu-item-open-border-top-color: null;
@sidebar-submenu-item-open-border-top-style: null;
@sidebar-submenu-item-open-border-right-width: null;
@sidebar-submenu-item-open-border-right-color: null;
@sidebar-submenu-item-open-border-right-style: null;
@sidebar-submenu-item-open-border-bottom-width: null;
@sidebar-submenu-item-open-border-bottom-color: null;
@sidebar-submenu-item-open-border-bottom-style: null;
@sidebar-submenu-item-open-border-left-width: null;
@sidebar-submenu-item-open-border-left-color: null;
@sidebar-submenu-item-open-border-left-style: null;
@sidebar-submenu-item-open-shadow: null;

/* Text Size */

// Font Size

@sidebar-submenu-item-font-size: 13px;
@sidebar-submenu-item-font-size-screen-small: null;
@sidebar-submenu-item-font-size-screen-medium: null;
@sidebar-submenu-item-font-size-screen-large: null;
@sidebar-submenu-item-font-size-screen-jumbo: null;

// Line Height

@sidebar-submenu-item-line-height: 18px;
@sidebar-submenu-item-line-height-screen-small: null;
@sidebar-submenu-item-line-height-screen-medium: null;
@sidebar-submenu-item-line-height-screen-large: null;
@sidebar-submenu-item-line-height-screen-jumbo: null;

/* Layout */

// Line Height

@sidebar-submenu-item-height: 32px;
@sidebar-submenu-item-height-screen-small: null;
@sidebar-submenu-item-height-screen-medium: null;
@sidebar-submenu-item-height-screen-large: null;
@sidebar-submenu-item-height-screen-jumbo: null;

// Margin Top

@sidebar-submenu-item-margin-top: 0;
@sidebar-submenu-item-margin-top-screen-small: null;
@sidebar-submenu-item-margin-top-screen-medium: null;
@sidebar-submenu-item-margin-top-screen-large: null;
@sidebar-submenu-item-margin-top-screen-jumbo: null;

// Margin Bottom

@sidebar-submenu-item-margin-bottom: 0;
@sidebar-submenu-item-margin-bottom-screen-small: null;
@sidebar-submenu-item-margin-bottom-screen-medium: null;
@sidebar-submenu-item-margin-bottom-screen-large: null;
@sidebar-submenu-item-margin-bottom-screen-jumbo: null;

// Margin Left

@sidebar-submenu-item-margin-left: -24px;
@sidebar-submenu-item-margin-left-screen-small: null;
@sidebar-submenu-item-margin-left-screen-medium: null;
@sidebar-submenu-item-margin-left-screen-large: null;
@sidebar-submenu-item-margin-left-screen-jumbo: -32px;

// Margin Right

@sidebar-submenu-item-margin-right: -24px;
@sidebar-submenu-item-margin-right-screen-small: null;
@sidebar-submenu-item-margin-right-screen-medium: null;
@sidebar-submenu-item-margin-right-screen-large: null;
@sidebar-submenu-item-margin-right-screen-jumbo: -32px;

// Padding Top

@sidebar-submenu-item-padding-top: null;
@sidebar-submenu-item-padding-top-screen-small: null;
@sidebar-submenu-item-padding-top-screen-medium: null;
@sidebar-submenu-item-padding-top-screen-large: null;
@sidebar-submenu-item-padding-top-screen-jumbo: null;

// Padding Bottom

@sidebar-submenu-item-padding-bottom: null;
@sidebar-submenu-item-padding-bottom-screen-small: null;
@sidebar-submenu-item-padding-bottom-screen-medium: null;
@sidebar-submenu-item-padding-bottom-screen-large: null;
@sidebar-submenu-item-padding-bottom-screen-jumbo: null;

// Padding Left

@sidebar-submenu-item-padding-left: 24px + 36px;
@sidebar-submenu-item-padding-left-screen-small: null;
@sidebar-submenu-item-padding-left-screen-medium: null;
@sidebar-submenu-item-padding-left-screen-large: null;
@sidebar-submenu-item-padding-left-screen-jumbo: 32px + 36px;

// Padding Right

@sidebar-submenu-item-padding-right: 24px;
@sidebar-submenu-item-padding-right-screen-small: null;
@sidebar-submenu-item-padding-right-screen-medium: null;
@sidebar-submenu-item-padding-right-screen-large: null;
@sidebar-submenu-item-padding-right-screen-jumbo: 32px;

/*
 * Sidebar Submenu Link
 */

/* Styling */

// Default

@sidebar-submenu-item-link-color: @grey-light-darken-2;
@sidebar-submenu-item-link-font-family: null;
@sidebar-submenu-item-link-font-style: null;
@sidebar-submenu-item-link-font-weight: null;
@sidebar-submenu-item-link-text-transform: null;
@sidebar-submenu-item-link-text-shadow: null;
@sidebar-submenu-item-link-text-decoration: null;
@sidebar-submenu-item-link-text-rendering: null;
@sidebar-submenu-item-link-background-color: null;
@sidebar-submenu-item-link-background-gradient-color-top: null;
@sidebar-submenu-item-link-background-gradient-color-bottom: null;
@sidebar-submenu-item-link-border-width: null;
@sidebar-submenu-item-link-border-color: null;
@sidebar-submenu-item-link-border-style: null;
@sidebar-submenu-item-link-border-top-width: null;
@sidebar-submenu-item-link-border-top-color: null;
@sidebar-submenu-item-link-border-top-style: null;
@sidebar-submenu-item-link-border-right-width: null;
@sidebar-submenu-item-link-border-right-color: null;
@sidebar-submenu-item-link-border-right-style: null;
@sidebar-submenu-item-link-border-bottom-width: null;
@sidebar-submenu-item-link-border-bottom-color: null;
@sidebar-submenu-item-link-border-bottom-style: null;
@sidebar-submenu-item-link-border-left-width: null;
@sidebar-submenu-item-link-border-left-color: null;
@sidebar-submenu-item-link-border-left-style: null;
@sidebar-submenu-item-link-shadow: null;

// Hover

@sidebar-submenu-item-link-hover-color: null;
@sidebar-submenu-item-link-hover-font-family: null;
@sidebar-submenu-item-link-hover-font-style: null;
@sidebar-submenu-item-link-hover-font-weight: null;
@sidebar-submenu-item-link-hover-text-transform: null;
@sidebar-submenu-item-link-hover-text-shadow: null;
@sidebar-submenu-item-link-hover-text-decoration: null;
@sidebar-submenu-item-link-hover-text-rendering: null;
@sidebar-submenu-item-link-hover-background-color: null;
@sidebar-submenu-item-link-hover-background-gradient-color-top: null;
@sidebar-submenu-item-link-hover-background-gradient-color-bottom: null;
@sidebar-submenu-item-link-hover-border-width: null;
@sidebar-submenu-item-link-hover-border-color: null;
@sidebar-submenu-item-link-hover-border-style: null;
@sidebar-submenu-item-link-hover-border-top-width: null;
@sidebar-submenu-item-link-hover-border-top-color: null;
@sidebar-submenu-item-link-hover-border-top-style: null;
@sidebar-submenu-item-link-hover-border-right-width: null;
@sidebar-submenu-item-link-hover-border-right-color: null;
@sidebar-submenu-item-link-hover-border-right-style: null;
@sidebar-submenu-item-link-hover-border-bottom-width: null;
@sidebar-submenu-item-link-hover-border-bottom-color: null;
@sidebar-submenu-item-link-hover-border-bottom-style: null;
@sidebar-submenu-item-link-hover-border-left-width: null;
@sidebar-submenu-item-link-hover-border-left-color: null;
@sidebar-submenu-item-link-hover-border-left-style: null;
@sidebar-submenu-item-link-hover-shadow: null;

// Active

@sidebar-submenu-item-link-active-color: null;
@sidebar-submenu-item-link-active-font-family: null;
@sidebar-submenu-item-link-active-font-style: null;
@sidebar-submenu-item-link-active-font-weight: null;
@sidebar-submenu-item-link-active-text-transform: null;
@sidebar-submenu-item-link-active-text-shadow: null;
@sidebar-submenu-item-link-active-text-decoration: null;
@sidebar-submenu-item-link-active-text-rendering: null;
@sidebar-submenu-item-link-active-background-color: null;
@sidebar-submenu-item-link-active-background-gradient-color-top: null;
@sidebar-submenu-item-link-active-background-gradient-color-bottom: null;
@sidebar-submenu-item-link-active-border-width: null;
@sidebar-submenu-item-link-active-border-color: null;
@sidebar-submenu-item-link-active-border-style: null;
@sidebar-submenu-item-link-active-border-top-width: null;
@sidebar-submenu-item-link-active-border-top-color: null;
@sidebar-submenu-item-link-active-border-top-style: null;
@sidebar-submenu-item-link-active-border-right-width: null;
@sidebar-submenu-item-link-active-border-right-color: null;
@sidebar-submenu-item-link-active-border-right-style: null;
@sidebar-submenu-item-link-active-border-bottom-width: null;
@sidebar-submenu-item-link-active-border-bottom-color: null;
@sidebar-submenu-item-link-active-border-bottom-style: null;
@sidebar-submenu-item-link-active-border-left-width: null;
@sidebar-submenu-item-link-active-border-left-color: null;
@sidebar-submenu-item-link-active-border-left-style: null;
@sidebar-submenu-item-link-active-shadow: null;

// Selected

@sidebar-submenu-item-link-selected-color: @white;
@sidebar-submenu-item-link-selected-font-family: null;
@sidebar-submenu-item-link-selected-font-style: null;
@sidebar-submenu-item-link-selected-font-weight: null;
@sidebar-submenu-item-link-selected-text-transform: null;
@sidebar-submenu-item-link-selected-text-shadow: null;
@sidebar-submenu-item-link-selected-text-decoration: null;
@sidebar-submenu-item-link-selected-text-rendering: null;
@sidebar-submenu-item-link-selected-background-color: null;
@sidebar-submenu-item-link-selected-background-gradient-color-top: null;
@sidebar-submenu-item-link-selected-background-gradient-color-bottom: null;
@sidebar-submenu-item-link-selected-border-width: null;
@sidebar-submenu-item-link-selected-border-color: null;
@sidebar-submenu-item-link-selected-border-style: null;
@sidebar-submenu-item-link-selected-border-top-width: null;
@sidebar-submenu-item-link-selected-border-top-color: null;
@sidebar-submenu-item-link-selected-border-top-style: null;
@sidebar-submenu-item-link-selected-border-right-width: null;
@sidebar-submenu-item-link-selected-border-right-color: null;
@sidebar-submenu-item-link-selected-border-right-style: null;
@sidebar-submenu-item-link-selected-border-bottom-width: null;
@sidebar-submenu-item-link-selected-border-bottom-color: null;
@sidebar-submenu-item-link-selected-border-bottom-style: null;
@sidebar-submenu-item-link-selected-border-left-width: null;
@sidebar-submenu-item-link-selected-border-left-color: null;
@sidebar-submenu-item-link-selected-border-left-style: null;
@sidebar-submenu-item-link-selected-shadow: null;

/* Layout */

// Margin Top

@sidebar-submenu-item-link-margin-top: null;
@sidebar-submenu-item-link-margin-top-screen-small: null;
@sidebar-submenu-item-link-margin-top-screen-medium: null;
@sidebar-submenu-item-link-margin-top-screen-large: null;
@sidebar-submenu-item-link-margin-top-screen-jumbo: null;

// Margin Bottom

@sidebar-submenu-item-link-margin-bottom: null;
@sidebar-submenu-item-link-margin-bottom-screen-small: null;
@sidebar-submenu-item-link-margin-bottom-screen-medium: null;
@sidebar-submenu-item-link-margin-bottom-screen-large: null;
@sidebar-submenu-item-link-margin-bottom-screen-jumbo: null;

// Margin Left

@sidebar-submenu-item-link-margin-left: -24px - 36px;
@sidebar-submenu-item-link-margin-left-screen-small: null;
@sidebar-submenu-item-link-margin-left-screen-medium: null;
@sidebar-submenu-item-link-margin-left-screen-large: null;
@sidebar-submenu-item-link-margin-left-screen-jumbo: -32px - 36px;

// Margin Right

@sidebar-submenu-item-link-margin-right: -24px;
@sidebar-submenu-item-link-margin-right-screen-small: null;
@sidebar-submenu-item-link-margin-right-screen-medium: null;
@sidebar-submenu-item-link-margin-right-screen-large: null;
@sidebar-submenu-item-link-margin-right-screen-jumbo: -32px;

// Padding Top

@sidebar-submenu-item-link-padding-top: null;
@sidebar-submenu-item-link-padding-top-screen-small: null;
@sidebar-submenu-item-link-padding-top-screen-medium: null;
@sidebar-submenu-item-link-padding-top-screen-large: null;
@sidebar-submenu-item-link-padding-top-screen-jumbo: null;

// Padding Bottom

@sidebar-submenu-item-link-padding-bottom: null;
@sidebar-submenu-item-link-padding-bottom-screen-small: null;
@sidebar-submenu-item-link-padding-bottom-screen-medium: null;
@sidebar-submenu-item-link-padding-bottom-screen-large: null;
@sidebar-submenu-item-link-padding-bottom-screen-jumbo: null;

// Padding Left

@sidebar-submenu-item-link-padding-left: 24px + 36px;
@sidebar-submenu-item-link-padding-left-screen-small: null;
@sidebar-submenu-item-link-padding-left-screen-medium: null;
@sidebar-submenu-item-link-padding-left-screen-large: null;
@sidebar-submenu-item-link-padding-left-screen-jumbo: 32px + 36px;

// Padding Right

@sidebar-submenu-item-link-padding-right: 24px;
@sidebar-submenu-item-link-padding-right-screen-small: null;
@sidebar-submenu-item-link-padding-right-screen-medium: null;
@sidebar-submenu-item-link-padding-right-screen-large: null;
@sidebar-submenu-item-link-padding-right-screen-jumbo: 32px;

/*
 * Sidebar Footer
 */

/* Layout */
