& when (@service-table-enabled) {

  .table {

    .service-table-column-actions {
      text-align: right;
    }
  }

  .service-table {
    table-layout: fixed;

    &-column {

      &-cpus,
      &-gpus,
      &-mem,
      &-disk {
        display: none;

        td&,
        th& {
          text-align: right;
        }
      }

      &-mem,
      &-disk {
        width: 70px;
      }

      &-name {
        width: 180px;
      }

      &-status {
        width: 115px;
      }

      &-version {
        width: 115px;
      }

      &-instances {
        width: 115px;

        td&,
        th& {
          text-align: center;
        }
      }

      &-cpus,
      &-gpus {
        width: 65px;
      }

      &-actions {
        width: 40px;
      }
    }

    .service-status-icon-wrapper {
      width: 110px;
    }

    .service-status-progressbar-wrapper {
      margin-left: 30px;
    }

    .status-bar-text {
      margin-left: 7px;
      white-space: nowrap;
    }
  }

  .status-waiting-indicator {
    margin-left: @base-spacing-unit * 1/4;
  }
}

& when (@service-table-enabled) and (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    .service-table {

      .status-bar-indicator {
        display: none;
      }

      &-column {

        &-name {
          width: 100px;
        }

        &-instances {
          width: 93px;
        }

        &-cpus,
        &-gpus,
        &-mem,
        &-disk {
          width: 60px;
        }

        &-status,
        &-version {
          width: 100px;
        }

        &-actions {
          width: 30px;
        }
      }
    }

    .status-waiting-indicator {
      margin-left: @base-spacing-unit-screen-small * 1/4;
    }
  }
}

& when (@service-table-enabled) and (@layout-screen-medium-enabled) {
  // Media introduced so we can use the space the most and only hide at a very specific width
  @media (max-width: @layout-screen-medium-max-width) {

    .service-status-progressbar-wrapper {
      display: none;
    }
  }

  @media (min-width: @layout-screen-medium-min-width) {

    .service-table {

      &-column {

        &-cpus,
        &-gpus,
        &-mem,
        &-disk {
          display: table-cell;

          col& {
            display: table-column;
          }
        }

        &-status,
        &-version {
          width: 70px;
        }

        &-actions {
          width: 20px;
        }
      }

      .status-bar-wrapper {
        white-space: nowrap;
      }
    }

    .status-waiting-indicator {
      margin-left: @base-spacing-unit-screen-medium * 1/4;
    }
  }
}

& when (@service-table-enabled) and (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    .service-table {

      .status-bar-indicator {
        display: inline;
      }

      &-column {

        &-name {
          max-width: 55px;
        }

        &-instances {
          width: 45px;
        }

        &-cpus,
        &-gpus,
        &-mem,
        &-disk {
          width: 40px;
        }

        &-status {
          width: 78px;
        }

        &-actions {
          width: 30px;
        }
      }

      .service-status-progressbar-wrapper {
        margin-left: 5px;
      }
    }

    .status-waiting-indicator {
      margin-left: @base-spacing-unit-screen-large * 1/4;
    }
  }
}

& when (@service-table-enabled) and (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    .service-table {

      &-column {

        &-name {
          width: 180px;
        }

        &-status {
          width: 115px;
        }

        &-instances {
          width: 60px;
        }
      }

      .service-status-progressbar-wrapper {
        display: inline-block;
      }
    }

    .status-waiting-indicator {
      margin-left: @base-spacing-unit-screen-jumbo * 1/4;
    }
  }
}
