@service-plan-block-heading-color: @neutral;
@service-plan-block-heading-margin: @base-spacing-unit * 1/4;
@service-plan-block-heading-font-size: @body-text-font-size;
@service-plan-block-subheading-color: color-lighten(@neutral, 50);
@service-plan-block-subheading-margin: @base-spacing-unit * 1/2;

@service-plan-block-active-color: color-lighten(@green, 50);
@service-plan-block-upcoming-color: color-lighten(@neutral, 80);
@service-plan-block-complete-color: @green;

@service-plan-block-active-color-hover: color-lighten(@green, -20);
@service-plan-block-upcoming-color-hover: color-lighten(@neutral, 60);
@service-plan-block-complete-color-hover: color-lighten(@green, -20);

@service-plan-block-active-color-selected: @green;
@service-plan-block-upcoming-color-selected: @neutral;
@service-plan-block-complete-color-selected: color-lighten(@green, -50);

@service-plan-block-label-margin: @base-spacing-unit * 1/4;
@service-plan-block-padding: 1px;
@service-plan-block-tooltip-font-size: @body-text-font-size;
