@danger-color: @red;
@healthy-color: @green;
@muted-color: @body-muted-color;
@neutral-color: @neutral;
@over-capacity-color: @blue;
@staged-color: @yellow;
@success-color: @green;
@unhealthy-color: @red;
@unknown-color: lighten(@neutral, 10);
@warning-color: @yellow;
@default-border-color: color-lighten(@neutral, 90);
