/* -----------------------------------------------------------------------------
Status Bar
----------------------------------------------------------------------------- */

@status-bar-height: @base-spacing-unit * 1/3;
@status-bar-width: 114px;

@sidebar-width: 180px;
@sidebar-width-screen-large: 200px;
@sidebar-width-screen-jumbo: 240px;
