// TODO: Audit the need for this.
& when (@side-list-enabled) {

  .side-list {
    width: 100%;

    .side-list-item {
      padding-bottom: @base-spacing-unit / 4;
    }
  }

}

& when (@side-list-enabled) and (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    .side-list {
      width: @base-spacing-unit * 8;
    }

  }

}

& when (@side-list-enabled) and (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

  }

}

& when (@side-list-enabled) and (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

  }

}

& when (@side-list-enabled) and (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

  }

}
