/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
menu-tabbed/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@menu-tabbed-enabled) {

  /* -----------------------------------------------------------------------------
  Menu Tabbed
  ----------------------------------------------------------------------------- */

  .menu-tabbed {

    position: relative;
    padding: 0px;
    .element-spacing(menu-tabbed, null, null);

    /* -----------------------------------------------------------------------------
    Layout Variants
    ----------------------------------------------------------------------------- */

    &.short {

      .element-spacing(menu-tabbed, short, null);

    }

    &.tall {

      .element-spacing(menu-tabbed, tall, null);

    }

    /* -----------------------------------------------------------------------------
    Menu Tabbed Item
    ----------------------------------------------------------------------------- */

    li {

      position: relative;
      display: inline-block;
      .element-text-size(menu-tabbed-item, null);
      .element-text-style(menu-tabbed-item);
      .element-shape-style(menu-tabbed-item);
      .element-spacing(menu-tabbed-item, null, null);
      .property-variant(menu-tabbed-item, opacity);

      &:last-child {

        margin-right: 0px;

      }

      &:before {

        display: none;

      }

      a {

        position: relative;
        .element-text-size(menu-tabbed-item-link, null);
        .element-text-style(menu-tabbed-item-link);
        .element-shape-style(menu-tabbed-item-link);
        .element-spacing(menu-tabbed-item-link, null, null);
        .property-variant(menu-tabbed-item-link, opacity);

        &:after {

          content: '';
          display: none;
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0px;
          left: 0px;
          .property-variant(menu-tabbed-item-link, background-color, color, null, null);

        }

        &:hover {

          .element-text-style(menu-tabbed-item-link-hover);
          .element-shape-style(menu-tabbed-item-link-hover);
          .property-variant(menu-tabbed-item-link-hover, opacity);

          &:after {

            .property-variant(menu-tabbed-item-link-hover, background-color, color, null, null);

          }

        }

        &:active {

          .element-text-style(menu-tabbed-item-link-active);
          .element-shape-style(menu-tabbed-item-link-active);
          .property-variant(menu-tabbed-item-link-active, opacity);

          &:after {

            .property-variant(menu-tabbed-item-link-active, background-color, color, null, null);

          }

        }

        &.selected,
        &.active {

          .element-text-style(menu-tabbed-item-link-selected);
          .element-shape-style(menu-tabbed-item-link-selected);
          .property-variant(menu-tabbed-item-link-selected, opacity);

          &:after {

            display: block;
            .property-variant(menu-tabbed-item-link-selected, background-color, color, null, null);

          }

        }

      }

    }

    /* -----------------------------------------------------------------------------
    Inverse
    ----------------------------------------------------------------------------- */

    &.inverse {

      /* -----------------------------------------------------------------------------
      Menu Tabbed Item
      ----------------------------------------------------------------------------- */

      li {

        .element-text-style(menu-tabbed-item-inverse);
        .element-shape-style(menu-tabbed-item-inverse);
        .property-variant(menu-tabbed-item-inverse, opacity);

        a {

          .element-text-style(menu-tabbed-item-link-inverse);
          .element-shape-style(menu-tabbed-item-link-inverse);
          .property-variant(menu-tabbed-item-link-inverse, opacity);

          &:after {

            .property-variant(menu-tabbed-item-link-inverse, background-color, color, null, null);

          }

          &:hover {

            .element-text-style(menu-tabbed-item-link-inverse-hover);
            .element-shape-style(menu-tabbed-item-link-inverse-hover);
            .property-variant(menu-tabbed-item-link-inverse-hover, opacity);

            &:after {

              .property-variant(menu-tabbed-item-link-inverse-hover, background-color, color, null, null);

            }

          }

          &:active {

            .element-text-style(menu-tabbed-item-link-inverse-active);
            .element-shape-style(menu-tabbed-item-link-inverse-active);
            .property-variant(menu-tabbed-item-link-inverse-active, opacity);

            &:after {

              .property-variant(menu-tabbed-item-link-inverse-active, background-color, color, null, null);

            }

          }

          &.selected {

            .element-text-style(menu-tabbed-item-link-inverse-selected);
            .element-shape-style(menu-tabbed-item-link-inverse-selected);
            .property-variant(menu-tabbed-item-link-inverse-selected, opacity);

            &:after {

              .property-variant(menu-tabbed-item-link-inverse-selected, background-color, color, null, null);

            }

          }

        }

      }

    }

  }

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@menu-tabbed-enabled) and (@menu-tabbed-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Menu Tabbed
      ----------------------------------------------------------------------------- */

      .menu-tabbed {

        .element-spacing(menu-tabbed, null, screen-small);

        /* -----------------------------------------------------------------------------
        Layout Variants
        ----------------------------------------------------------------------------- */

        &.short {

          .element-spacing(menu-tabbed, short, screen-small);

        }

        &.tall {

          .element-spacing(menu-tabbed, tall, screen-small);

        }

        /* -----------------------------------------------------------------------------
        Menu Tabbed Item
        ----------------------------------------------------------------------------- */

        li {

          .element-text-size(menu-tabbed-item, screen-small);
          .element-spacing(menu-tabbed-item, null, screen-small);

          a {

            .element-text-size(menu-tabbed-item-link, screen-small);
            .element-spacing(menu-tabbed-item-link, null, screen-small);

          }

        }

      }

    }

  }

}



& when (@layout-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@menu-tabbed-enabled) and (@menu-tabbed-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Menu Tabbed
      ----------------------------------------------------------------------------- */

      .menu-tabbed {

        .element-spacing(menu-tabbed, null, screen-medium);

        /* -----------------------------------------------------------------------------
        Layout Variants
        ----------------------------------------------------------------------------- */

        &.short {

          .element-spacing(menu-tabbed, short, screen-medium);

        }

        &.tall {

          .element-spacing(menu-tabbed, tall, screen-medium);

        }

        /* -----------------------------------------------------------------------------
        Menu Tabbed Item
        ----------------------------------------------------------------------------- */

        li {

          .element-text-size(menu-tabbed-item, screen-medium);
          .element-spacing(menu-tabbed-item, null, screen-medium);

          a {

            .element-text-size(menu-tabbed-item-link, screen-medium);
            .element-spacing(menu-tabbed-item-link, null, screen-medium);

          }

        }

      }

    }

  }

}



& when (@layout-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@menu-tabbed-enabled) and (@menu-tabbed-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Menu Tabbed
      ----------------------------------------------------------------------------- */

      .menu-tabbed {

        .element-spacing(menu-tabbed, null, screen-large);

        /* -----------------------------------------------------------------------------
        Layout Variants
        ----------------------------------------------------------------------------- */

        &.short {

          .element-spacing(menu-tabbed, short, screen-large);

        }

        &.tall {

          .element-spacing(menu-tabbed, tall, screen-large);

        }

        /* -----------------------------------------------------------------------------
        Menu Tabbed Item
        ----------------------------------------------------------------------------- */

        li {

          .element-text-size(menu-tabbed-item, screen-large);
          .element-spacing(menu-tabbed-item, null, screen-large);

          a {

            .element-text-size(menu-tabbed-item-link, screen-large);
            .element-spacing(menu-tabbed-item-link, null, screen-large);

          }

        }

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@menu-tabbed-enabled) and (@menu-tabbed-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Menu Tabbed
      ----------------------------------------------------------------------------- */

      .menu-tabbed {

        .element-spacing(menu-tabbed, null, screen-jumbo);

        /* -----------------------------------------------------------------------------
        Layout Variants
        ----------------------------------------------------------------------------- */

        &.short {

          .element-spacing(menu-tabbed, short, screen-jumbo);

        }

        &.tall {

          .element-spacing(menu-tabbed, tall, screen-jumbo);

        }

        /* -----------------------------------------------------------------------------
        Menu Tabbed Item
        ----------------------------------------------------------------------------- */

        li {

          .element-text-size(menu-tabbed-item, screen-jumbo);
          .element-spacing(menu-tabbed-item, null, screen-jumbo);

          a {

            .element-text-size(menu-tabbed-item-link, screen-jumbo);
            .element-spacing(menu-tabbed-item-link, null, screen-jumbo);

          }

        }

      }

    }

  }

}
