& when (@menu-tabbed-enabled) {

  .menu-tabbed {
    margin-bottom: @menu-tabbed-margin-bottom;
    margin-top: @menu-tabbed-margin-top;
    padding: 0;
    position: relative;

    // Layout Variants
    &.short {
      margin-bottom: @menu-tabbed-margin-bottom * @menu-tabbed-short-margin-bottom-scale;
      margin-top: @menu-tabbed-margin-top * @menu-tabbed-short-margin-top-scale;
    }

    &.tall {
      margin-bottom: @menu-tabbed-margin-bottom * @menu-tabbed-tall-margin-bottom-scale;
      margin-top: @menu-tabbed-margin-top * @menu-tabbed-tall-margin-top-scale;
    }
  }

  .menu-tabbed-item {
    cursor: pointer;
    display: inline-block;
    margin: 0 @menu-tabbed-item-margin-right 0 0;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      display: none;
    }

    &.selected,
    &.active {

      .menu-tabbed-item-label {
        color: @menu-tabbed-item-link-selected-color;

        &:after {
          background: @menu-tabbed-item-link-selected-color;
          display: block;
        }
      }
    }
  }

  .menu-tabbed-item-label {
    color: @menu-tabbed-item-link-color;
    display: block;
    font-weight: @menu-tabbed-item-link-font-weight;
    padding-bottom: @menu-tabbed-item-link-padding-bottom;
    position: relative;
    text-decoration: @menu-tabbed-item-link-text-decoration;

    &:hover {
      color: @menu-tabbed-item-link-hover-color;
      text-decoration: @menu-tabbed-item-link-text-decoration;

      &:after {
        background: @menu-tabbed-item-link-hover-color;
      }
    }

    &:active {
      color: @menu-tabbed-item-link-active-color;

      &:after {
        background: @menu-tabbed-item-link-active-color;
      }
    }

    &:after {
      background-color: @menu-tabbed-item-link-color;
      bottom: 0;
      content: '';
      display: none;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &.selected,
    &.active {
      color: @menu-tabbed-item-link-selected-color;

      &:after {
        background: @menu-tabbed-item-link-selected-color;
        display: block;
      }
    }
  }
}

& when (@menu-tabbed-enabled) and (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    .menu-tabbed {
      margin-bottom: @menu-tabbed-margin-bottom-screen-small;

      // Layout Variants
      &.short {
        margin-bottom: @menu-tabbed-margin-bottom-screen-small * @menu-tabbed-short-margin-bottom-scale;
      }

      &.tall {
        margin-bottom: @menu-tabbed-margin-bottom-screen-small * @menu-tabbed-tall-margin-bottom-scale;
      }
    }

    .menu-tabbed-item {
      margin-right: @menu-tabbed-item-margin-right-screen-small;
    }

    .menu-tabbed-item-label {
      padding-bottom: @menu-tabbed-item-link-padding-bottom-screen-small;
    }
  }
}

& when (@menu-tabbed-enabled) and (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    .menu-tabbed {
      margin-bottom: @menu-tabbed-margin-bottom-screen-medium;

      // Layout Variants
      &.short {
        margin-bottom: @menu-tabbed-margin-bottom-screen-medium * @menu-tabbed-short-margin-bottom-scale;
      }

      &.tall {
        margin-bottom: @menu-tabbed-margin-bottom-screen-medium * @menu-tabbed-tall-margin-bottom-scale;
      }
    }

    .menu-tabbed-item {
      margin-right: @menu-tabbed-item-margin-right-screen-medium;
    }

    .menu-tabbed-item-label {
      padding-bottom: @menu-tabbed-item-link-padding-bottom-screen-medium;
    }
  }
}

& when (@menu-tabbed-enabled) and (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    .menu-tabbed {
      margin-bottom: @menu-tabbed-margin-bottom-screen-large;

      // Layout Variants
      &.short {
        margin-bottom: @menu-tabbed-margin-bottom-screen-large * @menu-tabbed-short-margin-bottom-scale;
      }

      &.tall {
        margin-bottom: @menu-tabbed-margin-bottom-screen-large * @menu-tabbed-tall-margin-bottom-scale;
      }
    }

    .menu-tabbed-item {
      margin-right: @menu-tabbed-item-margin-right-screen-large;
    }

    .menu-tabbed-item-label {
      padding-bottom: @menu-tabbed-item-link-padding-bottom-screen-large;
    }
  }
}

& when (@menu-tabbed-enabled) and (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    .menu-tabbed {
      margin-bottom: @menu-tabbed-margin-bottom-screen-jumbo;

      // Layout Variants
      &.short {
        margin-bottom: @menu-tabbed-margin-bottom-screen-jumbo * @menu-tabbed-short-margin-bottom-scale;
      }

      &.tall {
        margin-bottom: @menu-tabbed-margin-bottom-screen-jumbo * @menu-tabbed-tall-margin-bottom-scale;
      }
    }

    .menu-tabbed-item {
      margin-right: @menu-tabbed-item-margin-right-screen-jumbo;
    }

    .menu-tabbed-item-label {
      padding-bottom: @menu-tabbed-item-link-padding-bottom-screen-jumbo;
    }
  }
}
