/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
menu-tabbed/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@menu-tabbed-enabled:                                                           @typography-enabled;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@menu-tabbed-screen-small-enabled:                                              @layout-screen-small-enabled;
@menu-tabbed-screen-medium-enabled:                                             @layout-screen-medium-enabled;
@menu-tabbed-screen-large-enabled:                                              @layout-screen-large-enabled;
@menu-tabbed-screen-jumbo-enabled:                                              @layout-screen-jumbo-enabled;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
menu Tabbed
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------- */

// Margin Top

@menu-tabbed-margin-top:                                                        0px;
@menu-tabbed-margin-top-screen-small:                                           null;
@menu-tabbed-margin-top-screen-medium:                                          null;
@menu-tabbed-margin-top-screen-large:                                           null;
@menu-tabbed-margin-top-screen-jumbo:                                           null;

// Margin Bottom

@menu-tabbed-margin-bottom:                                                     @base-spacing-unit;
@menu-tabbed-margin-bottom-screen-small:                                        @base-spacing-unit-screen-small;
@menu-tabbed-margin-bottom-screen-medium:                                       @base-spacing-unit-screen-medium;
@menu-tabbed-margin-bottom-screen-large:                                        @base-spacing-unit-screen-large;
@menu-tabbed-margin-bottom-screen-jumbo:                                        @base-spacing-unit-screen-jumbo;

// Margin Left

@menu-tabbed-margin-left:                                                       null;
@menu-tabbed-margin-left-screen-small:                                          null;
@menu-tabbed-margin-left-screen-medium:                                         null;
@menu-tabbed-margin-left-screen-large:                                          null;
@menu-tabbed-margin-left-screen-jumbo:                                          null;

// Margin Right

@menu-tabbed-margin-right:                                                      null;
@menu-tabbed-margin-right-screen-small:                                         null;
@menu-tabbed-margin-right-screen-medium:                                        null;
@menu-tabbed-margin-right-screen-large:                                         null;
@menu-tabbed-margin-right-screen-jumbo:                                         null;

// Padding Top

@menu-tabbed-padding-top:                                                       null;
@menu-tabbed-padding-top-screen-small:                                          null;
@menu-tabbed-padding-top-screen-medium:                                         null;
@menu-tabbed-padding-top-screen-large:                                          null;
@menu-tabbed-padding-top-screen-jumbo:                                          null;

// Padding Bottom

@menu-tabbed-padding-bottom:                                                    null;
@menu-tabbed-padding-bottom-screen-small:                                       null;
@menu-tabbed-padding-bottom-screen-medium:                                      null;
@menu-tabbed-padding-bottom-screen-large:                                       null;
@menu-tabbed-padding-bottom-screen-jumbo:                                       null;

// Padding Left

@menu-tabbed-padding-left:                                                      null;
@menu-tabbed-padding-left-screen-small:                                         null;
@menu-tabbed-padding-left-screen-medium:                                        null;
@menu-tabbed-padding-left-screen-large:                                         null;
@menu-tabbed-padding-left-screen-jumbo:                                         null;

// Padding Right

@menu-tabbed-padding-right:                                                     null;
@menu-tabbed-padding-right-screen-small:                                        null;
@menu-tabbed-padding-right-screen-medium:                                       null;
@menu-tabbed-padding-right-screen-large:                                        null;
@menu-tabbed-padding-right-screen-jumbo:                                        null;

/* -----------------------------------------------------------------------------
Layout Variants
----------------------------------------------------------------------------- */

// Short

@menu-tabbed-short-margin-top-scale:                                            0.5;
@menu-tabbed-short-margin-bottom-scale:                                         0.5;
@menu-tabbed-short-margin-left-scale:                                           null;
@menu-tabbed-short-margin-right-scale:                                          null;

@menu-tabbed-short-padding-top-scale:                                           0.5;
@menu-tabbed-short-padding-bottom-scale:                                        0.5;
@menu-tabbed-short-padding-left-scale:                                          null;
@menu-tabbed-short-padding-right-scale:                                         null;

// Tall

@menu-tabbed-tall-margin-top-scale:                                             2.0;
@menu-tabbed-tall-margin-bottom-scale:                                          2.0;
@menu-tabbed-tall-margin-left-scale:                                            null;
@menu-tabbed-tall-margin-right-scale:                                           null;

@menu-tabbed-tall-padding-top-scale:                                            2.0;
@menu-tabbed-tall-padding-bottom-scale:                                         2.0;
@menu-tabbed-tall-padding-left-scale:                                           null;
@menu-tabbed-tall-padding-right-scale:                                          null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
menu Tabbed Item
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Text Styling
----------------------------------------------------------------------------- */

// Normal

@menu-tabbed-item-color:                                                        color-lighten(@neutral, 20);
@menu-tabbed-item-font-family:                                                  null;
@menu-tabbed-item-font-style:                                                   null;
@menu-tabbed-item-font-weight:                                                  600;
@menu-tabbed-item-text-transform:                                               null;
@menu-tabbed-item-text-shadow:                                                  null;
@menu-tabbed-item-text-decoration:                                              none;
@menu-tabbed-item-text-rendering:                                               null;
@menu-tabbed-item-background-color:                                             null;
@menu-tabbed-item-background-gradient-color-top:                                null;
@menu-tabbed-item-background-gradient-color-bottom:                             null;
@menu-tabbed-item-border-width:                                                 null;
@menu-tabbed-item-border-color:                                                 null;
@menu-tabbed-item-border-style:                                                 null;
@menu-tabbed-item-border-top-width:                                             null;
@menu-tabbed-item-border-top-color:                                             null;
@menu-tabbed-item-border-top-style:                                             null;
@menu-tabbed-item-border-right-width:                                           null;
@menu-tabbed-item-border-right-color:                                           null;
@menu-tabbed-item-border-right-style:                                           null;
@menu-tabbed-item-border-bottom-width:                                          null;
@menu-tabbed-item-border-bottom-color:                                          null;
@menu-tabbed-item-border-bottom-style:                                          null;
@menu-tabbed-item-border-left-width:                                            null;
@menu-tabbed-item-border-left-color:                                            null;
@menu-tabbed-item-border-left-style:                                            null;
@menu-tabbed-item-shadow:                                                       null;
@menu-tabbed-item-opacity:                                                      null;

// Inverse

@menu-tabbed-item-inverse-color:                                                null;
@menu-tabbed-item-inverse-font-family:                                          null;
@menu-tabbed-item-inverse-font-style:                                           null;
@menu-tabbed-item-inverse-font-weight:                                          null;
@menu-tabbed-item-inverse-text-transform:                                       null;
@menu-tabbed-item-inverse-text-shadow:                                          null;
@menu-tabbed-item-inverse-text-decoration:                                      null;
@menu-tabbed-item-inverse-text-rendering:                                       null;
@menu-tabbed-item-inverse-background-color:                                     null;
@menu-tabbed-item-inverse-background-gradient-color-top:                        null;
@menu-tabbed-item-inverse-background-gradient-color-bottom:                     null;
@menu-tabbed-item-inverse-border-width:                                         null;
@menu-tabbed-item-inverse-border-color:                                         null;
@menu-tabbed-item-inverse-border-style:                                         null;
@menu-tabbed-item-inverse-border-top-width:                                     null;
@menu-tabbed-item-inverse-border-top-color:                                     null;
@menu-tabbed-item-inverse-border-top-style:                                     null;
@menu-tabbed-item-inverse-border-right-width:                                   null;
@menu-tabbed-item-inverse-border-right-color:                                   null;
@menu-tabbed-item-inverse-border-right-style:                                   null;
@menu-tabbed-item-inverse-border-bottom-width:                                  null;
@menu-tabbed-item-inverse-border-bottom-color:                                  null;
@menu-tabbed-item-inverse-border-bottom-style:                                  null;
@menu-tabbed-item-inverse-border-left-width:                                    null;
@menu-tabbed-item-inverse-border-left-color:                                    null;
@menu-tabbed-item-inverse-border-left-style:                                    null;
@menu-tabbed-item-inverse-shadow:                                               null;
@menu-tabbed-item-inverse-opacity:                                              null;

/* -----------------------------------------------------------------------------
Text Size
----------------------------------------------------------------------------- */

// Font Size

@menu-tabbed-item-font-size:                                                    null;
@menu-tabbed-item-font-size-screen-small:                                       null;
@menu-tabbed-item-font-size-screen-medium:                                      null;
@menu-tabbed-item-font-size-screen-large:                                       null;
@menu-tabbed-item-font-size-screen-jumbo:                                       null;

// Line Height

@menu-tabbed-item-line-height:                                                  null;
@menu-tabbed-item-line-height-screen-small:                                     null;
@menu-tabbed-item-line-height-screen-medium:                                    null;
@menu-tabbed-item-line-height-screen-large:                                     null;
@menu-tabbed-item-line-height-screen-jumbo:                                     null;

/* -----------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------- */

// Margin Top

@menu-tabbed-item-margin-top:                                                   0px;
@menu-tabbed-item-margin-top-screen-small:                                      null;
@menu-tabbed-item-margin-top-screen-medium:                                     null;
@menu-tabbed-item-margin-top-screen-large:                                      null;
@menu-tabbed-item-margin-top-screen-jumbo:                                      null;

// Margin Bottom

@menu-tabbed-item-margin-bottom:                                                0px;
@menu-tabbed-item-margin-bottom-screen-small:                                   null;
@menu-tabbed-item-margin-bottom-screen-medium:                                  null;
@menu-tabbed-item-margin-bottom-screen-large:                                   null;
@menu-tabbed-item-margin-bottom-screen-jumbo:                                   null;

// Margin Left

@menu-tabbed-item-margin-left:                                                  null;
@menu-tabbed-item-margin-left-screen-small:                                     null;
@menu-tabbed-item-margin-left-screen-medium:                                    null;
@menu-tabbed-item-margin-left-screen-large:                                     null;
@menu-tabbed-item-margin-left-screen-jumbo:                                     null;

// Margin Right

@menu-tabbed-item-margin-right:                                                 null;
@menu-tabbed-item-margin-right-screen-small:                                    null;
@menu-tabbed-item-margin-right-screen-medium:                                   null;
@menu-tabbed-item-margin-right-screen-large:                                    null;
@menu-tabbed-item-margin-right-screen-jumbo:                                    null;

// Padding Top

@menu-tabbed-item-padding-top:                                                  null;
@menu-tabbed-item-padding-top-screen-small:                                     null;
@menu-tabbed-item-padding-top-screen-medium:                                    null;
@menu-tabbed-item-padding-top-screen-large:                                     null;
@menu-tabbed-item-padding-top-screen-jumbo:                                     null;

// Padding Bottom

@menu-tabbed-item-padding-bottom:                                               0.5 * @base-spacing-unit;
@menu-tabbed-item-padding-bottom-screen-small:                                  0.5 * @base-spacing-unit-screen-small;
@menu-tabbed-item-padding-bottom-screen-medium:                                 0.5 * @base-spacing-unit-screen-medium;
@menu-tabbed-item-padding-bottom-screen-large:                                  0.5 * @base-spacing-unit-screen-large;
@menu-tabbed-item-padding-bottom-screen-jumbo:                                  0.5 * @base-spacing-unit-screen-jumbo;

// Padding Left

@menu-tabbed-item-padding-left:                                                 0px;
@menu-tabbed-item-padding-left-screen-small:                                    null;
@menu-tabbed-item-padding-left-screen-medium:                                   null;
@menu-tabbed-item-padding-left-screen-large:                                    null;
@menu-tabbed-item-padding-left-screen-jumbo:                                    null;

// Padding Right

@menu-tabbed-item-padding-right:                                                0.5 * @base-spacing-unit;
@menu-tabbed-item-padding-right-screen-small:                                   0.5 * @base-spacing-unit-screen-small;
@menu-tabbed-item-padding-right-screen-medium:                                  0.5 * @base-spacing-unit-screen-medium;
@menu-tabbed-item-padding-right-screen-large:                                   0.5 * @base-spacing-unit-screen-large;
@menu-tabbed-item-padding-right-screen-jumbo:                                   0.5 * @base-spacing-unit-screen-jumbo;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
menu Tabbed Item Link
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Text Styling
----------------------------------------------------------------------------- */

// Normal

@menu-tabbed-item-link-color:                                                   color-lighten(@neutral, 20);
@menu-tabbed-item-link-font-family:                                             null;
@menu-tabbed-item-link-font-style:                                              null;
@menu-tabbed-item-link-font-weight:                                             null;
@menu-tabbed-item-link-text-transform:                                          null;
@menu-tabbed-item-link-text-shadow:                                             null;
@menu-tabbed-item-link-text-decoration:                                         none;
@menu-tabbed-item-link-text-rendering:                                          null;
@menu-tabbed-item-link-background-color:                                        null;
@menu-tabbed-item-link-background-gradient-color-top:                           null;
@menu-tabbed-item-link-background-gradient-color-bottom:                        null;
@menu-tabbed-item-link-border-width:                                            null;
@menu-tabbed-item-link-border-color:                                            null;
@menu-tabbed-item-link-border-style:                                            null;
@menu-tabbed-item-link-border-top-width:                                        null;
@menu-tabbed-item-link-border-top-color:                                        null;
@menu-tabbed-item-link-border-top-style:                                        null;
@menu-tabbed-item-link-border-right-width:                                      null;
@menu-tabbed-item-link-border-right-color:                                      null;
@menu-tabbed-item-link-border-right-style:                                      null;
@menu-tabbed-item-link-border-bottom-width:                                     null;
@menu-tabbed-item-link-border-bottom-color:                                     null;
@menu-tabbed-item-link-border-bottom-style:                                     null;
@menu-tabbed-item-link-border-left-width:                                       null;
@menu-tabbed-item-link-border-left-color:                                       null;
@menu-tabbed-item-link-border-left-style:                                       null;
@menu-tabbed-item-link-shadow:                                                  null;
@menu-tabbed-item-link-opacity:                                                 null;

// Hover

@menu-tabbed-item-link-hover-color:                                             color-lighten(@purple, 0);
@menu-tabbed-item-link-hover-font-family:                                       null;
@menu-tabbed-item-link-hover-font-style:                                        null;
@menu-tabbed-item-link-hover-font-weight:                                       null;
@menu-tabbed-item-link-hover-text-transform:                                    null;
@menu-tabbed-item-link-hover-text-shadow:                                       null;
@menu-tabbed-item-link-hover-text-decoration:                                   none;
@menu-tabbed-item-link-hover-text-rendering:                                    null;
@menu-tabbed-item-link-hover-background-color:                                  null;
@menu-tabbed-item-link-hover-background-gradient-color-top:                     null;
@menu-tabbed-item-link-hover-background-gradient-color-bottom:                  null;
@menu-tabbed-item-link-hover-border-width:                                      null;
@menu-tabbed-item-link-hover-border-color:                                      null;
@menu-tabbed-item-link-hover-border-style:                                      null;
@menu-tabbed-item-link-hover-border-top-width:                                  null;
@menu-tabbed-item-link-hover-border-top-color:                                  null;
@menu-tabbed-item-link-hover-border-top-style:                                  null;
@menu-tabbed-item-link-hover-border-right-width:                                null;
@menu-tabbed-item-link-hover-border-right-color:                                null;
@menu-tabbed-item-link-hover-border-right-style:                                null;
@menu-tabbed-item-link-hover-border-bottom-width:                               null;
@menu-tabbed-item-link-hover-border-bottom-color:                               null;
@menu-tabbed-item-link-hover-border-bottom-style:                               null;
@menu-tabbed-item-link-hover-border-left-width:                                 null;
@menu-tabbed-item-link-hover-border-left-color:                                 null;
@menu-tabbed-item-link-hover-border-left-style:                                 null;
@menu-tabbed-item-link-hover-shadow:                                            null;
@menu-tabbed-item-link-hover-opacity:                                           null;

// Active

@menu-tabbed-item-link-active-color:                                            color-lighten(@purple, -20);
@menu-tabbed-item-link-active-font-family:                                      null;
@menu-tabbed-item-link-active-font-style:                                       null;
@menu-tabbed-item-link-active-font-weight:                                      null;
@menu-tabbed-item-link-active-text-transform:                                   null;
@menu-tabbed-item-link-active-text-shadow:                                      null;
@menu-tabbed-item-link-active-text-decoration:                                  none;
@menu-tabbed-item-link-active-text-rendering:                                   null;
@menu-tabbed-item-link-active-background-color:                                 null;
@menu-tabbed-item-link-active-background-gradient-color-top:                    null;
@menu-tabbed-item-link-active-background-gradient-color-bottom:                 null;
@menu-tabbed-item-link-active-border-width:                                     null;
@menu-tabbed-item-link-active-border-color:                                     null;
@menu-tabbed-item-link-active-border-style:                                     null;
@menu-tabbed-item-link-active-border-top-width:                                 null;
@menu-tabbed-item-link-active-border-top-color:                                 null;
@menu-tabbed-item-link-active-border-top-style:                                 null;
@menu-tabbed-item-link-active-border-right-width:                               null;
@menu-tabbed-item-link-active-border-right-color:                               null;
@menu-tabbed-item-link-active-border-right-style:                               null;
@menu-tabbed-item-link-active-border-bottom-width:                              null;
@menu-tabbed-item-link-active-border-bottom-color:                              null;
@menu-tabbed-item-link-active-border-bottom-style:                              null;
@menu-tabbed-item-link-active-border-left-width:                                null;
@menu-tabbed-item-link-active-border-left-color:                                null;
@menu-tabbed-item-link-active-border-left-style:                                null;
@menu-tabbed-item-link-active-shadow:                                           null;
@menu-tabbed-item-link-active-opacity:                                          null;

// Selected

@menu-tabbed-item-link-selected-color:                                          color-lighten(@purple, 0);
@menu-tabbed-item-link-selected-font-family:                                    null;
@menu-tabbed-item-link-selected-font-style:                                     null;
@menu-tabbed-item-link-selected-font-weight:                                    null;
@menu-tabbed-item-link-selected-text-transform:                                 null;
@menu-tabbed-item-link-selected-text-shadow:                                    null;
@menu-tabbed-item-link-selected-text-decoration:                                none;
@menu-tabbed-item-link-selected-text-rendering:                                 null;
@menu-tabbed-item-link-selected-background-color:                               null;
@menu-tabbed-item-link-selected-background-gradient-color-top:                  null;
@menu-tabbed-item-link-selected-background-gradient-color-bottom:               null;
@menu-tabbed-item-link-selected-border-width:                                   null;
@menu-tabbed-item-link-selected-border-color:                                   null;
@menu-tabbed-item-link-selected-border-style:                                   null;
@menu-tabbed-item-link-selected-border-top-width:                               null;
@menu-tabbed-item-link-selected-border-top-color:                               null;
@menu-tabbed-item-link-selected-border-top-style:                               null;
@menu-tabbed-item-link-selected-border-right-width:                             null;
@menu-tabbed-item-link-selected-border-right-color:                             null;
@menu-tabbed-item-link-selected-border-right-style:                             null;
@menu-tabbed-item-link-selected-border-bottom-width:                            null;
@menu-tabbed-item-link-selected-border-bottom-color:                            null;
@menu-tabbed-item-link-selected-border-bottom-style:                            null;
@menu-tabbed-item-link-selected-border-left-width:                              null;
@menu-tabbed-item-link-selected-border-left-color:                              null;
@menu-tabbed-item-link-selected-border-left-style:                              null;
@menu-tabbed-item-link-selected-shadow:                                         null;
@menu-tabbed-item-link-selected-opacity:                                        null;

// Inverse

@menu-tabbed-item-link-inverse-color:                                           null;
@menu-tabbed-item-link-inverse-font-family:                                     null;
@menu-tabbed-item-link-inverse-font-style:                                      null;
@menu-tabbed-item-link-inverse-font-weight:                                     null;
@menu-tabbed-item-link-inverse-text-transform:                                  null;
@menu-tabbed-item-link-inverse-text-shadow:                                     null;
@menu-tabbed-item-link-inverse-text-decoration:                                 null;
@menu-tabbed-item-link-inverse-text-rendering:                                  null;
@menu-tabbed-item-link-inverse-background-color:                                null;
@menu-tabbed-item-link-inverse-background-gradient-color-top:                   null;
@menu-tabbed-item-link-inverse-background-gradient-color-bottom:                null;
@menu-tabbed-item-link-inverse-border-width:                                    null;
@menu-tabbed-item-link-inverse-border-color:                                    null;
@menu-tabbed-item-link-inverse-border-style:                                    null;
@menu-tabbed-item-link-inverse-border-top-width:                                null;
@menu-tabbed-item-link-inverse-border-top-color:                                null;
@menu-tabbed-item-link-inverse-border-top-style:                                null;
@menu-tabbed-item-link-inverse-border-right-width:                              null;
@menu-tabbed-item-link-inverse-border-right-color:                              null;
@menu-tabbed-item-link-inverse-border-right-style:                              null;
@menu-tabbed-item-link-inverse-border-bottom-width:                             null;
@menu-tabbed-item-link-inverse-border-bottom-color:                             null;
@menu-tabbed-item-link-inverse-border-bottom-style:                             null;
@menu-tabbed-item-link-inverse-border-left-width:                               null;
@menu-tabbed-item-link-inverse-border-left-color:                               null;
@menu-tabbed-item-link-inverse-border-left-style:                               null;
@menu-tabbed-item-link-inverse-shadow:                                          null;
@menu-tabbed-item-link-inverse-opacity:                                         null;

// Hover

@menu-tabbed-item-link-inverse-hover-color:                                     null;
@menu-tabbed-item-link-inverse-hover-font-family:                               null;
@menu-tabbed-item-link-inverse-hover-font-style:                                null;
@menu-tabbed-item-link-inverse-hover-font-weight:                               null;
@menu-tabbed-item-link-inverse-hover-text-transform:                            null;
@menu-tabbed-item-link-inverse-hover-text-shadow:                               null;
@menu-tabbed-item-link-inverse-hover-text-decoration:                           none;
@menu-tabbed-item-link-inverse-hover-text-rendering:                            null;
@menu-tabbed-item-link-inverse-hover-background-color:                          null;
@menu-tabbed-item-link-inverse-hover-background-gradient-color-top:             null;
@menu-tabbed-item-link-inverse-hover-background-gradient-color-bottom:          null;
@menu-tabbed-item-link-inverse-hover-border-width:                              null;
@menu-tabbed-item-link-inverse-hover-border-color:                              null;
@menu-tabbed-item-link-inverse-hover-border-style:                              null;
@menu-tabbed-item-link-inverse-hover-border-top-width:                          null;
@menu-tabbed-item-link-inverse-hover-border-top-color:                          null;
@menu-tabbed-item-link-inverse-hover-border-top-style:                          null;
@menu-tabbed-item-link-inverse-hover-border-right-width:                        null;
@menu-tabbed-item-link-inverse-hover-border-right-color:                        null;
@menu-tabbed-item-link-inverse-hover-border-right-style:                        null;
@menu-tabbed-item-link-inverse-hover-border-bottom-width:                       null;
@menu-tabbed-item-link-inverse-hover-border-bottom-color:                       null;
@menu-tabbed-item-link-inverse-hover-border-bottom-style:                       null;
@menu-tabbed-item-link-inverse-hover-border-left-width:                         null;
@menu-tabbed-item-link-inverse-hover-border-left-color:                         null;
@menu-tabbed-item-link-inverse-hover-border-left-style:                         null;
@menu-tabbed-item-link-inverse-hover-shadow:                                    null;
@menu-tabbed-item-link-inverse-hover-opacity:                                   null;

// Active

@menu-tabbed-item-link-inverse-active-color:                                    null;
@menu-tabbed-item-link-inverse-active-font-family:                              null;
@menu-tabbed-item-link-inverse-active-font-style:                               null;
@menu-tabbed-item-link-inverse-active-font-weight:                              null;
@menu-tabbed-item-link-inverse-active-text-transform:                           null;
@menu-tabbed-item-link-inverse-active-text-shadow:                              null;
@menu-tabbed-item-link-inverse-active-text-decoration:                          none;
@menu-tabbed-item-link-inverse-active-text-rendering:                           null;
@menu-tabbed-item-link-inverse-active-background-color:                         null;
@menu-tabbed-item-link-inverse-active-background-gradient-color-top:            null;
@menu-tabbed-item-link-inverse-active-background-gradient-color-bottom:         null;
@menu-tabbed-item-link-inverse-active-border-width:                             null;
@menu-tabbed-item-link-inverse-active-border-color:                             null;
@menu-tabbed-item-link-inverse-active-border-style:                             null;
@menu-tabbed-item-link-inverse-active-border-top-width:                         null;
@menu-tabbed-item-link-inverse-active-border-top-color:                         null;
@menu-tabbed-item-link-inverse-active-border-top-style:                         null;
@menu-tabbed-item-link-inverse-active-border-right-width:                       null;
@menu-tabbed-item-link-inverse-active-border-right-color:                       null;
@menu-tabbed-item-link-inverse-active-border-right-style:                       null;
@menu-tabbed-item-link-inverse-active-border-bottom-width:                      null;
@menu-tabbed-item-link-inverse-active-border-bottom-color:                      null;
@menu-tabbed-item-link-inverse-active-border-bottom-style:                      null;
@menu-tabbed-item-link-inverse-active-border-left-width:                        null;
@menu-tabbed-item-link-inverse-active-border-left-color:                        null;
@menu-tabbed-item-link-inverse-active-border-left-style:                        null;
@menu-tabbed-item-link-inverse-active-shadow:                                   null;
@menu-tabbed-item-link-inverse-active-opacity:                                  null;

// Selected

@menu-tabbed-item-link-inverse-selected-color:                                  null;
@menu-tabbed-item-link-inverse-selected-font-family:                            null;
@menu-tabbed-item-link-inverse-selected-font-style:                             null;
@menu-tabbed-item-link-inverse-selected-font-weight:                            null;
@menu-tabbed-item-link-inverse-selected-text-transform:                         null;
@menu-tabbed-item-link-inverse-selected-text-shadow:                            null;
@menu-tabbed-item-link-inverse-selected-text-decoration:                        none;
@menu-tabbed-item-link-inverse-selected-text-rendering:                         null;
@menu-tabbed-item-link-inverse-selected-background-color:                       null;
@menu-tabbed-item-link-inverse-selected-background-gradient-color-top:          null;
@menu-tabbed-item-link-inverse-selected-background-gradient-color-bottom:       null;
@menu-tabbed-item-link-inverse-selected-border-width:                           null;
@menu-tabbed-item-link-inverse-selected-border-color:                           null;
@menu-tabbed-item-link-inverse-selected-border-style:                           null;
@menu-tabbed-item-link-inverse-selected-border-top-width:                       null;
@menu-tabbed-item-link-inverse-selected-border-top-color:                       null;
@menu-tabbed-item-link-inverse-selected-border-top-style:                       null;
@menu-tabbed-item-link-inverse-selected-border-right-width:                     null;
@menu-tabbed-item-link-inverse-selected-border-right-color:                     null;
@menu-tabbed-item-link-inverse-selected-border-right-style:                     null;
@menu-tabbed-item-link-inverse-selected-border-bottom-width:                    null;
@menu-tabbed-item-link-inverse-selected-border-bottom-color:                    null;
@menu-tabbed-item-link-inverse-selected-border-bottom-style:                    null;
@menu-tabbed-item-link-inverse-selected-border-left-width:                      null;
@menu-tabbed-item-link-inverse-selected-border-left-color:                      null;
@menu-tabbed-item-link-inverse-selected-border-left-style:                      null;
@menu-tabbed-item-link-inverse-selected-shadow:                                 null;
@menu-tabbed-item-link-inverse-selected-opacity:                                null;

/* -----------------------------------------------------------------------------
Text Size
----------------------------------------------------------------------------- */

// Font Size

@menu-tabbed-item-link-font-size:                                               null;
@menu-tabbed-item-link-font-size-screen-small:                                  null;
@menu-tabbed-item-link-font-size-screen-medium:                                 null;
@menu-tabbed-item-link-font-size-screen-large:                                  null;
@menu-tabbed-item-link-font-size-screen-jumbo:                                  null;

// Line Height

@menu-tabbed-item-link-line-height:                                             null;
@menu-tabbed-item-link-line-height-screen-small:                                null;
@menu-tabbed-item-link-line-height-screen-medium:                               null;
@menu-tabbed-item-link-line-height-screen-large:                                null;
@menu-tabbed-item-link-line-height-screen-jumbo:                                null;

/* -----------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------- */

// Margin Top

@menu-tabbed-item-link-margin-top:                                              null;
@menu-tabbed-item-link-margin-top-screen-small:                                 null;
@menu-tabbed-item-link-margin-top-screen-medium:                                null;
@menu-tabbed-item-link-margin-top-screen-large:                                 null;
@menu-tabbed-item-link-margin-top-screen-jumbo:                                 null;

// Margin Bottom

@menu-tabbed-item-link-margin-bottom:                                           -0.5 * @base-spacing-unit;
@menu-tabbed-item-link-margin-bottom-screen-small:                              -0.5 * @base-spacing-unit-screen-small;
@menu-tabbed-item-link-margin-bottom-screen-medium:                             -0.5 * @base-spacing-unit-screen-medium;
@menu-tabbed-item-link-margin-bottom-screen-large:                              -0.5 * @base-spacing-unit-screen-large;
@menu-tabbed-item-link-margin-bottom-screen-jumbo:                              -0.5 * @base-spacing-unit-screen-jumbo;

// Margin Left

@menu-tabbed-item-link-margin-left:                                             null;
@menu-tabbed-item-link-margin-left-screen-small:                                null;
@menu-tabbed-item-link-margin-left-screen-medium:                               null;
@menu-tabbed-item-link-margin-left-screen-large:                                null;
@menu-tabbed-item-link-margin-left-screen-jumbo:                                null;

// Margin Right

@menu-tabbed-item-link-margin-right:                                            null;
@menu-tabbed-item-link-margin-right-screen-small:                               null;
@menu-tabbed-item-link-margin-right-screen-medium:                              null;
@menu-tabbed-item-link-margin-right-screen-large:                               null;
@menu-tabbed-item-link-margin-right-screen-jumbo:                               null;

// Padding Top

@menu-tabbed-item-link-padding-top:                                             null;
@menu-tabbed-item-link-padding-top-screen-small:                                null;
@menu-tabbed-item-link-padding-top-screen-medium:                               null;
@menu-tabbed-item-link-padding-top-screen-large:                                null;
@menu-tabbed-item-link-padding-top-screen-jumbo:                                null;

// Padding Bottom

@menu-tabbed-item-link-padding-bottom:                                          0.5 * @base-spacing-unit;
@menu-tabbed-item-link-padding-bottom-screen-small:                             0.5 * @base-spacing-unit-screen-small;
@menu-tabbed-item-link-padding-bottom-screen-medium:                            0.5 * @base-spacing-unit-screen-medium;
@menu-tabbed-item-link-padding-bottom-screen-large:                             0.5 * @base-spacing-unit-screen-large;
@menu-tabbed-item-link-padding-bottom-screen-jumbo:                             0.5 * @base-spacing-unit-screen-jumbo;

// Padding Left

@menu-tabbed-item-link-padding-left:                                            null;
@menu-tabbed-item-link-padding-left-screen-small:                               null;
@menu-tabbed-item-link-padding-left-screen-medium:                              null;
@menu-tabbed-item-link-padding-left-screen-large:                               null;
@menu-tabbed-item-link-padding-left-screen-jumbo:                               null;

// Padding Right

@menu-tabbed-item-link-padding-right:                                           null;
@menu-tabbed-item-link-padding-right-screen-small:                              null;
@menu-tabbed-item-link-padding-right-screen-medium:                             null;
@menu-tabbed-item-link-padding-right-screen-large:                              null;
@menu-tabbed-item-link-padding-right-screen-jumbo:                              null;
