@menu-tabbed-enabled: true;

/* Styles */

@menu-tabbed-border: @default-border-color;

/* Layout */

@menu-tabbed-margin-top: 0;

@menu-tabbed-margin-bottom: @base-spacing-unit;
@menu-tabbed-margin-bottom-screen-small: @base-spacing-unit-screen-small;
@menu-tabbed-margin-bottom-screen-medium: @base-spacing-unit-screen-medium;
@menu-tabbed-margin-bottom-screen-large: @base-spacing-unit-screen-large;
@menu-tabbed-margin-bottom-screen-jumbo: @base-spacing-unit-screen-jumbo;

@menu-tabbed-vertical-width: @base-spacing-unit * 5;
@menu-tabbed-vertical-width-screen-small: @base-spacing-unit-screen-small * 5;
@menu-tabbed-vertical-width-screen-medium: @base-spacing-unit-screen-medium * 5;
@menu-tabbed-vertical-width-screen-large: @base-spacing-unit-screen-large * 5;
@menu-tabbed-vertical-width-screen-jumbo: @base-spacing-unit-screen-jumbo * 5;

@menu-tabbed-vertical-margin-right: @base-spacing-unit;
@menu-tabbed-vertical-margin-right-screen-small: @base-spacing-unit-screen-small;
@menu-tabbed-vertical-margin-right-screen-medium: @base-spacing-unit-screen-medium;
@menu-tabbed-vertical-margin-right-screen-large: @base-spacing-unit-screen-large;
@menu-tabbed-vertical-margin-right-screen-jumbo: @base-spacing-unit-screen-jumbo;

@menu-tabbed-vertical-margin-bottom: 0;
@menu-tabbed-vertical-margin-bottom-screen-small: 0;
@menu-tabbed-vertical-margin-bottom-screen-medium: 0;
@menu-tabbed-vertical-margin-bottom-screen-large: 0;
@menu-tabbed-vertical-margin-bottom-screen-jumbo: 0;

// Short

@menu-tabbed-short-margin-top-scale: 0.5;
@menu-tabbed-short-margin-bottom-scale: 0.5;
@menu-tabbed-short-padding-top-scale: 0.5;
@menu-tabbed-short-padding-bottom-scale: 0.5;

// Tall

@menu-tabbed-tall-margin-top-scale: 2;
@menu-tabbed-tall-margin-bottom-scale: 2;
@menu-tabbed-tall-padding-top-scale: 2;
@menu-tabbed-tall-padding-bottom-scale: 2;

/*
 * Menu Tabbed Item
 */

/* Text Styling */

@menu-tabbed-item-color: color-lighten(@neutral, 20);
@menu-tabbed-item-link-font-weight: 600;
@menu-tabbed-item-text-decoration: none;

/* Layout: Horizontal */

@menu-tabbed-horizontal-item-margin-right: 0.5 * @base-spacing-unit;
@menu-tabbed-horizontal-item-margin-right-screen-small: 0.5 * @base-spacing-unit-screen-small;
@menu-tabbed-horizontal-item-margin-right-screen-medium: 0.5 * @base-spacing-unit-screen-medium;
@menu-tabbed-horizontal-item-margin-right-screen-large: 0.5 * @base-spacing-unit-screen-large;
@menu-tabbed-horizontal-item-margin-right-screen-jumbo: 0.5 * @base-spacing-unit-screen-jumbo;

/* Layout: Vertical */

@menu-tabbed-vertical-item-margin-left: 0.5 * @base-spacing-unit;
@menu-tabbed-vertical-item-margin-left-screen-small: 0.5 * @base-spacing-unit-screen-small;
@menu-tabbed-vertical-item-margin-left-screen-medium: 0.5 * @base-spacing-unit-screen-medium;
@menu-tabbed-vertical-item-margin-left-screen-large: 0.5 * @base-spacing-unit-screen-large;
@menu-tabbed-vertical-item-margin-left-screen-jumbo: 0.5 * @base-spacing-unit-screen-jumbo;

/*
 * Menu Tabbed Item Link
 */

/* Text Styling */

@menu-tabbed-item-link-color: color-lighten(@neutral, 20);
@menu-tabbed-item-link-text-decoration: none;
@menu-tabbed-item-link-hover-color: color-lighten(@purple, 0);
@menu-tabbed-item-link-active-color: color-lighten(@purple, -20);
@menu-tabbed-item-link-selected-color: color-lighten(@purple, 0);

/* Layout: Horizontal */

@menu-tabbed-horizontal-item-link-padding-bottom: 0.5 * @base-spacing-unit;
@menu-tabbed-horizontal-item-link-padding-bottom-screen-small: 0.5 * @base-spacing-unit-screen-small;
@menu-tabbed-horizontal-item-link-padding-bottom-screen-medium: 0.5 * @base-spacing-unit-screen-medium;
@menu-tabbed-horizontal-item-link-padding-bottom-screen-large: 0.5 * @base-spacing-unit-screen-large;
@menu-tabbed-horizontal-item-link-padding-bottom-screen-jumbo: 0.5 * @base-spacing-unit-screen-jumbo;

/* Layout: Vertical */

@menu-tabbed-vertical-item-link-padding-top: 0.25 * @base-spacing-unit;
@menu-tabbed-vertical-item-link-padding-top-screen-small: 0.25 * @base-spacing-unit-screen-small;
@menu-tabbed-vertical-item-link-padding-top-screen-medium: 0.25 * @base-spacing-unit-screen-medium;
@menu-tabbed-vertical-item-link-padding-top-screen-large: 0.25 * @base-spacing-unit-screen-large;
@menu-tabbed-vertical-item-link-padding-top-screen-jumbo: 0.25 * @base-spacing-unit-screen-jumbo;

@menu-tabbed-vertical-item-link-padding-bottom: @menu-tabbed-vertical-item-link-padding-top;
@menu-tabbed-vertical-item-link-padding-bottom-screen-small: @menu-tabbed-vertical-item-link-padding-top-screen-small;
@menu-tabbed-vertical-item-link-padding-bottom-screen-medium: @menu-tabbed-vertical-item-link-padding-top-screen-medium;
@menu-tabbed-vertical-item-link-padding-bottom-screen-large: @menu-tabbed-vertical-item-link-padding-top-screen-large;
@menu-tabbed-vertical-item-link-padding-bottom-screen-jumbo: @menu-tabbed-vertical-item-link-padding-top-screen-jumbo;
