& when (@page-header-enabled) {

  .page-header {

    &-navigation {
      align-items: flex-start;
      display: flex;
      flex: 1 1 auto;

      .menu-tabbed {
        margin-bottom: 0;
      }

      & when not (@pod-margin-top = null) {
        padding-top: @pod-margin-top;
      }

      & when not (@pod-margin-bottom = null) {
        margin-bottom: -@pod-margin-bottom;
      }

      &-tabs {
        display: none;
      }

      &-dropdown {
        display: block;
        flex: 0 1 auto;

        &-button {
          border-radius: 0;
          height: @page-header-dropdown-menu-button-height;
          padding-left: @page-header-navigation-dropdown-padding-left;
          padding-right: @page-header-navigation-dropdown-padding-right;
          text-align: left;
          text-transform: none;
          width: 100%;

          button& {
            display: block;
          }
        }

        &-menu .is-selected,
        &-active-item {
          color: @page-header-navigation-dropdown-item-active-color;
        }

        &-menu {
          border-radius: 0;
          max-width: none;
          width: 100%;

          &.up {
            box-shadow: 0 -1px 0 @page-header-navigation-dropdown-menu-border-color;
            margin-bottom: @page-header-dropdown-menu-button-height * -1;
          }

          &.down {
            box-shadow: 0 1px 0 @page-header-navigation-dropdown-menu-border-color;
            margin-top: @page-header-dropdown-menu-button-height * -1;
          }

          li {
            height: @page-header-dropdown-menu-button-height;
            line-height: @page-header-dropdown-menu-button-height;
            padding: @page-header-navigation-dropdown-padding-top @page-header-navigation-dropdown-padding-right @page-header-navigation-dropdown-padding-bottom @page-header-navigation-dropdown-padding-left;

            &.page-header-menu-item-nested {
              padding-left: @page-header-navigation-dropdown-nested-item-padding-left;
            }
          }

          .dropdown-menu-items {
            padding-bottom: 0;
            padding-top: 0;
          }
        }

        &-active-item {
          display: flex;
        }

        &-label {
          flex: 1 1 auto;
        }

        &-caret {
          flex: 0 0 auto;

          .icon {
            display: block;
          }
        }

        .page-header-content-section & {
          border-top: 1px solid @page-header-navigation-dropdown-border-color;
          flex-grow: 1;
          margin-left: @page-header-navigation-dropdown-margin-left;
          margin-right: @page-header-navigation-dropdown-margin-right;
        }

        .modal-full-screen & {
          border-bottom: 1px solid @page-header-navigation-dropdown-border-color;
        }
      }
    }
  }
}

& when (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-small-enabled) {

      .page-header {

        &-navigation {

          & when not (@pod-margin-top-screen-small = null) {
            padding-top: @pod-margin-top-screen-small;
          }

          & when not (@pod-margin-bottom-screen-small = null) {
            margin-bottom: -@pod-margin-bottom-screen-small;
          }

          &-dropdown {

            &-button {
              height: @page-header-dropdown-menu-button-height-screen-small;
              padding-left: @page-header-navigation-dropdown-padding-left-screen-small;
              padding-right: @page-header-navigation-dropdown-padding-right-screen-small;
            }

            &-menu {

              &.up {
                margin-bottom: @page-header-dropdown-menu-button-height-screen-small * -1;
              }

              &.down {
                margin-top: @page-header-dropdown-menu-button-height-screen-small * -1;
              }

              li {
                height: @page-header-dropdown-menu-button-height-screen-small;
                line-height: @page-header-dropdown-menu-button-height-screen-small;
                padding: @page-header-navigation-dropdown-padding-top-screen-small @page-header-navigation-dropdown-padding-right-screen-small @page-header-navigation-dropdown-padding-bottom-screen-small @page-header-navigation-dropdown-padding-left-screen-small;

                &.page-header-menu-item-nested {
                  padding-left: @page-header-navigation-dropdown-nested-item-padding-left-screen-small;
                }
              }
            }

            .page-header-content-section & {
              margin-left: @page-header-navigation-dropdown-margin-left-screen-small;
              margin-right: @page-header-navigation-dropdown-margin-right-screen-small;
            }
          }
        }
      }
    }
  }
}

& when (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-medium-enabled) {

      .page-header {

        &-navigation {

          & when not (@pod-margin-top-screen-medium = null) {
            padding-top: @pod-margin-top-screen-medium;
          }

          & when not (@pod-margin-bottom-screen-medium = null) {
            margin-bottom: -@pod-margin-bottom-screen-medium;
          }

          &-tabs {
            display: block;
          }

          &-dropdown {
            display: none;
          }
        }
      }
    }
  }
}

& when (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-large-enabled) {

      .page-header {

        &-navigation {

          & when not (@pod-margin-top-screen-large = null) {
            padding-top: @pod-margin-top-screen-large;
          }

          & when not (@pod-margin-bottom-screen-large = null) {
            margin-bottom: -@pod-margin-bottom-screen-large;
          }
        }
      }
    }
  }
}

& when (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-jumbo-enabled) {

      .page-header {

        &-navigation {

          & when not (@pod-margin-top-screen-jumbo = null) {
            padding-top: @pod-margin-top-screen-jumbo;
          }

          & when not (@pod-margin-bottom-screen-jumbo = null) {
            margin-bottom: -@pod-margin-bottom-screen-jumbo;
          }
        }
      }
    }
  }
}
