@page-header-dropdown-menu-button-height: @button-height + @base-spacing-unit / 3;
@page-header-dropdown-menu-button-height-screen-small: @button-height + @base-spacing-unit-screen-small / 3;

@page-header-navigation-dropdown-border-color: color-lighten(@page-header-border-color, 40);
@page-header-navigation-dropdown-item-active-color: @purple;

@page-header-navigation-dropdown-margin-left: @pod-margin-left * -1;
@page-header-navigation-dropdown-margin-left-screen-small: @pod-margin-left-screen-small * -1;

@page-header-navigation-dropdown-margin-right: @pod-margin-right * -1;
@page-header-navigation-dropdown-margin-right-screen-small: @pod-margin-right-screen-small * -1;

@page-header-navigation-dropdown-padding-top: 0;
@page-header-navigation-dropdown-padding-top-screen-small: 0;

@page-header-navigation-dropdown-padding-right: @page-header-navigation-dropdown-margin-right * -1;
@page-header-navigation-dropdown-padding-right-screen-small: @page-header-navigation-dropdown-margin-right-screen-small * -1;

@page-header-navigation-dropdown-padding-bottom: 0;
@page-header-navigation-dropdown-padding-bottom-screen-small: 0;

@page-header-navigation-dropdown-padding-left: @page-header-navigation-dropdown-margin-left * -1;
@page-header-navigation-dropdown-padding-left-screen-small: @page-header-navigation-dropdown-margin-left-screen-small * -1;

@page-header-navigation-dropdown-menu-border-color: fade(@neutral, 20%);

@page-header-navigation-dropdown-nested-item-padding-left: @page-header-navigation-dropdown-padding-left + @base-spacing-unit / 2;
@page-header-navigation-dropdown-nested-item-padding-left-screen-small: @page-header-navigation-dropdown-padding-left-screen-small + @base-spacing-unit-screen-small / 2;
