& when (@header-bar-enabled) {

  .header-bar-logo-wrapper {
    display: inline-block;
    height: 16px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    width: @full-logo-width;

    .header-bar-logo {
      background-image: url(@product-logo-src);
      background-repeat: no-repeat;
      background-size: contain;
      display: inherit;
      height: inherit;
      width: @full-logo-width;
    }

    & when (@layout-screen-small-enabled) {

      @media (max-width: @layout-screen-small-min-width) {
        width: @short-logo-width;
      }
    }
  }

  .header-bar-dropdown-trigger {
    .element-text-size(header-title, null);
    .element-text-style(header-title);
    cursor: pointer;

    &:after {
      .triangle-base();
      .triangle-color('down', @header-title-color);
      align-self: center;
      margin-left: 6px;
    }
  }
}
