& when (@header-bar-enabled) {

  .header-bar-logo-wrapper {
    display: inline-block;
    height: 16px;
    margin-top: 5px;
    overflow: hidden;
    width: @full-logo-width;

    .header-bar-logo {
      background-image: url(@product-logo-src);
      background-repeat: no-repeat;
      background-size: contain;
      display: inherit;
      height: inherit;
      width: @full-logo-width;
    }

    & when (@layout-screen-small-enabled) {

      @media (max-width: @layout-screen-small-max-width) {
        width: @short-logo-width;
      }
    }
  }

  .header-bar-dropdown-trigger {
    .element-text-size(header-title, null);
    .element-text-style(header-title);
    cursor: pointer;

    &:after {
      .triangle-base();
      .triangle-color('down', @header-title-color);
      align-self: center;
      margin-left: 6px;
    }
  }

  .header-bar-dropdown {
    color: @purple-lighten-4;
    cursor: pointer;
    display: inline-flex;
    padding-left: 15px;
    text-decoration: none;

    &:hover {
      color: @white;
      text-decoration: none;
    }

    &:after {
      .triangle-base();
      .triangle-color('down', @purple-lighten-4);
      align-self: center;
      content: '';
      display: inline-block;
      margin-left: 6px;

      & when not (@header-dropdown-caret-width = null) {
        .triangle-size-width('down', @header-dropdown-caret-width);
      }

      & when not (@header-dropdown-caret-height = null) {
        .triangle-size-height('down', @header-dropdown-caret-height);
      }
    }
  }

  .header-bar-dropdown-menu.down {
    margin-top: 10px;
  }
}
