/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

components/icons.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Variables

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Icon
----------------------------------------------------------------------------- */

@icon-default-background-white:                                                 #FAFAFA;

/* -----------------------------------------------------------------------------
Icon (tiny)
----------------------------------------------------------------------------- */

@icon-tiny-enabled:                                                             true;

@icon-tiny-width:                                                               10px;
@icon-tiny-height:                                                              10px;


/* -----------------------------------------------------------------------------
Icon (jumbo)
----------------------------------------------------------------------------- */

@icon-jumbo-width:                                                              90px;
@icon-jumbo-height:                                                             90px;

/* -----------------------------------------------------------------------------
Icon (huge)
----------------------------------------------------------------------------- */

@icon-huge-enabled:                                                             true;

@icon-huge-width:                                                               112px;
@icon-huge-height:                                                              112px;






& when (@icon-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Icon

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .icon {

    svg {
      display: block;
    }

    &.icon-image-container {

      overflow: hidden;

      img {

        width: 100%;
        height: auto;
        display: block;
        margin: 0px;
        padding: 0px;

      }

    }

    &.icon-app-container {

      border-radius: 20%;
      position: relative;

      &:after {

        border-radius: 20%;
        box-shadow:
          inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
          0px 0px 0px 1px rgba(0, 0, 0, 0.1);
        content: '';
        display: block;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;

      }

    }

    &.icon-user-container, &.icon-group-container {

      position: relative;
      border-radius: 100%;

        &:after {

          box-shadow:
            inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3),
            0px 0px 0px 1px rgba(0, 0, 0, 0.1);
          border-radius: 100%;
          content: '';
          display: block;
          height: 100%;
          left: 0px;
          position: absolute;
          top: 0px;
          width: 100%;

        }

    }

    &-default-white {

      background-color: @icon-default-background-white;

    }

    &.icon-margin-right {

      margin-right: @base-spacing-unit * 0.25;

      &.icon-margin-right-wide {

        margin-right: @base-spacing-unit * 0.5;

      }

    }

    &.icon-margin-left {

      margin-left: @base-spacing-unit * 0.25;
      margin-right: 0;

      &.icon-margin-left-wide {

        margin-left: @base-spacing-unit * 0.5;

      }

    }

    &.icon-neutral {
      color: @neutral;
    }

    &.icon-grey {
      color: color-lighten(@neutral, 70%);

      &.inverse {
        color: color-lighten(@neutral, 30%);
      }
    }

  }

  & when (@icon-tiny-enabled) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Icon (Tiny)

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    .icon.icon-tiny {
      width: @icon-tiny-width;
      height: @icon-tiny-height;
    }

  }

  & when (@icon-mini-enabled) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Icon (Mini)

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    .icon.icon-mini {
      max-height: @icon-mini-height;
      max-width: @icon-mini-width;
    }

  }



  & when (@icon-small-enabled) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Icon (small)

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    .icon.icon-small {
      max-height: @icon-small-height;
      max-width: @icon-small-width;
    }

  }



  & when (@icon-medium-enabled) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Icon (medium)

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    .icon.icon-medium {
      max-height: @icon-medium-height;
      max-width: @icon-medium-width;
    }

  }



  & when (@icon-large-enabled) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Icon (large)

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    .icon.icon-large {
      max-height: @icon-large-height;
      max-width: @icon-large-width;
    }

  }



  & when (@icon-jumbo-enabled) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Icon (jumbo)

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    .icon.icon-jumbo {
      max-height: @icon-jumbo-height;
      max-width: @icon-jumbo-width;
    }

  }

}



& when (@icon-huge-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Icon (Huge)

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  .icon.icon-huge {
    width: @icon-huge-width;
    height: @icon-huge-height;
  }

}

& when (@icon-enabled) and (@screen-small-enabled) {

  @media (min-width: @screen-small) {

    .icon {

      &.icon-margin-right {
        margin-right: @base-spacing-unit-screen-small * 0.25;
      }
    }

  }

}

& when (@icon-enabled) and (@screen-medium-enabled) {

  @media (min-width: @screen-medium) {

    .icon {

      &.icon-margin-right {
        margin-right: @base-spacing-unit-screen-medium * 0.15;
      }
    }

  }

}

& when (@icon-enabled) and (@screen-large-enabled) {

  @media (min-width: @screen-large) {

    .icon {

      &.icon-margin-right {
        margin-right: @base-spacing-unit-screen-large * 0.15;
      }
    }

  }

}
