@icon-enabled: true;

@icon-default-background-white: #FAFAFA;

@icon-tiny-enabled: true;

@icon-tiny-width: 10px;
@icon-tiny-height: 10px;

@icon-jumbo-width: 90px;
@icon-jumbo-height: 90px;

@icon-huge-enabled: true;

@icon-huge-width: 112px;
@icon-huge-height: 112px;
