@icon-enabled: true;

/*
 * Styling
 */

/* Icon */

@icon-default-background-white: #fafafa;

// Icon (tiny)

@icon-tiny-enabled: true;

@icon-tiny-width: 10px;
@icon-tiny-height: 10px;

// Icon (jumbo)

@icon-jumbo-width: 90px;
@icon-jumbo-height: 90px;

// Icon (huge)

@icon-huge-enabled: true;

@icon-huge-width: 112px;
@icon-huge-height: 112px;
