/* Page Header */

& when (@page-header-enabled) {

  .page-header {
    .clearfix();
    flex: 0 0 auto;
    position: relative;

    &:before {
      background-color: @page-header-border-color;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &-content-section {
      align-items: center;
      display: flex;

      &-primary {
        min-height: @button-height;
        padding-left: @page-header-content-section-primary-padding-left;
        position: relative;
        transition: padding-left 0.25s;
      }

      &-secondary {

        &-detail {
          margin-left: auto;
        }
      }
    }

    &-sidebar-toggle {
      cursor: pointer;
      display: block;
      flex: 0 0 auto;
      left: @page-header-sidebar-toggle-left;
      opacity: 0.35;
      padding: @page-header-sidebar-toggle-padding;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.15s;

      &:hover {
        opacity: 0.7;
      }

      &-label {
        display: none;
      }
    }

    &-breadcrumbs {
      align-items: center;
      color: @page-header-breadcrumbs-color;
      display: flex;
      flex: 1 1 auto;
      font-size: @page-header-breadcrumbs-font-size;
      font-weight: @page-header-breadcrumbs-font-weight;
      list-style: none;
      margin-bottom: 0;
      min-width: 0;

      a {
        color: @page-header-breadcrumbs-link-color;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    &-breadcrumb {
      flex: 0 1 auto;
      line-height: normal;
      margin: 0 @page-header-breadcrumbs-margin-right 0 0;
      min-width: 0;
      overflow: hidden;
      padding: 0;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:last-child {
        flex: 0 0 auto;
        margin-right: 0;
        min-width: auto;
        overflow: visible;
      }

      &:before {
        display: none;
      }

      &-icon {
        flex: 0 0 auto;
        margin-left: 0;
        margin-top: 0;
      }

      &-caret {
        flex: 0 0 auto;
        min-width: auto;
      }

      &-item {

        &-icon {
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          &-container {
            padding-left: @page-header-breadcrumb-item-icon-container-padding-left;
            position: relative;
          }
        }
      }

      /* Styling Variants */

      .emphasis {
        color: @page-header-breadcrumbs-emphasis-color;
        font-weight: @page-header-breadcrumbs-emphasis-font-weight;
      }

      .muted {
        color: @page-header-breadcrumbs-muted-color;
        font-weight: @page-header-breadcrumbs-muted-font-weight;
      }

      &.inverse {
        color: @page-header-breadcrumbs-inverse-color;

        .emphasis {
          color: @page-header-breadcrumbs-inverse-emphasis-color;
        }

        .muted {
          color: @page-header-breadcrumbs-inverse-muted-color;
        }
      }

      &-content-secondary {
        margin-left: @page-header-breadcrumbs-margin-right;
      }
    }

    &-navigation {
      align-items: flex-start;
      display: flex;
      flex: 1 1 auto;

      .menu-tabbed {
        margin-bottom: 0;
      }

      & when not (@pod-margin-top = null) {
        padding-top: @pod-margin-top;
      }

      & when not (@pod-margin-bottom = null) {
        margin-bottom: -@pod-margin-bottom;
      }

      &-tabs {
        display: none;
      }

      &-dropdown {
        border-top: 1px solid @page-header-navigation-dropdown-border-color;
        display: block;
        flex: 1 1 auto;
        margin-left: @page-header-navigation-dropdown-margin-left;
        margin-right: @page-header-navigation-dropdown-margin-right;

        &-button {
          border-radius: 0;
          height: @page-header-dropdown-menu-button-height;
          padding-left: @page-header-navigation-dropdown-padding-left;
          padding-right: @page-header-navigation-dropdown-padding-right;
          text-align: left;
          text-transform: none;
          width: 100%;

          button& {
            display: block;
          }
        }

        &-menu .is-selected,
        &-active-item {
          color: @page-header-navigation-dropdown-item-active-color;
        }

        &-menu {
          border-radius: 0;
          max-width: none;
          width: 100%;

          &.up {
            box-shadow: 0 -1px 0 @page-header-navigation-dropdown-menu-border-color;
            margin-bottom: @page-header-dropdown-menu-button-height * -1;
          }

          &.down {
            box-shadow: 0 1px 0 @page-header-navigation-dropdown-menu-border-color;
            margin-top: @page-header-dropdown-menu-button-height * -1;
          }

          li {
            height: @page-header-dropdown-menu-button-height;
            line-height: @page-header-dropdown-menu-button-height;
            padding: @page-header-navigation-dropdown-padding-top @page-header-navigation-dropdown-padding-right @page-header-navigation-dropdown-padding-bottom @page-header-navigation-dropdown-padding-left;
          }

          .dropdown-menu-items {
            padding-bottom: 0;
            padding-top: 0;
          }
        }

        &-active-item {
          display: flex;
        }

        &-label {
          flex: 1 1 auto;
        }

        &-caret {
          flex: 0 0 auto;

          .icon {
            display: block;
          }
        }
      }
    }

    &-actions {
      flex: 0 0 auto;
    }
  }
}

& when (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-small-enabled) {

      .page-header {

        &-content-section {

          &-primary {
            padding-left: @page-header-content-section-primary-padding-left-screen-small;
          }
        }

        &-sidebar-toggle {
          left: @page-header-sidebar-toggle-left-screen-small;
          padding: @page-header-sidebar-toggle-padding-screen-small;
        }

        &-breadcrumb {
          margin-right: @page-header-breadcrumbs-margin-right-screen-small;

          &-content-secondary {
            margin-left: @page-header-breadcrumbs-margin-right-screen-small;
          }

          &-item {

            &-icon {

              &-container {
                padding-left: @page-header-breadcrumb-item-icon-container-padding-left-screen-small;
              }
            }
          }
        }

        &-navigation {

          & when not (@pod-margin-top-screen-small = null) {
            padding-top: @pod-margin-top-screen-small;
          }

          & when not (@pod-margin-bottom-screen-small = null) {
            margin-bottom: -@pod-margin-bottom-screen-small;
          }

          &-dropdown {
            margin-left: @page-header-navigation-dropdown-margin-left-screen-small;
            margin-right: @page-header-navigation-dropdown-margin-right-screen-small;

            &-button {
              height: @page-header-dropdown-menu-button-height-screen-small;
              padding-left: @page-header-navigation-dropdown-padding-left-screen-small;
              padding-right: @page-header-navigation-dropdown-padding-right-screen-small;
            }

            &-menu {

              &.up {
                margin-bottom: @page-header-dropdown-menu-button-height-screen-small * -1;
              }

              &.down {
                margin-top: @page-header-dropdown-menu-button-height-screen-small * -1;
              }

              li {
                height: @page-header-dropdown-menu-button-height-screen-small;
                line-height: @page-header-dropdown-menu-button-height-screen-small;
                padding: @page-header-navigation-dropdown-padding-top-screen-small @page-header-navigation-dropdown-padding-right-screen-small @page-header-navigation-dropdown-padding-bottom-screen-small @page-header-navigation-dropdown-padding-left-screen-small;
              }
            }
          }
        }
      }
    }
  }
}

& when (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-medium-enabled) {

      .page-header {

        &-content-section {

          &-primary {
            padding-left: @page-header-content-section-primary-padding-left-screen-medium;

            .sidebar-docked & {
              padding-left: 0;
            }
          }
        }

        &-sidebar-toggle {
          left: @page-header-sidebar-toggle-left-screen-medium;
          padding: @page-header-sidebar-toggle-padding-screen-medium;

          .sidebar-docked & {
            display: none;
          }
        }

        &-breadcrumb {
          margin-right: @page-header-breadcrumbs-margin-right-screen-medium;

          &-content-secondary {
            margin-left: @page-header-breadcrumbs-margin-right-screen-medium;
          }

          &-item {

            &-icon {

              &-container {
                padding-left: @page-header-breadcrumb-item-icon-container-padding-left-screen-medium;
              }
            }
          }
        }

        &-navigation {

          & when not (@pod-margin-top-screen-medium = null) {
            padding-top: @pod-margin-top-screen-medium;
          }

          & when not (@pod-margin-bottom-screen-medium = null) {
            margin-bottom: -@pod-margin-bottom-screen-medium;
          }

          &-tabs {
            display: block;
          }

          &-dropdown {
            display: none;
          }
        }
      }
    }
  }
}

& when (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-large-enabled) {

      .page-header {

        &-content-section {

          &-primary {
            min-height: @button-height-screen-large;
            padding-left: @page-header-content-section-primary-padding-left-screen-large;
          }
        }

        &-sidebar-toggle {
          left: @page-header-sidebar-toggle-left-screen-large;
          padding: @page-header-sidebar-toggle-padding-screen-large;
        }

        &-breadcrumb {
          margin-right: @page-header-breadcrumbs-margin-right-screen-large;

          &-content-secondary {
            margin-left: @page-header-breadcrumbs-margin-right-screen-large;
          }

          &-item {

            &-icon {

              &-container {
                padding-left: @page-header-breadcrumb-item-icon-container-padding-left-screen-large;
              }
            }
          }
        }

        &-navigation {

          & when not (@pod-margin-top-screen-large = null) {
            padding-top: @pod-margin-top-screen-large;
          }

          & when not (@pod-margin-bottom-screen-large = null) {
            margin-bottom: -@pod-margin-bottom-screen-large;
          }
        }
      }
    }
  }
}

& when (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-jumbo-enabled) {

      .page-header {

        &-content-section {

          &-primary {
            padding-left: @page-header-content-section-primary-padding-left-screen-jumbo;
          }
        }

        &-sidebar-toggle {
          left: @page-header-sidebar-toggle-left-screen-jumbo;
          padding: @page-header-sidebar-toggle-padding-screen-jumbo;
        }

        &-breadcrumb {
          margin-right: @page-header-breadcrumbs-margin-right-screen-jumbo;

          &-content-secondary {
            margin-left: @page-header-breadcrumbs-margin-right-screen-jumbo;
          }

          &-item {

            &-icon {

              &-container {
                padding-left: @page-header-breadcrumb-item-icon-container-padding-left-screen-jumbo;
              }
            }
          }
        }

        &-navigation {

          & when not (@pod-margin-top-screen-jumbo = null) {
            padding-top: @pod-margin-top-screen-jumbo;
          }

          & when not (@pod-margin-bottom-screen-jumbo = null) {
            margin-bottom: -@pod-margin-bottom-screen-jumbo;
          }
        }
      }
    }
  }
}
