/* Page Header */

& when (@page-header-enabled) {

  .page-header {
    .clearfix();
    flex: 0 1 auto;
    position: relative;

    &:before {
      background-color: color-lighten(@neutral, 80);
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  // TODO: Remove this if we aren't going to use it.
  .page-navigation-sidebar-toggle {
    display: none;
  }

  .page-header-content-section {
    align-items: center;
    display: flex;
  }

  .page-header-title {
    .element-spacing(page-header-title, null, null);
    .element-text-size(page-header-title, null);
    .element-text-style(page-header-title);
    .property-variant(page-header-title, opacity, null, null);
    display: block;

    /* Layout Variants */

    &.short {
      .element-spacing(page-header-title, short, null);
    }

    &.tall {
      .element-spacing(page-header-title, tall, null);
    }

    /* Styling Variants */

    & when (@page-header-title-emphasis-enabled) {

      &.emphasis,
      .emphasis {
        .element-text-style(page-header-title-emphasis);
        .property-variant(page-header-title-emphasis, opacity, null, null);
      }
    }

    & when (@page-header-title-muted-enabled) {

      &.muted,
      .muted {
        .element-text-style(page-header-title-muted);
        .property-variant(page-header-title-muted, opacity, null, null);
      }
    }

    & when (@page-header-title-inverse-enabled) {

      &.inverse {
        .element-text-style(page-header-title-inverse);
        .property-variant(page-header-title-inverse, opacity, null, null);

        & when (@page-header-title-inverse-emphasis-enabled) {

          &.emphasis,
          .emphasis {
            .element-text-style(page-header-title-inverse-emphasis);
            .property-variant(page-header-title-inverse-emphasis, opacity, null, null);
          }
        }

        & when (@page-header-title-inverse-muted-enabled) {

          &.muted,
          .muted {
            .element-text-style(page-header-title-inverse-muted);
            .property-variant(page-header-title-inverse-muted, opacity, null, null);
          }
        }
      }
    }
  }

  .page-header-navigation {
    align-items: flex-start;
    display: flex;

    .menu-tabbed {
      margin-bottom: 0;
    }

    & when not (@pod-margin-top = null) {
      padding-top: @pod-margin-top;
    }

    & when not (@pod-margin-bottom = null) {
      margin-bottom: -@pod-margin-bottom;
    }
  }

  .page-header-content-section-secondary-detail {
    margin-left: auto;
  }

  .page-header-breadcrumbs {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;

    // This extra classname is necessary to override specificity from CNVS.
    &.list-inline {

      & > li {
        display: inline-block;
        float: none;
        line-height: 2rem;
        margin-right: @base-spacing-unit * 1/4;
        vertical-align: middle;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .page-header-breadcrumb-primary {
    flex: 0 0 auto;

    .icon {
      margin-right: @base-spacing-unit * 1/8;
    }

    .dropdown {

      .button {
        background: none;
        border: 0;
        border-radius: 0;
        padding: 0;
      }
    }
  }

  .page-header-breadcrumb-secondary {
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
      flex: 0 0 auto;
      min-width: auto;
      overflow: visible;
    }
  }

  .page-header-breadcrumb-caret {
    flex: 0 0 auto;
  }

  .page-header-actions {
    flex: 0 0 auto;
  }
}

& when (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-small-enabled) {

      .page-header-title {
        .element-spacing(page-header-title, null, screen-small);
        .element-text-size(page-header-title, screen-small);

        /* Layout Variants */

        &.short {
          .element-spacing(page-header-title, short, screen-small);
        }

        &.tall {
          .element-spacing(page-header-title, tall, screen-small);
        }
      }

      .page-header-navigation {

        & when not (@pod-margin-top-screen-small = null) {
          padding-top: @pod-margin-top-screen-small;
        }

        & when not (@pod-margin-bottom-screen-small = null) {
          margin-bottom: -@pod-margin-bottom-screen-small;
        }
      }

      .page-header-breadcrumbs {

        &.list-inline {

          & > li {
            margin-right: @base-spacing-unit-screen-small * 1/4;
          }
        }
      }

      .page-header-breadcrumb-primary {

        .icon {
          margin-right: @base-spacing-unit-screen-small * 1/8;
        }
      }
    }
  }
}

& when (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-medium-enabled) {

      .page-header-title {
        .element-spacing(page-header-title, null, screen-medium);
        .element-text-size(page-header-title, screen-medium);

        /* Layout Variants */

        &.short {
          .element-spacing(page-header-title, short, screen-medium);
        }

        &.tall {
          .element-spacing(page-header-title, tall, screen-medium);
        }
      }

      .page-header-navigation {

        & when not (@pod-margin-top-screen-medium = null) {
          padding-top: @pod-margin-top-screen-medium;
        }

        & when not (@pod-margin-bottom-screen-medium = null) {
          margin-bottom: -@pod-margin-bottom-screen-medium;
        }
      }

      .page-header-breadcrumbs {

        &.list-inline {

          & > li {
            margin-right: @base-spacing-unit-screen-medium * 1/4;
          }
        }
      }

      .page-header-breadcrumb-primary {

        .icon {
          margin-right: @base-spacing-unit-screen-medium * 1/8;
        }
      }
    }
  }
}

& when (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-large-enabled) {

      .page-header-title {
        .element-text-size(page-header-title, screen-large);
        .element-spacing(page-header-title, null, screen-large);

        /* Layout Variants */

        &.short {
          .element-spacing(page-header-title, short, screen-large);
        }

        &.tall {
          .element-spacing(page-header-title, tall, screen-large);
        }
      }

      .page-header-navigation {

        & when not (@pod-margin-top-screen-large = null) {
          padding-top: @pod-margin-top-screen-large;
        }

        & when not (@pod-margin-bottom-screen-large = null) {
          margin-bottom: -@pod-margin-bottom-screen-large;
        }
      }

      .page-header-breadcrumbs {

        &.list-inline {

          & > li {
            margin-right: @base-spacing-unit-screen-large * 1/4;
          }
        }
      }

      .page-header-breadcrumb-primary {

        .icon {
          margin-right: @base-spacing-unit-screen-large * 1/8;
        }
      }
    }
  }
}

& when (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@page-header-enabled) and (@page-header-screen-jumbo-enabled) {

      .page-header-title {
        .element-spacing(page-header-title, null, screen-jumbo);
        .element-text-size(page-header-title, screen-jumbo);

        /* Layout Variants */

        &.short {
          .element-spacing(page-header-title, short, screen-jumbo);
        }

        &.tall {
          .element-spacing(page-header-title, tall, screen-jumbo);
        }
      }

      .page-header-navigation {

        & when not (@pod-margin-top-screen-jumbo = null) {
          padding-top: @pod-margin-top-screen-jumbo;
        }

        & when not (@pod-margin-bottom-screen-jumbo = null) {
          margin-bottom: -@pod-margin-bottom-screen-jumbo;
        }
      }

      .page-header-breadcrumbs {

        &.list-inline {

          & > li {
            margin-right: @base-spacing-unit-screen-jumbo * 1/4;
          }
        }
      }

      .page-header-breadcrumb-primary {

        .icon {
          margin-right: @base-spacing-unit-screen-jumbo * 1/8;
        }
      }
    }
  }
}
