/* Page Header */

& when (@page-header-enabled) {

  .page-header {
    .clearfix();
    position: relative;

    &:before {
      background-color: color-lighten(@neutral, 80);
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .page-header-subheadline {

      a {
        text-decoration: none;
      }

    }

  }

  .page-navigation-sidebar-toggle {
    display: none;
  }

  .page-header-heading {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .page-header-breadcrumbs {
    flex: 1 1 0;
    white-space: nowrap;

    & > li {
      // Overriding specificity from CNVS. :(
      display: inline-block !important;
      float: none !important;
      margin-right: @base-spacing-unit * 1/4;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }

    }

  }

  .page-header-breadcrumb-primary {

    .icon {
      margin-right: @base-spacing-unit * 1/8;
    }

    .dropdown {

      .button {
        border-radius: 0;
        background: none;
        border: 0;
        padding: 0;
      }

    }

  }

  .page-header-actions {
    flex: 0 0 auto;
  }

  /* Page Header Navigation */

  .page-header-navigation {

    & when not (@pod-margin-bottom = null) {

      & when (@pod-short-margin-top-scale = null) {
        margin-bottom: -@pod-margin-bottom;
        padding-top: @pod-margin-bottom;
      }

      & when not (@pod-short-margin-top-scale = null) {
        margin-bottom: -@pod-margin-bottom * @pod-short-margin-top-scale;
        padding-top: @pod-margin-bottom * @pod-short-margin-top-scale;
      }

    }

    .menu-tabbed {
      margin-bottom: 0;
    }

  }

}

& when (@page-header-enabled) and (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    .page-header-breadcrumbs {

      & > li {
        margin-right: @base-spacing-unit-screen-small * 1/4;
      }

    }

    .page-header-breadcrumb-primary {

      .icon {
        margin-right: @base-spacing-unit-screen-small * 1/8;
      }

    }

    // Page Header Navigation

    .page-header-navigation {

      & when not (@pod-margin-bottom-screen-small = null) {

        & when (@pod-short-margin-top-scale = null) {
          margin-bottom: -@pod-margin-bottom-screen-small;
          padding-top: @pod-margin-bottom-screen-small;
        }

        & when not (@pod-short-margin-top-scale = null) {
          margin-bottom: -@pod-margin-bottom-screen-small * @pod-short-margin-top-scale;
          padding-top: @pod-margin-bottom-screen-small * @pod-short-margin-top-scale;
        }

      }

    }

  }

}

& when (@page-header-enabled) and (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    .page-header-breadcrumbs {

      & > li {
        margin-right: @base-spacing-unit-screen-medium * 1/4;
      }

    }

    .page-header-breadcrumb-primary {

      .icon {
        margin-right: @base-spacing-unit-screen-medium * 1/8;
      }

    }

    // Page Header Navigation

    .page-header-navigation {

      & when not (@pod-margin-bottom-screen-medium = null) {

        & when (@pod-short-margin-top-scale = null) {
          margin-bottom: -@pod-margin-bottom-screen-medium;
          padding-top: @pod-margin-bottom-screen-medium;
        }

        & when not (@pod-short-margin-top-scale = null) {
          margin-bottom: -@pod-margin-bottom-screen-medium * @pod-short-margin-top-scale;
          padding-top: @pod-margin-bottom-screen-medium * @pod-short-margin-top-scale;
        }

      }

    }

  }

}

& when (@page-header-enabled) and (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    .page-header-breadcrumbs {

      & > li {
        margin-right: @base-spacing-unit-screen-large * 1/4;
      }

    }

    .page-header-breadcrumb-primary {

      .icon {
        margin-right: @base-spacing-unit-screen-large * 1/8;
      }

    }

    // Page Header Navigation

    .page-header-navigation {

      & when not (@pod-margin-bottom-screen-large = null) {

        & when (@pod-short-margin-top-scale = null) {
          margin-bottom: -@pod-margin-bottom-screen-large;
          padding-top: @pod-margin-bottom-screen-large;
        }

        & when not (@pod-short-margin-top-scale = null) {
          margin-bottom: -@pod-margin-bottom-screen-large * @pod-short-margin-top-scale;
          padding-top: @pod-margin-bottom-screen-large * @pod-short-margin-top-scale;
        }

      }

    }

  }

}

& when (@page-header-enabled) and (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    .page-header-breadcrumbs {

      & > li {
        margin-right: @base-spacing-unit-screen-jumbo * 1/4;
      }

    }

    .page-header-breadcrumb-primary {

      .icon {
        margin-right: @base-spacing-unit-screen-jumbo * 1/8;
      }

    }

    // Page Header Navigation

    .page-header-navigation {

      & when not (@pod-margin-bottom-screen-jumbo = null) {

        & when (@pod-short-margin-top-scale = null) {
          margin-bottom: -@pod-margin-bottom-screen-jumbo;
          padding-top: @pod-margin-bottom-screen-jumbo;
        }

        & when not (@pod-short-margin-top-scale = null) {
          margin-bottom: -@pod-margin-bottom-screen-jumbo * @pod-short-margin-top-scale;
          padding-top: @pod-margin-bottom-screen-jumbo * @pod-short-margin-top-scale;
        }

      }

    }

  }

}
