& when (@badges-enabled) {

  .badge {
    color: @body-background-color;
    font-size: inherit;
    line-height: inherit;
    padding: 0 @base-spacing-unit * 0.25;
    background-color: @badge-background-color;
    border-radius: 1000px !important;

    &:empty {
      display: none;
    }

    &.inverse {
      background-color: @badge-background-color-inverse;
    }

  }

  // TODO: Audit the need for this white background color.
  .active {

    .badge {
      background-color: @white;
    }

  }

  .badge-container {
    display: flex;

    & > *:first-child {
      flex-grow: 1;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .badge {
      align-self: center;
      flex-shrink: 0;
      margin-left: 0.25 * @base-spacing-unit;
    }

    // TODO: Audit the need for this white background color.
    .inverse &,
    &.inverse {

      .badge {
        background-color: @white;
      }

    }

    // TODO: Audit the need for this white background color.
    &.badge-primary {

      .badge {
        background-color: @purple;
        color: color-lighten(@white, 40);
      }

    }

    // TODO: This is specific to the packages view, so maybe move it there or
    // find a better abstracted name.
    &.selected-badge {
      align-items: center;
      margin-top: @base-spacing-unit * 0.25;

      & > *:last-child {
        margin-left: @base-spacing-unit * 0.5;
      }

      .badge {
        flex-grow: 0;
        padding: @base-spacing-unit * 0.15 @base-spacing-unit * 2/3 @base-spacing-unit * 0.15 @base-spacing-unit * 2/3;
      }

    }

  }

}

.dot {

  &.over-capacity {
    animation: candy-stripe 1s linear infinite;
    background-size: 16px 16px;
    background-image: linear-gradient(-45deg, color-lighten(@green, -30) 0,
      color-lighten(@green, -30) 25%, color-lighten(@green, -50) 25%,
      color-lighten(@green, -50) 50%, color-lighten(@green, -30) 50%,
      color-lighten(@green, -30) 75%, color-lighten(@green, -50) 75%,
      color-lighten(@green, -50) 100%);
  }

}

& when (@badges-enabled) and (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    .badge {

      .badge-container & {
        margin-left: 0.25 * @base-spacing-unit-screen-small;
      }

    }

  }

}

& when (@badges-enabled) and (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    .badge {

      .badge-container & {
        margin-left: 0.25 * @base-spacing-unit-screen-medium;
      }

    }

  }

}

& when (@badges-enabled) and (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    .badge {

      .badge-container & {
        margin-left: 0.25 * @base-spacing-unit-screen-large;
      }

    }

  }

}

& when (@badges-enabled) and (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    .badge {

      .badge-container & {
        margin-left: 0.25 * @base-spacing-unit-screen-jumbo;
      }

    }

  }

}
