/* Message Content */

// Margin Top

@message-content-margin-top: null;
@message-content-margin-top-screen-small: null;
@message-content-margin-top-screen-medium: null;
@message-content-margin-top-screen-large: null;
@message-content-margin-top-screen-jumbo: null;

// Margin Bottom

@message-content-margin-bottom: null;
@message-content-margin-bottom-screen-small: null;
@message-content-margin-bottom-screen-medium: null;
@message-content-margin-bottom-screen-large: null;
@message-content-margin-bottom-screen-jumbo: null;

// Margin Left

@message-content-margin-left: 16px + (@base-spacing-unit * 0.5);
@message-content-margin-left-screen-small: 16px + (@base-spacing-unit-screen-small * 0.5);
@message-content-margin-left-screen-medium: 16px + (@base-spacing-unit-screen-medium * 0.5);
@message-content-margin-left-screen-large: 16px + (@base-spacing-unit-screen-large * 0.5);
@message-content-margin-left-screen-jumbo: 16px + (@base-spacing-unit-screen-jumbo * 0.5);

// Margin Right

@message-content-margin-right: null;
@message-content-margin-right-screen-small: null;
@message-content-margin-right-screen-medium: null;
@message-content-margin-right-screen-large: null;
@message-content-margin-right-screen-jumbo: null;

// Padding Top

@message-content-padding-top: null;
@message-content-padding-top-screen-small: null;
@message-content-padding-top-screen-medium: null;
@message-content-padding-top-screen-large: null;
@message-content-padding-top-screen-jumbo: null;

// Padding Bottom

@message-content-padding-bottom: null;
@message-content-padding-bottom-screen-small: null;
@message-content-padding-bottom-screen-medium: null;
@message-content-padding-bottom-screen-large: null;
@message-content-padding-bottom-screen-jumbo: null;

// Padding Left

@message-content-padding-left: null;
@message-content-padding-left-screen-small: null;
@message-content-padding-left-screen-medium: null;
@message-content-padding-left-screen-large: null;
@message-content-padding-left-screen-jumbo: null;

// Padding Right

@message-content-padding-right: null;
@message-content-padding-right-screen-small: null;
@message-content-padding-right-screen-medium: null;
@message-content-padding-right-screen-large: null;
@message-content-padding-right-screen-jumbo: null;

/* Message Icon */

// Width

@message-icon-width: 16px;
@message-icon-width-screen-small: null;
@message-icon-width-screen-medium: null;
@message-icon-width-screen-large: null;
@message-icon-width-screen-jumbo: null;

// Height

@message-icon-height: 16px;
@message-icon-height-screen-small: null;
@message-icon-height-screen-medium: null;
@message-icon-height-screen-large: null;
@message-icon-height-screen-jumbo: null;

// Margin Top

@message-icon-margin-top: 1px;
@message-icon-margin-top-screen-small: null;
@message-icon-margin-top-screen-medium: null;
@message-icon-margin-top-screen-large: 2px;
@message-icon-margin-top-screen-jumbo: null;

// Margin Bottom

@message-icon-margin-bottom: null;
@message-icon-margin-bottom-screen-small: null;
@message-icon-margin-bottom-screen-medium: null;
@message-icon-margin-bottom-screen-large: null;
@message-icon-margin-bottom-screen-jumbo: null;

// Margin Left

@message-icon-margin-left: null;
@message-icon-margin-left-screen-small: null;
@message-icon-margin-left-screen-medium: null;
@message-icon-margin-left-screen-large: null;
@message-icon-margin-left-screen-jumbo: null;

// Margin Right

@message-icon-margin-right: @base-spacing-unit * 0.5;
@message-icon-margin-right-screen-small: @base-spacing-unit-screen-small * 0.5;
@message-icon-margin-right-screen-medium: @base-spacing-unit-screen-medium * 0.5;
@message-icon-margin-right-screen-large: @base-spacing-unit-screen-large * 0.5;
@message-icon-margin-right-screen-jumbo: @base-spacing-unit-screen-jumbo * 0.5;

// Padding Top

@message-icon-padding-top: null;
@message-icon-padding-top-screen-small: null;
@message-icon-padding-top-screen-medium: null;
@message-icon-padding-top-screen-large: null;
@message-icon-padding-top-screen-jumbo: null;

// Padding Bottom

@message-icon-padding-bottom: null;
@message-icon-padding-bottom-screen-small: null;
@message-icon-padding-bottom-screen-medium: null;
@message-icon-padding-bottom-screen-large: null;
@message-icon-padding-bottom-screen-jumbo: null;

// Padding Left

@message-icon-padding-left: null;
@message-icon-padding-left-screen-small: null;
@message-icon-padding-left-screen-medium: null;
@message-icon-padding-left-screen-large: null;
@message-icon-padding-left-screen-jumbo: null;

// Padding Right

@message-icon-padding-right: null;
@message-icon-padding-right-screen-small: null;
@message-icon-padding-right-screen-medium: null;
@message-icon-padding-right-screen-large: null;
@message-icon-padding-right-screen-jumbo: null;
