@message-enabled: true;

@message-icon-margin-right: @base-spacing-unit * 1/3;
@message-icon-margin-right-screen-small: @base-spacing-unit-screen-small * 1/3;
@message-icon-margin-right-screen-medium: @base-spacing-unit-screen-medium * 1/3;
@message-icon-margin-right-screen-large: @base-spacing-unit-screen-large * 1/3;
@message-icon-margin-right-screen-jumbo: @base-spacing-unit-screen-jumbo * 1/3;
