/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
container/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
Container (Fixed)
----------------------------------------------------------------------------- */

.layout-box.containers-fixed {

  margin: 0 auto;

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

  }

}



& when (@layout-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    /* -----------------------------------------------------------------------------
    Container (Fixed)
    ----------------------------------------------------------------------------- */

    .layout-box.containers-fixed,
    .layout-box.containers-fixed .container {

      width: 400px !important;

    }

  }

}



& when (@layout-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    /* -----------------------------------------------------------------------------
    Container (Fixed)
    ----------------------------------------------------------------------------- */

    .layout-box.containers-fixed,
    .layout-box.containers-fixed .container {

      width: 500px !important;

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    /* -----------------------------------------------------------------------------
    Container (Fixed)
    ----------------------------------------------------------------------------- */

    .layout-box.containers-fixed,
    .layout-box.containers-fixed .container {

      width: 680px !important;

    }

  }

}
