@icon-tiny-enabled: true;

/*
 * Responsive Scaling
 */

@icon-tiny-screen-small-enabled: true;
@icon-tiny-screen-medium-enabled: true;
@icon-tiny-screen-large-enabled: true;
@icon-tiny-screen-jumbo-enabled: true;

/*
 * Layout
 */

// Width

@icon-tiny-width: 10px;
@icon-tiny-width-screen-small: null;
@icon-tiny-width-screen-medium: null;
@icon-tiny-width-screen-large: null;
@icon-tiny-width-screen-jumbo: null;

// Height

@icon-tiny-height: @icon-tiny-width;
@icon-tiny-height-screen-small: @icon-tiny-width-screen-small;
@icon-tiny-height-screen-medium: @icon-tiny-width-screen-medium;
@icon-tiny-height-screen-large: @icon-tiny-width-screen-large;
@icon-tiny-height-screen-jumbo: @icon-tiny-width-screen-jumbo;

// Border Radius

@icon-tiny-border-radius: null;
@icon-tiny-border-radius-screen-small: null;
@icon-tiny-border-radius-screen-medium: null;
@icon-tiny-border-radius-screen-large: null;
@icon-tiny-border-radius-screen-jumbo: null;

/* Margin */

// Margin Top

@icon-tiny-margin-top: null;
@icon-tiny-margin-top-screen-small: null;
@icon-tiny-margin-top-screen-medium: null;
@icon-tiny-margin-top-screen-large: null;
@icon-tiny-margin-top-screen-jumbo: null;

// Margin Bottom

@icon-tiny-margin-bottom: null;
@icon-tiny-margin-bottom-screen-small: null;
@icon-tiny-margin-bottom-screen-medium: null;
@icon-tiny-margin-bottom-screen-large: null;
@icon-tiny-margin-bottom-screen-jumbo: null;

// Margin Left

@icon-tiny-margin-left: null;
@icon-tiny-margin-left-screen-small: null;
@icon-tiny-margin-left-screen-medium: null;
@icon-tiny-margin-left-screen-large: null;
@icon-tiny-margin-left-screen-jumbo: null;

// Margin Right

@icon-tiny-margin-right: null;
@icon-tiny-margin-right-screen-small: null;
@icon-tiny-margin-right-screen-medium: null;
@icon-tiny-margin-right-screen-large: null;
@icon-tiny-margin-right-screen-jumbo: null;

/* Padding */

// Padding Top

@icon-tiny-padding-top: null;
@icon-tiny-padding-top-screen-small: null;
@icon-tiny-padding-top-screen-medium: null;
@icon-tiny-padding-top-screen-large: null;
@icon-tiny-padding-top-screen-jumbo: null;

// Padding Bottom

@icon-tiny-padding-bottom: null;
@icon-tiny-padding-bottom-screen-small: null;
@icon-tiny-padding-bottom-screen-medium: null;
@icon-tiny-padding-bottom-screen-large: null;
@icon-tiny-padding-bottom-screen-jumbo: null;

// Padding Left

@icon-tiny-padding-left: null;
@icon-tiny-padding-left-screen-small: null;
@icon-tiny-padding-left-screen-medium: null;
@icon-tiny-padding-left-screen-large: null;
@icon-tiny-padding-left-screen-jumbo: null;

// Padding Right

@icon-tiny-padding-right: null;
@icon-tiny-padding-right-screen-small: null;
@icon-tiny-padding-right-screen-medium: null;
@icon-tiny-padding-right-screen-large: null;
@icon-tiny-padding-right-screen-jumbo: null;
