@page-header-enabled: true;

/*
 * Responsive Scaling
 */

@page-header-screen-small-enabled: @layout-screen-small-enabled;
@page-header-screen-medium-enabled: @layout-screen-medium-enabled;
@page-header-screen-large-enabled: @layout-screen-large-enabled;
@page-header-screen-jumbo-enabled: @layout-screen-jumbo-enabled;

/*
 * Page Header Section
 */

// Padding (Horizontal)

@page-header-section-content-padding-horizontal: 12px;
@page-header-section-content-padding-horizontal-screen-small: null;
@page-header-section-content-padding-horizontal-screen-medium: null;
@page-header-section-content-padding-horizontal-screen-large: null;
@page-header-section-content-padding-horizontal-screen-jumbo: null;

/*
 * Page Header Section (Primary)
 */

// Height

@page-header-section-primary-height: @button-height;
@page-header-section-primary-height-screen-small: @button-height-screen-small;
@page-header-section-primary-height-screen-medium: @button-height-screen-medium;
@page-header-section-primary-height-screen-large: @button-height-screen-large;
@page-header-section-primary-height-screen-jumbo: @button-height-screen-jumbo;
