/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

components/dropdown-menus.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@dropdown-menu-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Dropdown Menu

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .dropdown {

    &.anchor-right {

      .dropdown-menu {

        left: auto;
        right: 0;

      }

    }

    &.open {

      .dropdown-menu {

        z-index: @z-index-dropdown;

      }

    }

    &.dropdown-wide {

      display: block;
      width: 100%;

      .dropdown-menu {

        width: 100%;

      }

    }

  }

  .dropdown-toggle {
    white-space: nowrap;

    .badge-container {

      display: inline-flex;

    }

    &.dropdown-toggle-transparent {

      background: transparent;
      height: auto;
      padding: 0;

      &:hover {
        background: transparent;
      }

    }

    &.dropdown-toggle-caret-align-top {

      &:after {

        margin-left: @base-spacing-unit * 1/3;
        margin-top: @base-spacing-unit * -4/3;

      }

    }

    .dropdown-toggle-label {

      display: inline-block;

    }

    .dropdown-toggle-label-primary,
    .dropdown-toggle-label-secondary {

      display: block;

    }

    .dropdown-toggle-label-primary {

      line-height: 1.2;

    }

    .dropdown-toggle-label-secondary {

      font-size: @body-text-font-size * 0.9;
      font-weight: 400;

    }

  }

  .dropdown-menu-list {

    li.clickable {
      cursor: pointer;
    }

  }


  .dropdown-menu-down-leave {
    z-index: @z-index-dropdown;
  }


  .dropdown-menu-up-leave {
    z-index: @z-index-dropdown;
  }


}
