@charts-enabled: true;

/*
 * Chart Colors
 */

@chart-axis-text-color: color-lighten(@neutral, 30);
@chart-axis-color: color-lighten(@neutral, 90);
@chart-axis-color-inverse: color-lighten(@neutral, 20);
